.error__container {
  width: 100%;
  height: calc(100vh - 525px);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow-x: hidden;
}

.error__container-bg {
  display: block;
  background-image: var(--error-page-bg-image-website);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 37vw;
  margin-top: 130px;
  position: relative;
}

.error__container-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 580px;
  height: 520px;
  background-color: var(--error-page-content-bg-color);
}

.error__container-content-header {
  width: 100%;
  text-align: center;
  color: var(--error-page-header-text-color);
  font-size: 25px;
  font-weight: 300;
  line-height: 68px;
  margin-bottom: 30px;
}

.error__container-content-body {
  width: 100%;
  text-align: center;
  color: var(--error-page-header-number-color);
  font-size: 96px;
  font-weight: bold;
  line-height: 88px;
  margin-bottom: 40px;
}

.error__container-content-footer {
  width: 100%;
  text-align: center;
  color: var(--error-page-info-text-color);
  font-size: 16px;
  font-weight: bold;
  line-height: 54px;
  margin-bottom: 40px;
}

@media (max-width: 1499px) {
  .error__container {
    width: 100%;
    height: calc(100vh - 525px);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    overflow-x: hidden;
  }
  .error__container-bg {
    display: block;
    background-image: var(--error-page-bg-image-website);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 37vw;
    margin-top: 80px;
    position: relative;
  }
  .error__container-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 580px;
    height: 520px;
    background-color: var(--error-page-content-bg-color);
  }
  .error__container-content-header {
    width: 100%;
    text-align: center;
    color: var(--error-page-header-text-color);
    font-size: 25px;
    font-weight: 300;
    line-height: 68px;
    margin-bottom: 8px;
  }
  .error__container-content-body {
    width: 100%;
    text-align: center;
    color: var(--error-page-header-number-color);
    font-size: 96px;
    font-weight: bold;
    line-height: 88px;
    margin-bottom: 15px;
  }
  .error__container-content-footer {
    width: 100%;
    text-align: center;
    color: var(--error-page-info-text-color);
    font-size: 16px;
    font-weight: bold;
    line-height: 54px;
  }
}

@media (max-width: 1099px) {
  .error__container {
    width: 100%;
    height: calc(100vh - 525px);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    overflow-x: hidden;
  }
  .error__container-bg {
    display: block;
    background-image: var(--error-page-bg-image-pad-pro);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 82vw;
    margin-top: 80px;
    position: relative;
  }
  .error__container-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 580px;
    height: 520px;
    background-color: var(--error-page-content-bg-color);
  }
  .error__container-content-header {
    width: 100%;
    text-align: center;
    color: var(--error-page-header-text-color);
    font-size: 25px;
    font-weight: 300;
    line-height: 68px;
    margin-bottom: 8px;
  }
  .error__container-content-body {
    width: 100%;
    text-align: center;
    color: var(--error-page-header-number-color);
    font-size: 96px;
    font-weight: bold;
    line-height: 88px;
    margin-bottom: 15px;
  }
  .error__container-content-footer {
    width: 100%;
    text-align: center;
    color: var(--error-page-info-text-color);
    font-size: 16px;
    font-weight: bold;
    line-height: 54px;
  }
}

@media (max-width: 767px) {
  .error__container {
    width: 100%;
    height: calc(100vh - 525px);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    overflow-x: hidden;
  }
  .error__container-bg {
    display: block;
    background-image: var(--error-page-bg-image-mobile);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 123vw;
    margin-top: 80px;
    position: relative;
  }
  .error__container-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 330px;
    height: 296px;
    background-color: var(--error-page-content-bg-color);
  }
  .error__container-content-header {
    width: 214px;
    text-align: center;
    color: var(--error-page-header-text-color);
    font-size: 14px;
    font-weight: 200;
    line-height: 38px;
    margin-bottom: 5px;
  }
  .error__container-content-body {
    width: 214px;
    text-align: center;
    color: var(--error-page-header-number-color);
    font-size: 54px;
    font-weight: bold;
    line-height: 49px;
    margin-bottom: 10px;
  }
  .error__container-content-footer {
    width: 214px;
    text-align: center;
    color: var(--error-page-info-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=404.css.map */