.mobile__fixture__n__standings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.mobile__fixture__n__standings .mb__fixture {
  display: block;
  max-width: 344px;
  width: 100%;
  height: auto;
  margin-right: 18px;
}

.mobile__fixture__n__standings .mb__fixture-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile__fixture__n__standings .mb__fixture-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile__fixture__n__standings .mb__fixture-card__header .card__header__title {
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: var(--news-heading-text-color);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.mobile__fixture__n__standings .mb__fixture-card__header .see__all__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: 500;
  color: var(--see-all-text-color);
  cursor: pointer;
  margin-right: 5px;
}

.mobile__fixture__n__standings .mb__fixture-card__header .see__all__btn-text {
  color: inherit;
}

.mobile__fixture__n__standings .mb__fixture-card__header .see__all__btn-text::after {
  content: ">";
  margin-left: 5px;
}

.mobile__fixture__n__standings .mb__fixture-card-divider {
  background-color: var(--aside-column-background-color);
  opacity: 0.2;
  margin: 17px 0 27px;
  height: 3px;
  width: 100%;
}

.mobile__fixture__n__standings .mb__fixture-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content-teams {
  display: block;
  margin-bottom: 26.7px;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content-teams .team-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content-teams .team-list .team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content-teams .team-list .team-item:first-child {
  margin-left: 0;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content-teams .team-list .team-item:last-child {
  margin-right: 0;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content-teams .team-list .team-item .team-item-img {
  width: 26.2px;
  height: 29.9px;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-result__title {
  background-color: transparent;
  width: 100%;
  height: 56.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-result__title .mb-result__title-bottom__layer {
  position: absolute;
  width: 100%;
  height: 56.3px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-result__title .mb-result__title-middle__layer {
  position: absolute;
  width: 95%;
  margin: 0 auto;
  height: 46.1px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-result__title .mb-result__title-text {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  width: 95%;
  margin: 0 auto;
  height: auto;
  text-align: center;
  color: var(--text-color-white);
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-container {
  display: block;
  width: calc(100% - 4px);
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: var(--fixture-score-date-bg-color);
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-date-wrapper .mb-tabs__links-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 40px;
  background-color: var(--fixture-score-date-bg-color);
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-date-wrapper .mb-tabs__links-list-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: var(--fixture-score-date-color);
  position: relative;
  padding: 10px;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: 500;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-date-wrapper .mb-tabs__links-list-item.is-active {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  font-weight: 600;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-date-wrapper .mb-tabs__links-list-item.is-active::before {
  content: attr(mb-content);
  text-align: center;
  background-image: url(../images/time22.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: absolute;
  padding: 7px 0 0;
  top: 5px;
  width: 55px;
  height: 40px;
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  font-weight: 600;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: var(--fixture-score-background-color);
  -webkit-box-shadow: var(--fixture-score-box-shadow);
          box-shadow: var(--fixture-score-box-shadow);
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-content-wrapper .mb-tabs__contents {
  display: block;
  width: 314px;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-content-wrapper .mb-tabs__contents-item {
  display: none;
  padding: 8px 10px 13px;
  background: #333642;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-content-wrapper .mb-tabs__contents-item.is-active {
  display: block;
  background: var(--fixture-score-background-color) var(--fixture-score-background) no-repeat center 30%;
  background-size: 160px 150px;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-content-wrapper .mb-tabs__contents-item .result_list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-content-wrapper .mb-tabs__contents-item .result_list .result_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-content-wrapper .mb-tabs__contents-item .result_list .result_item .result_row {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-content-wrapper .mb-tabs__contents-item .result_list .result_item .result_row .team_name {
  color: var(--fixture-score-team-name-color);
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: normal;
  width: calc(100% - 205px);
  height: auto;
  max-height: 32px;
  text-align: center;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-content-wrapper .mb-tabs__contents-item .result_list .result_item .result_row .team_image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--fixture-score-team-bg-color);
  border-radius: 50%;
  padding: 9px;
  width: 40px;
  height: 40px;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-content-wrapper .mb-tabs__contents-item .result_list .result_item .result_row .result {
  color: var(--fixture-score-result-color);
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  width: 60px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile__fixture__n__standings .mb__fixture-card__body .mb-card__content__result .mb-tab__list-content-wrapper .mb-tabs__contents-item .result_list .result_item .result_row .time {
  color: var(--fixture-score-time-color);
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: 500;
  width: 60px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile__fixture__n__standings .mb__standings {
  display: block;
  max-width: 344px;
  width: 100%;
  height: auto;
  margin-left: 18px;
}

.mobile__fixture__n__standings .mb__standings-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile__fixture__n__standings .mb__standings-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile__fixture__n__standings .mb__standings-card__header .card__header__title {
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: var(--news-heading-text-color);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.mobile__fixture__n__standings .mb__standings-card__header .see__all__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: 500;
  color: var(--see-all-text-color);
  cursor: pointer;
  margin-right: 5px;
}

.mobile__fixture__n__standings .mb__standings-card__header .see__all__btn-text {
  color: inherit;
}

.mobile__fixture__n__standings .mb__standings-card__header .see__all__btn-text::after {
  content: ">";
  margin-left: 5px;
}

.mobile__fixture__n__standings .mb__standings-card-divider {
  background-color: var(--aside-column-background-color);
  opacity: 0.2;
  margin: 18px 0 27px;
  height: 3px;
  width: 100%;
}

.mobile__fixture__n__standings .mb__standings-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content-teams {
  display: block;
  margin-bottom: 25px;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content-teams .team-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content-teams .team-list .team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content-teams .team-list .team-item:first-child {
  margin-left: 0;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content-teams .team-list .team-item:last-child {
  margin-right: 0;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content-teams .team-list .team-item .team-item-img {
  width: 26.3px;
  height: 29.9px;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-result__title {
  background-color: transparent;
  width: 100%;
  height: 56.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-result__title .mb-result__title-bottom__layer {
  position: absolute;
  width: 100%;
  height: 56.3px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-result__title .mb-result__title-middle__layer {
  position: absolute;
  width: 95%;
  margin: 0 auto;
  height: 46.1px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-result__title .mb-result__title-text {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  width: 95%;
  margin: 0 auto;
  height: auto;
  text-align: center;
  color: var(--text-color-white);
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--standings-background-color);
  -webkit-box-shadow: var(--standings-box-shadow);
          box-shadow: var(--standings-box-shadow);
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score {
  display: block;
  width: 280px;
  background: var(--standings-background-color) var(--standings-background) no-repeat 92.5% 95%;
  background-size: 120px 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px 10px;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score .mb-result_header-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score .mb-result_header-list-item.rank {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--standings-list-header-color);
  padding-left: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  width: 15%;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score .mb-result_header-list-item.club {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--standings-list-header-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  width: 60%;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score .mb-result_header-list-item.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--standings-list-header-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  width: 10%;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score .mb-result__body-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  width: 100%;
  padding: 9px 0;
  border-bottom: 1px solid rgba(193, 198, 201, 0.4);
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score .mb-result__body-list:last-child {
  border-bottom: none;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score .mb-result__body-list-item.rank {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 17%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: var(--standings-list-body-color);
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score .mb-result__body-list-item.rank .rankup {
  display: block;
  background: url(../icon/rank_up_icon.svg) no-repeat center center;
  background-size: cover;
  width: 10px;
  height: 10px;
  margin: 0 5px 0 auto;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score .mb-result__body-list-item.rank .rankdown {
  display: block;
  background: url(../icon/rank_down_icon.svg) no-repeat center center;
  background-size: cover;
  width: 10px;
  height: 10px;
  margin: 0 5px 0 0;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score .mb-result__body-list-item.rank .rank_same {
  display: block;
  background: url(../icon/rank_nochange_icon.svg) no-repeat center center;
  background-size: cover;
  width: 8px;
  height: 4px;
  margin: 0 5px 0 0;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score .mb-result__body-list-item.club {
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--standings-list-body-color);
  padding: 0 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 53%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score .mb-result__body-list-item.club > img {
  margin-right: 6px;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score .mb-result__body-list-item.club > span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.mobile__fixture__n__standings .mb__standings-card__body .mb-card__content__result .mb-table__content .mb-table__score .mb-result__body-list-item.score {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 5px 0 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: var(--standings-list-body-color);
  text-align: right;
}
/*# sourceMappingURL=fixture_n_standings.css.map */