footer {
  box-sizing: border-box;
  position: relative;
  background-color: #0f1119;
  width: 100%;
  /* height: 380px; */
  height: 395px;
  bottom: 0;
}

footer > .footer__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1369px;
  width: 100%;
  height: 196px;

  margin: 0 auto 109px;
  padding: 75px 0 0;
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(60% - 20px);
  height: 100%;
  margin-left: 20px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(40% - 20px);
  height: 100%;

  margin-right: 20px;
}

.footer__logo {
  background: url("../images/footer_logo.svg") no-repeat left center;
  background-size: contain;
  min-width: 160px;
  min-height: 90px;
  margin-bottom: 34px;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.footer__wrapper > .footer__text {
  display: block;
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #c1c6c9;
  height: 100%;
}

.mb__footer__divider {
  display: none;
}

.footer__wrapper > .social {
  list-style: none;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__wrapper > .social .social-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.footer__wrapper > .social .social-item a {
  width: 50px;
  height: 50px;
}

.footer__wrapper > .social .social-item a.facebook {
  background: url("../icon/b_facebook.png") no-repeat center center;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.footer__wrapper > .social .social-item:hover a.facebook {
  background: url("../icon/b_facebook_h.png") no-repeat center center;
}

.footer__wrapper > .social .social-item a.zalo {
  background: url("../icon/b_zalo.png") no-repeat center center;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.footer__wrapper > .social .social-item:hover a.zalo {
  background: url("../icon/b_zalo_h.png") no-repeat center center;
}

.footer__wrapper > .social .social-item a.tik_tok {
  background: url("../icon/b_tiktik.png") no-repeat center center;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.footer__wrapper > .social .social-item:hover a.tik_tok {
  background: url("../icon/b_tiktik_h.png") no-repeat center center;
}

.footer__wrapper > .social .social-item a.telegram {
  background: url("../icon/b_tg.png") no-repeat center center;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.footer__wrapper > .social .social-item:hover a.telegram {
  background: url("../icon/b_tg_h.png") no-repeat center center;
}

.footer__wrapper > .social .social-item a.rss {
  background: url("../icon/b_rss.png") no-repeat center center;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.footer__wrapper > .social .social-item:hover a.rss {
  background: url("../icon/b_rss_h.png") no-repeat center center;
}

.footer__wrapper > .social .social-item a.youtube {
  background: url("../icon/b_youtube.png") no-repeat center center;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.footer__wrapper > .social .social-item:hover a.youtube {
  background: url("../icon/b_youtube_h.png") no-repeat center center;
}

.footer__wrapper > .social .social-item a.instagram {
  background: url("../icon/b_ig.png") no-repeat center center;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.footer__wrapper > .social .social-item:hover a.instagram {
  background: url("../icon/b_ig_h.png") no-repeat center center;
}

.footer__right > .copyright {
  display: block;
  width: 400px;
  height: auto;
  margin: 40px auto 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #c1c6c9;
}

@media (max-width: 1024px) {
  footer {
    padding: 25px 100px;
    height: auto;
  }

  footer > .footer__container {
    padding: 0;
    height: auto;
    margin: 0;
  }

  .footer__left {
    width: calc(45% - 20px);
  }

  .footer__right {
    width: calc(55% - 20px);
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .footer__wrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer__wrapper > .footer__text,
  .footer__wrapper > .social {
    justify-content: flex-start;
    width: 90%;
    height: auto;
    margin: 10px 0;
  }
}

@media (max-width: 900px) {
  footer {
    padding: 50px 30px;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  footer > .footer__container {
    flex-direction: column;
    width: 100%;
  }

  .footer__left,
  .footer__right {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    height: auto;
  }

  .footer__logo {
    width: 300px;
    height: 170px;
  }

  .footer__wrapper {
    justify-content: center;
    align-items: center;
  }

  .footer__wrapper > .social {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .footer__text {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .footer__google__ads_400_x_130 {
    display: none;
  }

  .footer__right > .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .mb__footer__divider {
    display: block;
    height: 1px;
    background-color: rgba(112, 112, 112, 0.3);
    width: 100%;
    margin: 16px 0 46px;
  }
}

@media (max-width: 414px) {
  .footer__logo {
    width: 160px;
    height: 90px;
  }

  .footer__text > p {
    font-size: 12px;
  }

  .footer__right > .copyright {
    font-size: 10px;
  }
}
