/* Pure CSS For Hambuger BEGIN */
.nav > .menu-btn > label > .menu-btn__burger {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.nav > .menu-btn > label > .menu-btn__burger::before,
.nav > .menu-btn > label > .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.nav > .menu-btn > label > .menu-btn__burger::before {
  transform: translateY(-10px);
}

.nav > .menu-btn > label > .menu-btn__burger::after {
  transform: translateY(10px);
}

/* Hambuger Menu Effect BEGIN */
#nav-check:checked ~ .menu-btn > label > .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

#nav-check:checked ~ .menu-btn > label > .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

#nav-check:checked ~ .menu-btn > label > .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/* Hambuger Menu Effect END */

/* Pure CSS For Hambuger END */
