/* Header CSS BEGIN */
header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
  position: fixed;
  z-index: 999; /* Because This is fixed at top */
  box-shadow: var(--navbar-box-shadow);
}

header .nav__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--header-background-color);
  position: relative;
}

.nav__social-left {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}

.nav__social-right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.nav__social-left > ul,
.nav__social-right > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav__social-left > ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 100%;
  height: 100%;
  margin: 0 8px;
}

.nav__social-right > ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 100%;
  height: 100%;
  margin: 0 4px;
}

.nav__social-right > ul li:nth-child(5) {
  margin: 0 8px 0 4px;
}

.nav__social-right > ul li:nth-child(6) {
  margin: 0 8px;
}

.nav__social-left > ul .hot__sites {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: max-content;
  height: 100%;
  color: var(--standard-text-color);
  font-weight: bold;
}

.nav__social-left > ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--standard-text-color);
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.nav__social-left > ul li a img {
  width: 25px;
  height: 25px;
}

.nav__social-right > ul li a:hover > .zalo {
  background: url("../icon/zalo_01_h.png") no-repeat center center;
}

.nav__social-right > ul li a:hover > .tik_tok {
  background: url("../icon/tiktik_01_h.png") no-repeat center center;
}

.nav__social-right > ul li a:hover > .rss {
  background: url("../icon/rss_01.png") no-repeat center center;
}

.nav__social-right > ul li a:hover > .telegram {
  background: url("../icon/tg_01.png") no-repeat center center;
}

.nav__social-right > ul li a:hover > .facebook {
  background: url("../icon/fb_01_h.png") no-repeat center center;
}

.nav__social-right > ul li a:hover > .youtube {
  background: url("../icon/yt_01_h.png") no-repeat center center;
}

.nav__social-right > ul li a:hover > .instagram {
  background: url("../icon/ig_h.png") no-repeat center center;
}

.nav__social-left > ul li a.sport__teams:hover {
  transform: scale(1.5);
}

/* Header CSS END */

/* Responsive CSS BEGIN */
@media (max-width: 1555px) {
  /* header .nav__social {
    display: none;
  } */
}

@media (max-width: 1024px) {
  header .nav__social {
    display: none;
  }
}
/* Responsive CSS END */
