.hero {
  box-sizing: border-box;
  margin: 130px 0 0;
  padding: 0px;
  background: var(--hero-background) no-repeat center center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 710px;
}

#hero > .hero_image {
  max-width: 1480px; /* always stay at center */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  padding: 57px 20px;
}

#hero > .mobile_hero_image {
  display: none;
}

#hero > .hero_image .primary div:hover .content_header,
#hero > .hero_image .secondary div:hover .content_header {
  text-decoration: underline;
}

#hero > .hero_image .primary {
  box-sizing: border-box;
  width: 938px;
  height: 596px;
}

#hero > .hero_image .secondary {
  width: 469px;
  height: 293px;
  box-sizing: border-box;
}

#hero > .hero_image .primary > div {
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

#hero > .hero_image .secondary > div {
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;

  width: 100%;
  height: 100%;

  overflow: hidden;
  cursor: pointer;
}

#hero > .hero_image .secondary:last-child {
  margin-top: 10px;
}

#hero > .hero_image .secondary:first-child {
  margin-bottom: 10px;
}

#hero > .hero_image img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

#hero > .hero_image img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

#hero > .hero_image .card {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: auto;
  bottom: 0;
}

/* Primary */
#hero > .hero_image .primary .card .card_header {
  margin: 0 0 20px 25px;
}

#hero > .hero_image .primary .card .card_header .card_header_title {
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  background-color: #2d9afc;
  padding: 9px 12px;
  text-align: center;
  width: auto;
  height: auto;
}

#hero > .hero_image .primary .card .card_header .card_header_title:hover {
  font-weight: bold;
}

#hero > .hero_image .primary .card .card_header .card_header_title a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
}

#hero > .hero_image .primary .card .card_body {
  box-sizing: border-box;
  background: url("../icon/title_bg_web.svg") no-repeat left bottom;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 187px;
  color: #2d9afc;
  padding: 0 20px 0 85px;
}

#hero > .hero_image .primary .card .card_body .card_content_bg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: max-content;
  /* max-height: 187px; */
  box-sizing: border-box;
  padding-bottom: 85px;
}

#hero
  > .hero_image
  .primary
  .card
  .card_body
  .card_content_bg
  .card_content_bg-content {
  margin-top: 15px;
}

#hero > .hero_image .primary .card_body .card_content_bg .content_date {
  color: #407fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px;
}

#hero > .hero_image .primary .card_body .card_content_bg .content_header {
  margin: 0 0 10px;
  opacity: 0.95;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #011ca2;

  /* max title line is two lines */
  overflow: hidden;
  word-break: break-word;
  height: auto;
  -webkit-box-orient: vertical;
  max-height: 38px;
  display: block;
  display: -webkit-box;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

#hero > .hero_image .card_body .card_content_bg .content_paragraph {
  margin: 0;
  opacity: 0.95;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 22px;
  letter-spacing: normal;
  text-align: left;
  color: #011ca2;

  /* max title line is two lines */
  overflow: hidden;
  word-break: break-word;
  height: auto;
  -webkit-box-orient: vertical;
  max-height: 76px;
  display: block;
  display: -webkit-box;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
/* Primary */

/* Secondary */
#hero > .hero_image .secondary .card .card_header {
  margin: 0 0 9px 15px;
}

#hero > .hero_image .secondary .card .card_header .card_header_title {
  box-sizing: border-box;
  font-size: 12px;
  color: #fff;
  background-color: #2d9afc;
  text-align: center;
  padding: 9px 12px;
  width: 100%;
  height: 100%;
}

#hero > .hero_image .secondary .card .card_header .card_header_title:hover {
  font-weight: bold;
}

#hero > .hero_image .secondary .card .card_header .card_header_title a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  width: 100%;
  height: 100%;
}

#hero > .hero_image .secondary .card .card_body {
  box-sizing: border-box;
  background: url("../icon/title_bg_web_s.svg") no-repeat left bottom;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 94px;
  padding: 0 20px 0 40px;
}

#hero > .hero_image .secondary .card .card_body .card_content_bg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 13px 0 40px;
}

#hero > .hero_image .secondary .card_body .card_content_bg .content_header {
  margin: 4px 0 0;
  opacity: 0.95;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 22px;
  letter-spacing: normal;
  text-align: left;
  color: #011ca2;

  /* max title line is two lines */
  overflow: hidden;
  word-break: break-word;
  height: auto;
  -webkit-box-orient: vertical;
  max-height: 70px;
  display: block;
  display: -webkit-box;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

#hero > .hero_image .secondary .card_body .card_content_bg .content_date {
  color: #407fff;
  font-weight: bold;
  margin: 0 0 4px;
  opacity: 0.95;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
/* Secondary */

.hero_inner > a {
  position: relative;
}

.mobile_sliders {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

@media (max-width: 1499px) {
  .hero {
    margin: 80px 0 0;
    height: 47vw;
  }

  #hero > .hero_image {
    padding: 42px 26px;
  }

  #hero > .hero_image .primary {
    width: 67%;
    height: auto;
  }

  #hero > .hero_image .secondary {
    width: 32%;
    height: auto;
  }

  #hero > .hero_image .secondary > div {
    height: 20vw;
  }

  #hero > .hero_image .secondary:first-child {
    margin-bottom: 5px;
  }

  #hero > .hero_image .secondary:last-child {
    margin-top: 5px;
  }

  #hero > .hero_image .primary .card .card_body {
    padding: 0 20px 0 70px;
    height: 14vw;
  }

  /* #hero > .hero_image .secondary .card .card_body {
    height: 8vw;
  } */

  /* #hero > .hero_image .primary .card .card_body .card_content_bg{
    padding-bottom: 41px;
  } */

  /* Font Size BEGIN */
  #hero > .hero_image .primary .card .card_header .card_header_title {
    font-size: 0.938vw;
  }

  #hero > .hero_image .primary .card_body .card_content_bg .content_date {
    font-size: 1.068vw;
  }

  #hero > .hero_image .primary .card_body .card_content_bg .content_header {
    font-size: 2vw;
  }

  #hero > .hero_image .card_body .card_content_bg .content_paragraph {
    font-size: 1.068vw;
  }

  #hero > .hero_image .secondary .card_body .card_content_bg .content_header {
    font-size: 1.068vw;
  }
  /* Font Size END */
}

@media (max-width: 1385px) {
  .hero {
    height: 48vw;
  }
}

@media (max-width: 1330px) {
  .hero {
    height: 48vw;
  }
}

@media (max-width: 1212px) {
  .hero {
    height: 49vw;
  }
}

@media (max-width: 1200px) {
  #hero > .hero_image .secondary .card .card_body {
    height: 8vw;
  }
}

@media (max-width: 1150px) {
  .hero {
    height: 49vw;
  }
}

@media (max-width: 1077px) {
  .hero {
    height: 50vw;
  }
}

/* @media (max-width: 1099px) { */
@media (max-width: 1023px) {
  #hero {
    margin: 80px 0 0;
    height: auto;
    width: 100%;
  }

  #hero > .hero_image {
    display: none;
  }

  #hero > .mobile_hero_image {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  #hero > .mobile_hero_image input.mobile_hero_slider {
    display: none;
  }

  #slide1:checked ~ #mobile_slides .hero_inner {
    margin-left: 0;
  }

  #slide2:checked ~ #mobile_slides .hero_inner {
    margin-left: -100%;
  }

  #slide3:checked ~ #mobile_slides .hero_inner {
    margin-left: -200%;
  }

  article.heroslide {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 23px 0;
    width: 20%;
    float: left;
  }

  #mobile_slides .hero_inner {
    width: 500%;
  }

  #hero_overflow {
    width: 100%;
    overflow: hidden;
  }

  #slide1:checked ~ #mobile_slider_pagination label:nth-child(2),
  #slide2:checked ~ #mobile_slider_pagination label:nth-child(3),
  #slide3:checked ~ #mobile_slider_pagination label:nth-child(4) {
    background: #2d9afc;
    border-color: #2d9afc;
  }

  article.heroslide .content {
    background-color: var(--news-card-background-color);
    display: block;
    overflow: hidden;
    position: relative;
    width: 722px;
  }

  article.heroslide img {
    width: 100%;
    height: auto;
    width: 722px;
  }

  article.heroslide .content .tag_button {
    /* position: absolute;
    margin-top: 250px;
    margin-right: calc(722px - 116px); */
    /* margin-right: calc(100% - 116px); */

    box-sizing: border-box;
    background-color: var(--dodger-blue);
    color: var(--text-color-white);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    position: absolute;
    padding: 10px 20px;
    width: auto;
    bottom: 20px;

    /* position: absolute;
    top: 450px; */
    /* left: calc(350px - 220px); */
    /* left: calc(722px - 6px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */

    /* bottom: 150px;
    left: 190px; */

    /* left: 23px; */
    /* top: calc(100% - 255px); */

    /* top: 70%; */
    /* margin-bottom: 30px; */

    /* width: max-content;
    height: max-content;
    width: auto;
    height: auto; */
    color: #ffffff;
    font-size: 12px;
    opacity: 0.95;
    font-weight: 500;
    background-color: #2d9afc;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-left: 16px;
    width: auto;
  }

  article.heroslide .content .tag_button a {
    text-decoration: none;
    color: inherit;
  }

  article.heroslide > .card_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background: #ffffff url("../icon/hero_mobile.svg") no-repeat left center;
    background-size: contain;
    width: 100%;
    height: 140px;
    /* height: 100%; */
    max-height: 140px;
    padding-left: 40px;
    padding-right: 20px;

    width: 722px;
  }

  article.heroslide > .card_info > .card__info-content {
    margin-top: 18px;
    width: 100%;
  }

  article.heroslide > .card_info > .card__info-content > .date {
    width: 100%;
    height: 18px;
    line-height: 1;
    opacity: 0.95;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #407fff;
  }

  article.heroslide > .card_info > .card__info-content > .title {
    width: 100%;
    margin: 5px 0 9px;
    opacity: 0.95;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #011ca2;

    text-align: left;
    overflow: hidden;
    word-break: break-word;
    height: auto;
    -webkit-box-orient: vertical;
    max-height: 60px;
    display: block;
    display: -webkit-box;
    white-space: wrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }

  article.heroslide > .card_info > .card__info-content > .paragraph {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 0 36px;
    opacity: 0.95;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #011ca2;

    line-height: 18px;

    overflow: hidden;
    word-break: break-word;
    height: auto;
    -webkit-box-orient: vertical;
    max-height: 50px;
    display: block;
    display: -webkit-box;
    white-space: wrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
  }

  #mobile_slider_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    height: 56px;
    width: 100%;
    max-width: 722px;
    position: relative;
  }

  #mobile_slider_pagination label {
    display: inline-block;
    background: #ffffff;
    width: 36px;
    height: 5px;
    border-radius: 3px;
    margin: 0 6px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
  }

  #mobile_slider_pagination .hero__left-icon {
    position: absolute;
    left: 15px;
    top: -380px;
    display: block;
    background: url("../icon/spotlight_arrow_l.png") no-repeat center center;
    background-size: contain;
    width: 50px;
    height: 50px;
  }

  #mobile_slider_pagination .hero__right-icon {
    position: absolute;
    right: 15px;
    top: -380px;
    display: block;
    background: url("../icon/spotlight_arrow_r.png") no-repeat center center;
    background-size: contain;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 767px) {
  article.heroslide img {
    width: 343px;
  }

  article.heroslide > .card_info > .card__info-content > .date {
    font-size: 12px;
  }

  article.heroslide > .card_info > .card__info-content > .title {
    font-size: 18px;
    line-height: 25px;
  }

  article.heroslide > .card_info > .card__info-content > .paragraph {
    font-size: 12px;
  }

  article.heroslide {
    padding: 22px 16px 0;
  }

  article.heroslide .content {
    width: 343px;
  }

  article.heroslide > .tag_button {
    margin-top: 0px;
    margin-right: calc(767px - 550px);
  }

  article.heroslide > .card_info {
    height: 178px;
    max-height: 178px;
    width: 343px;
  }

  article.heroslide > .card_info > .title {
    font-size: 18px;
    height: 52px;
  }

  article.heroslide > .card_info > .paragraph {
    font-size: 12px;
    height: 53px;
  }

  #mobile_slider_pagination .hero__left-icon {
    top: -300px;
    width: 30px;
    height: 30px;
  }

  #mobile_slider_pagination .hero__right-icon {
    top: -300px;
    width: 30px;
    height: 30px;
  }

  #mobile_slider_pagination label {
    margin: 0 2px;
  }

  #mobile_slider_pagination {
    width: 100%;
    max-width: 343px;
  }
}

@media (max-width: 350px) {
  article.heroslide .content {
    width: 300px;
  }

  article.heroslide img {
    width: 300px;
  }

  article.heroslide > .card_info {
    width: 300px;
  }

  #mobile_slider_pagination .hero__right-icon {
    margin-left: 250px;
  }

  #mobile_slider_pagination .hero__left-icon {
    margin-right: 250px;
  }

  article.heroslide > .tag_button {
    margin-top: -25px;
    margin-right: 190px;
  }
}
