.share-icon {
  display: block;
  background: url("../icon/site02.svg") no-repeat center center;
  background-size: contain;
  width: var(--small-icon);
  height: var(--small-icon);
  margin-left: 8px;
}

.team__icon,
.social__icon {
  display: block;
  width: var(--medium-icon);
  height: var(--medium-icon);
}

.euro_foot {
  background: var(--icon-background-color) url("../icon/euro_foot.png")
    no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}

.p_l {
  background: var(--icon-background-color) url("../icon/p_l.png") no-repeat
    center center;
  background-size: cover;
  border-radius: 50%;
}

.yijia {
  background: var(--icon-background-color) url("../icon/Yijia.png") no-repeat
    center center;
  background-size: cover;
  border-radius: 50%;
}

.bundesliga {
  background: var(--icon-background-color) url("../icon/bundesliga.png")
    no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}

.UEFA_C_L {
  background: var(--icon-background-color) url("../icon/UEFA_C_L.png") no-repeat
    center center;
  background-size: cover;
  border-radius: 50%;
}

.zalo {
  background: url("../icon/zalo_01.png") no-repeat center center;
  background-size: cover;
}

.tik_tok {
  background: url("../icon/tiktik_01.png") no-repeat center center;
  background-size: cover;
}

.rss {
  background: url("../icon/rss_01_h.png") no-repeat center center;
  background-size: cover;
}

.telegram {
  background: url("../icon/tg_01_h.png") no-repeat center center;
  background-size: cover;
}

.facebook {
  background: url("../icon/fb_01.png") no-repeat center center;
  background-size: cover;
}

.youtube {
  background: url("../icon/yt_0.png") no-repeat center center;
  background-size: cover;
}

.instagram {
  background: url("../icon/ig_01.png") no-repeat center center;
  background-size: cover;
}

.day {
  background: var(--icon-background-color) url("../icon/sun.svg") no-repeat
    center center;
  background-size: cover;
  object-fit: contain;
}

.night {
  background: var(--icon-background-color) url("../icon/moon.svg") no-repeat
    center center;
  background-size: cover;
  object-fit: contain;
}

.userprofile {
  background: url("../icon/login.png") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  display: block;
  width: 22px;
  height: 22px;
}

.right__arrow {
  background: url("../icon/ibongda_arrow_right_24px.svg") no-repeat center
    center;
  background-size: cover;
  object-fit: contain;
  display: block;
  width: 8px;
  height: 14px;
}

.down__arrow {
  background: url("../icon/ibongda_arrow_down_24px.svg") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  display: block;
  width: 12px;
  height: 8px;
}

.more {
  background: url("../icon/more_icon.svg") no-repeat center center;
  background-size: contain;
  display: block;
  width: 13px;
  height: 13px;
  margin: auto 0;
}

.message {
  background: url("../icon/message_icon.png") no-repeat center center;
  background-size: cover;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.aside__column-premier_icon {
  background: url("../icon/aside-column_premier_icon.svg") no-repeat center
    center;
  background-size: cover;
  display: block;
  width: 30px;
  height: 30px;
}

.rank_boost {
  background: url();
  background-size: cover;
  display: block;
  width: 10px;
  height: 10px;
}

.rank_down {
  background: url();
  background-size: cover;
  display: block;
  width: 10px;
  height: 10px;
}

.rank__no-change {
  background: url();
  background-size: cover;
  display: block;
  width: 10px;
  height: 10px;
}

.close {
  display: block;
  background: url("../icon/mem/close.png") no-repeat center center;
  background-size: cover;
  width: 18px;
  height: 18px;
}

.bind-facebook {
  display: block;
  background: url("../icon/mem/fb.png") no-repeat center center;
  background-size: cover;
  width: 34px;
  height: 34px;
  margin: 0 0 0 6px;
}

.bind-zalo {
  display: block;
  background: url("../icon/mem/zalo.png") no-repeat center center;
  background-size: cover;
  width: 34px;
  height: 34px;
  margin: 0 6px;
}

.bind-telegram {
  display: block;
  background: url("../icon/mem/tg.png") no-repeat center center;
  background-size: cover;
  width: 34px;
  height: 34px;
  margin: 0 6px 0 0;
}

.login__close {
  display: block;
  background: url("../icon/login/close.png") no-repeat center center;
  background-size: cover;
  width: 18px;
  height: 18px;
}

.showpassword {
  display: block;
  background: url("../icon/login/eye.png") no-repeat center center;
  background-size: cover;
  width: 22px;
  height: 15px;
  cursor: pointer;
}

.hidepassword {
  display: none;
  background: url("../icon/login/eye01.png") no-repeat center center;
  background-size: cover;
  width: 22px;
  height: 15px;
  cursor: pointer;
}

.login__facebook {
  display: block;
  background: url("../icon/login/fb.png") no-repeat center center;
  background-size: cover;
  width: 46px;
  height: 46px;
}

.login__zalo {
  display: block;
  background: url("../icon/login/zalo.png") no-repeat center center;
  background-size: cover;
  width: 46px;
  height: 46px;
}

.login__telegram {
  display: block;
  background: url("../icon/login/tg.png") no-repeat center center;
  background-size: cover;
  width: 46px;
  height: 46px;
}

.login__phone {
  display: block;
  background: url("../icon/login/phone.png") no-repeat center center;
  background-size: cover;
  width: 46px;
  height: 46px;
}

.login__google {
  display: block;
  background: url("../icon/login/g.png") no-repeat center center;
  background-size: cover;
  width: 46px;
  height: 46px;
}

.viewers-icon {
  display: block;
  background: url("../icon/details/read.svg") no-repeat center center;
  background-size: cover;
  width: 22px;
  height: 15px;
  margin-right: 7px;
}

i.thumb {
  display: inline-flex;
  background: url("../icon/details/good.svg") no-repeat center center;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

i.post-facebook {
  display: block;
  background: url("../icon/details/fb.svg") no-repeat center center;
  background-size: cover;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

i.post-fb-messager {
  display: block;
  background: url("../icon/details/messenger.svg") no-repeat center center;
  background-size: cover;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

i.post-zalo {
  display: block;
  background: url("../icon/details/zalo.svg") no-repeat center center;
  background-size: cover;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

i.post-telegram {
  display: block;
  background: url("../icon/details/tg.svg") no-repeat center center;
  background-size: cover;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

i.post-url-link {
  display: block;
  background: url("../icon/details/copy.svg") no-repeat center center;
  background-size: cover;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

i.post-comment {
  display: block;
  background: url("../icon/details/leave_a_message.svg") no-repeat center center;
  background-size: cover;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

i.post-share {
  display: block;
  background: url("../icon/details/share.png") no-repeat center center;
  background-size: cover;
  width: 16px;
  height: 18px;
}
