.mobile__latest__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 60px;
}

.mobile__latest__news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 973px;
  margin-bottom: 28px;
}

.mobile__latest__news-header .mobile__latest__news-title {
  font-family: "Roboto", "sans-serif";
  font-size: 20px;
  font-weight: 500;
  color: var(--news-heading-text-color);
}

.mobile__latest__news-header .mobile__latest__news-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  border-radius: 3px;
  border: solid 1px var(--dodger-blue);
  color: var(--dodger-blue);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 16px 8px 12px;
  cursor: pointer;
}

.mobile__latest__news-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 973px;
  height: auto;
}

.mobile__latest__news-body .mobile__latest__news-card-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}

.mobile__latest__news-body .mobile__latest__news-card-horizontal:nth-child(3) {
  margin-bottom: 0;
}

.mobile__latest__news-body .mobile__latest__news-card-horizontal:nth-child(4) {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.mobile__latest__news-body .mobile__latest__news-card-horizontal .card__header {
  width: 376px;
  height: 235px;
}

.mobile__latest__news-body .mobile__latest__news-card-horizontal .card__header > img {
  width: 100%;
  height: 100%;
}

.mobile__latest__news-body .mobile__latest__news-card-horizontal .card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: calc(100% - 409px);
  margin-left: 33px;
}

.mobile__latest__news-body .mobile__latest__news-card-horizontal .card__body .news__date {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  color: #31cfff;
  margin-bottom: 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.mobile__latest__news-body .mobile__latest__news-card-horizontal .card__body .news__title {
  font-family: "Roboto", "sans-serif";
  font-size: 22px;
  font-weight: 500;
  color: var(--news-title-text-color);
  margin-bottom: 16px;
  width: 100%;
  overflow: hidden;
  word-break: break-word;
  height: auto;
  max-height: 60px;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.mobile__latest__news-body .mobile__latest__news-card-horizontal .card__body .news__paragraph {
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
  line-height: 1.28;
  color: var(--news-paragraph-text-color);
  margin-bottom: 10px;
  overflow: hidden;
  word-break: break-word;
  height: auto;
  max-height: 1100px;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
}

.mobile__latest__news-body .mobile__latest__news-bottom-button {
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  border-radius: 3px;
  border: solid 1px var(--dodger-blue);
  color: var(--dodger-blue);
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  font-weight: 500;
  padding: 8px 16px 8px 12px;
  cursor: pointer;
}
/*# sourceMappingURL=main_latest_news.css.map */