.mobile-hot__news-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

.mobile-hot__news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.mobile-hot__news-header-text {
  font-family: "Roboto", "sans-serif";
  font-size: 20px;
  font-weight: 500;
  color: var(--news-heading-text-color);
}

.mobile-hot__news-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile-hot__news-body .card__vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50% - 18px);
}

.mobile-hot__news-body .card__vertical:first-child {
  margin-right: 18px;
}

.mobile-hot__news-body .card__vertical:last-child {
  margin-left: 18px;
}

.mobile-hot__news-body .card__vertical .card__body {
  background-color: var(--news-card-background-color);
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.mobile-hot__news-body .card__vertical .card__body-news__img {
  position: relative;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.mobile-hot__news-body .card__vertical .card__body-category__tag {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--dodger-blue);
  color: var(--text-color-white);
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  position: absolute;
  padding: 10px 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  bottom: 24px;
}

.mobile-hot__news-body .card__vertical .card__body-category__tag > a {
  text-decoration: none;
  color: inherit;
}

.mobile-hot__news-body .card__vertical .card__footer {
  background-color: var(--news-card-background-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 150px;
  padding: 14px 18px 50px;
  border-bottom: 4px solid var(--blue-ryb);
}

.mobile-hot__news-body .card__vertical .card__footer-title {
  color: var(--news-title-text-color);
  font-family: "Roboto", "sans-serif";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
  word-break: break-word;
  height: auto;
  max-height: 70px;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.mobile-hot__news-body .card__vertical .card__footer-date {
  color: var(--vivid-sky-blue);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
}
/*# sourceMappingURL=main_hot_news.css.map */