.mobile__special__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

.mobile__special__column-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 973px;
  height: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 30px;
}

.mobile__special__column-header .special__column-header-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 50%;
  font-family: "Roboto", "sans-serif";
  font-size: 20px;
  font-weight: 500;
  color: var(--news-heading-text-color);
}

.mobile__special__column-header .special__column-header-short-title {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.mobile__special__column-header .special__column-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  border-radius: 3px;
  border: solid 1px var(--dodger-blue);
  color: var(--dodger-blue);
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  font-weight: 500;
  padding: 8px 16px 8px 12px;
  cursor: pointer;
}

.mobile__special__column-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile__special__column-card__vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 461px;
}

.mobile__special__column-card__vertical:first-child {
  margin-right: 24px;
}

.mobile__special__column-card__vertical:nth-child(2) {
  margin-left: 24px;
}

.mobile__special__column-card__vertical .card__header {
  display: block;
  overflow: hidden;
  position: relative;
  width: 461px;
  height: 288px;
}

.mobile__special__column-card__vertical .card__header > img {
  position: relative;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.mobile__special__column-card__vertical .card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 320px;
  max-height: 320px;
  background-color: var(--news-card-background-color);
  border-bottom: 4px solid #e51937;
}

.mobile__special__column-card__vertical .card__body .content__category {
  background-color: #e51937;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--text-color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  margin: 32px auto 0 25px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 36px;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
}

.mobile__special__column-card__vertical .card__body .content__category > a {
  color: inherit;
  text-decoration: none;
}

.mobile__special__column-card__vertical .card__body .content__title {
  color: var(--news-title-text-color);
  font-family: "Roboto", "sans-serif";
  font-size: 22px;
  font-weight: 500;
  margin: 19px 51px 0 25px;
  width: calc(100% - 76px);
  height: auto;
  overflow: hidden;
  word-break: break-word;
  -webkit-box-orient: vertical;
  max-height: 75px;
  display: block;
  display: -webkit-box;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.mobile__special__column-card__vertical .card__body .content__paragraph {
  color: var(--news-paragraph-text-color);
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  width: calc(100% - 110px);
  margin: 21px 85px 0 25px;
  overflow: hidden;
  word-break: break-word;
  height: auto;
  -webkit-box-orient: vertical;
  max-height: 85px;
  display: block;
  display: -webkit-box;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.mobile__special__column-card__vertical .card__body .read-more {
  color: var(--spacial-column-read-more-color);
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  margin: 61px auto 0 25px;
  cursor: pointer;
}

.mobile__special__column-card__vertical .card__body .read-more::after {
  content: ">";
  margin-left: 16px;
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  font-weight: 500;
}

.mobile__special__column-bottom-button {
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  border-radius: 3px;
  border: solid 1px var(--dodger-blue);
  color: var(--dodger-blue);
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  font-weight: 500;
  padding: 8px 16px 8px 12px;
  cursor: pointer;
}
/*# sourceMappingURL=main_top_special.css.map */