.login__bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.login__bg.modal__present {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

#login-modal.login__modal {
  width: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.3);
  background: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-modal.login__modal > .login__modal-close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

#login-modal.login__modal > .login__logo {
  margin: 10px;
}

#login-modal.login__modal > .login__logo img {
  width: 137px;
  height: 77px;
}

#login-modal.login__modal > form {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-modal.login__modal > form .username,
#login-modal.login__modal > form .password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 11px 0;
}

#login-modal.login__modal > form .username span,
#login-modal.login__modal > form .password span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #407fff;
}

#login-modal.login__modal > form .username input.username__input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  height: 40px;
  margin: 5px 0 0;
  border: solid 1.5px #c1c6c9;
  background-color: #ffffff;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #407fff;
  outline: none;
}

#login-modal.login__modal > form .username input.username__input::placeholder,
#login-modal.login__modal > form .password input.password__input::placeholder {
  color: #407fff;
}

#login-modal.login__modal > form .password input.password__input {
  border: none;
  box-sizing: border-box;
  width: 90%;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #407fff;
  outline: none;
}

#login-modal.login__modal > form .password .password__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 10px 15px;
  border: solid 1.5px #c1c6c9;
  background-color: #ffffff;
  margin: 5px 0 0;
}

#login-modal.login__modal
  .password__container
  > input[type="password"]
  ~ .showpassword,
#login-modal.login__modal
  .password__container
  > input[type="text"]
  ~ .hidepassword {
  display: block;
}

#login-modal.login__modal
  .password__container
  > input[type="text"]
  ~ .showpassword,
#login-modal.login__modal
  .password__container
  > input[type="password"]
  ~ .hidepassword {
  display: none;
}

#login-modal.login__modal > form .forget__password {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 15px;
}

#login-modal.login__modal > form .forget__password > a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #407fff;
}

#login-modal.login__modal > form .login__submit__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 15px 0;
  background-color: #407fff;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

#login-modal.login__modal > .or__divider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #407fff;
}

#login-modal.login__modal > .or__divider span:first-child,
#login-modal.login__modal > .or__divider span:last-child {
  width: 110px;
  margin: 0 20px;
  height: 1px;
  background-color: #407fff;
}

#login-modal.login__modal > .social__auth__container {
  box-sizing: border-box;
  padding: 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
  width: 100%;
  height: auto;
}

/* User Profile Information BEGIN */
#user__profile.profile__bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

#user__profile.profile__bg.profile__present {
  display: block;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

#user__profile > .profile-content {
  position: absolute;
  top: 145px;
  right: 17px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #171b26;
  width: 382px;
  height: auto;
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user__profile > .profile-content > .profile__close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 16px 16px 0;
  cursor: pointer;
}

#user__profile > .profile-content > .profile__image__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

#user__profile > .profile-content > .profile__image__info .profile__images {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(64, 127, 255, 0.4);
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#user__profile > .profile-content > .profile__image__info .profile__images img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: contain;
}

#user__profile > .profile-content .change__images__button {
  width: 100%;
  height: 20px;
  margin: 20px 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #c1c6c9;
  cursor: pointer;
}

#user__profile > .profile-content > .profile__detail__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 30px 0 0;
}

#user__profile > .profile-content .profile__detail-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 8px 50px;
}

#user__profile > .profile-content .profile__detail-row .profile__detail-title {
  width: 35%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #c1c6c9;
  text-align: left;
}

#user__profile > .profile-content .profile__detail-row .profile__detail-text {
  width: 65%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #c1c6c9;

  word-wrap: break-word;
  white-space: initial;
  text-align: end;
}

#user__profile
  > .profile-content
  .profile__detail-row
  .profile__detail-title.email {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(37% - 50px);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #c1c6c9;

  margin-right: 50px;
  text-align: left;
}

#user__profile
  > .profile-content
  .profile__detail-row
  .profile__detail-text.email {
  width: 63%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #c1c6c9;

  word-wrap: break-word;
  white-space: initial;
  text-align: end;
}

#user__profile > .profile-content .profile__detail-row:last-child {
  margin: 30px 0 20px;
}

#user__profile > .profile-content > .profile__detail__info .logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: #407fff;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
/* User Profile Information END */

@media (max-width: 1024px) {
  #user__profile > .profile-content {
    top: 100px;
  }
}

@media (max-width: 414px) {
  #login-modal.login__modal {
    width: 380px;
    padding: 10px 16px;
  }

  #login-modal.login__modal > form {
    padding: 15px;
  }

  #login-modal.login__modal > form .username span,
  #login-modal.login__modal > form .password span {
    font-size: 14px;
  }

  #login-modal.login__modal > form .username input.username__input,
  #login-modal.login__modal > form .password input.password__input {
    font-size: 14px;
    height: 30px;
  }

  #login-modal.login__modal > form .password .password__container {
    height: 35px;
  }

  .showpassword {
    width: 18px;
    height: 12px;
  }

  .login__facebook,
  .login__zalo,
  .login__telegram,
  .login__phone,
  .login__google {
    width: 40px;
    height: 40px;
  }

  #login-modal.login__modal > form .forget__password > a {
    font-size: 12px;
  }

  #login-modal.login__modal > form .login__submit__button {
    font-size: 14px;
    padding: 8px 0;
  }

  #user__profile > .profile-content .profile__detail-row .profile__detail-title,
  #user__profile > .profile-content .profile__detail-row .profile__detail-text {
    font-size: 14px;
  }

  #user__profile > .profile-content > .profile__detail__info .logout {
    font-size: 16px;
    height: 45px;
  }
}

@media (max-width: 375px) {
  #login-modal.login__modal {
    width: 300px;
  }

  #login-modal.login__modal > form .forget__password {
    margin: 8px 0;
  }

  #login-modal.login__modal > .or__divider span:first-child,
  #login-modal.login__modal > .or__divider span:last-child {
    width: 90px;
  }

  #login-modal.login__modal > .social__auth__container {
    margin: 16px 0;
    padding: 0 15px;
  }

  .login__facebook,
  .login__zalo,
  .login__telegram,
  .login__phone,
  .login__google {
    width: 35px;
    height: 35px;
  }

  #user__profile > .profile-content {
    top: 85px;
  }

  #user__profile > .profile-content {
    width: 300px;
    right: 35px;
  }

  #user__profile > .profile-content > .profile__detail__info {
    margin: 10px 0 0;
  }

  #user__profile > .profile-content .profile__detail-row {
    padding: 8px 16px;
  }

  #user__profile > .profile-content .profile__detail-row:last-child {
    margin: 15px 0 10px;
  }

  .bind-facebook,
  .bind-zalo,
  .bind-telegram {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 320px) {
  #login-modal.login__modal > .login__logo {
    margin: 0;
  }

  #user__profile > .profile-content {
    top: 75px;
  }

  #user__profile > .profile-content {
    right: 10px;
    padding: 5px;
  }

  #user__profile > .profile-content > .profile__close {
    padding: 8px 16px 0;
  }

  #user__profile > .profile-content > .profile__image__info .profile__images {
    width: 90px;
    height: 90px;
  }

  #user__profile
    > .profile-content
    > .profile__image__info
    .profile__images
    img {
    width: 70px;
    height: 70px;
  }

  #user__profile > .profile-content .change__images__button {
    margin: 8px 0 0;
  }

  #user__profile > .profile-content .profile__detail-row:last-child {
    margin: 8px 0 0;
  }

  #user__profile > .profile-content > .profile__detail__info .logout {
    font-size: 14px;
    height: 35px;
  }
}
