.month__headlines-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 180px 0 0;
  margin-bottom: 80px;
}

.month__headlines-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 60px;
}

.month__headlines-title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0px;
  color: var(--month-headlines-list-title-text-color);
  opacity: 1;
  margin-left: 12px;
  margin-right: 12px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.month__headlines-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
  background-color: #2949ea;
  width: auto;
  height: 4px;
}

.month__headlines-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.month__headlines-content-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.month__headlines-content-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.month__headlines-content-list-item:last-child {
  margin-bottom: 0;
}

.month__headlines-content-list-item:hover {
  cursor: pointer;
}

.month__headlines-content-list-item:hover .month__headlines-content-list-item-wrapper-title {
  text-decoration: underline;
}

.month__headlines-content-list-item:hover .month__headlines-content-list-item-image {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.month__headlines-content-list-item picture {
  display: block;
  width: 984px;
  height: 465px;
  margin: 0 20px 18px;
  overflow: hidden;
}

.month__headlines-content-list-item-image {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.month__headlines-content-list-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.month__headlines-content-list-item-wrapper-date {
  width: calc(100% - 40px);
  height: auto;
  max-height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  color: var(--month-headlines-list-item-date-text-color);
  opacity: 1;
  margin: 0 20px 18px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.month__headlines-content-list-item-wrapper-title {
  width: calc(100% - 40px);
  height: auto;
  max-height: 70px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  color: var(--month-headlines-list-item-title-text-color);
  opacity: 1;
  margin: 0 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1023px) {
  .month__headlines-wrapper {
    max-width: calc(100% - 20px);
    margin: 0 10px;
    padding: 94px 0 0;
    margin-bottom: 42px;
  }
  .month__headlines-title {
    height: 25px;
    margin-bottom: 26px;
  }
  .month__headlines-title-text {
    font-size: 18px;
  }
  .month__headlines-divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    background-color: #2949ea;
    height: 4px;
  }
  .month__headlines-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .month__headlines-content-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .month__headlines-content-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
  }
  .month__headlines-content-list-item:hover .month__headlines-content-list-item-image {
    -webkit-transform: none;
            transform: none;
  }
  .month__headlines-content-list-item:last-child {
    margin-bottom: 0;
  }
  .month__headlines-content-list-item picture {
    display: block;
    width: calc(100vw - 20px);
    height: 100%;
    margin: 0 0 15px;
    overflow: hidden;
  }
  .month__headlines-content-list-item-image {
    display: block;
    width: calc(100vw - 20px);
    height: 100%;
    -webkit-transition: none;
    transition: none;
  }
  .month__headlines-content-list-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .month__headlines-content-list-item-wrapper-date {
    width: 100%;
    height: auto;
    max-height: 19px;
    text-align: center;
    line-height: 19px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
    opacity: 1;
    margin: 0 0px 12px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .month__headlines-content-list-item-wrapper-title {
    width: 100%;
    height: auto;
    max-height: 88px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
    opacity: 1;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/*# sourceMappingURL=month_headlines-list.css.map */