.month__headlines__wrapper {
  width: 100%;
  height: 100%;
  margin-bottom: 78px;
}

.month__headlines__wrapper-functional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.month__headlines__wrapper-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  line-height: 38px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0px;
  color: var(--month-headlines-title-color);
  opacity: 1;
  line-height: 38px;
  width: calc(100% - 100px);
}

.month__headlines__wrapper-control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

.month__headlines__wrapper-control .ibongda__pagination {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 18px;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--month-headlines-text-color);
  opacity: 1;
  margin: auto 0;
}

.month__headlines__wrapper-control .ibongda__control__prev,
.month__headlines__wrapper-control .ibongda__control__prev-mobile {
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 8px;
  height: 13px;
  margin: auto 0;
}

.month__headlines__wrapper-control .ibongda__control__prev::after,
.month__headlines__wrapper-control .ibongda__control__prev-mobile::after {
  content: "";
  background-image: var(--month-headlines-arrow-left);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8px;
  height: 13px;
}

.month__headlines__wrapper-control .ibongda__control__prev:hover::after,
.month__headlines__wrapper-control .ibongda__control__prev-mobile:hover::after {
  background-image: var(--month-headlines-arrow-left-hover);
}

.month__headlines__wrapper-control .ibongda__control__next,
.month__headlines__wrapper-control .ibongda__control__next-mobile {
  position: absolute;
  right: 0;
  top: 10px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 8px;
  height: 13px;
  margin: auto 0;
}

.month__headlines__wrapper-control .ibongda__control__next::after,
.month__headlines__wrapper-control .ibongda__control__next-mobile::after {
  content: "";
  background-image: var(--month-headlines-arrow-right);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8px;
  height: 13px;
}

.month__headlines__wrapper-control .ibongda__control__next:hover::after,
.month__headlines__wrapper-control .ibongda__control__next-mobile:hover::after {
  background-image: var(--month-headlines-arrow-right-hover);
}

.month__headlines__wrapper .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.month__headlines__wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}

.month__headlines__wrapper .swiper-slide.swiper-slide-active {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: none;
  transition: none;
}

.month__headlines__wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  background-size: cover;
}

.month__headlines__wrapper .swiper-slide img:hover {
  cursor: pointer;
}

.month__headlines__wrapper-mobile {
  width: 973px;
  height: 100%;
  margin-bottom: 61px;
}

.month__headlines__wrapper-mobile-functional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 31px;
}

.month__headlines__wrapper-mobile-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  line-height: 29px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  color: var(--month-headlines-title-color);
  text-transform: uppercase;
  opacity: 1;
}

.month__headlines__wrapper-mobile-control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

.month__headlines__wrapper-mobile-control .ibongda__pagination-mobile {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 18px;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--month-headlines-text-color);
  opacity: 1;
  margin: auto 0;
}

.month__headlines__wrapper-mobile-control .ibongda__control__prev,
.month__headlines__wrapper-mobile-control .ibongda__control__prev-mobile {
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 8px;
  height: 13px;
  margin: auto 0;
}

.month__headlines__wrapper-mobile-control .ibongda__control__prev::after,
.month__headlines__wrapper-mobile-control .ibongda__control__prev-mobile::after {
  content: "";
  background-image: var(--month-headlines-arrow-left);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8px;
  height: 13px;
}

.month__headlines__wrapper-mobile-control .ibongda__control__prev:hover::after,
.month__headlines__wrapper-mobile-control .ibongda__control__prev-mobile:hover::after {
  background-image: var(--month-headlines-arrow-left-hover);
}

.month__headlines__wrapper-mobile-control .ibongda__control__next,
.month__headlines__wrapper-mobile-control .ibongda__control__next-mobile {
  position: absolute;
  right: 0;
  top: 10px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 8px;
  height: 13px;
  margin: auto 0;
}

.month__headlines__wrapper-mobile-control .ibongda__control__next::after,
.month__headlines__wrapper-mobile-control .ibongda__control__next-mobile::after {
  content: "";
  background-image: var(--month-headlines-arrow-right);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8px;
  height: 13px;
}

.month__headlines__wrapper-mobile-control .ibongda__control__next:hover::after,
.month__headlines__wrapper-mobile-control .ibongda__control__next-mobile:hover::after {
  background-image: var(--month-headlines-arrow-right-hover);
}

.month__headlines__wrapper-mobile .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.month__headlines__wrapper-mobile .swiper-slide {
  width: 100%;
  height: 100%;
}

.month__headlines__wrapper-mobile .swiper-slide.swiper-slide-active {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: none;
  transition: none;
}

.month__headlines__wrapper-mobile .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  background-size: cover;
}

.month__headlines__wrapper-mobile .swiper-slide img:hover {
  cursor: pointer;
}

@media (max-width: 1023px) {
  .month__headlines__wrapper-mobile {
    width: 722px;
    height: 100%;
    margin-bottom: 61px;
  }
  .month__headlines__wrapper-mobile-functional {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 23px;
  }
  .month__headlines__wrapper-mobile-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px;
    color: var(--month-headlines-title-color);
    text-transform: uppercase;
    opacity: 1;
    width: calc(100% - 100px);
  }
  .month__headlines__wrapper-mobile-control {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 30px;
    margin-top: 10px;
  }
  .month__headlines__wrapper-mobile-control .ibongda__pagination-mobile {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50px;
    height: 18px;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0px;
    color: var(--month-headlines-text-color);
    opacity: 1;
    margin: auto 0;
  }
  .month__headlines__wrapper-mobile-control .ibongda__control__prev,
  .month__headlines__wrapper-mobile-control .ibongda__control__prev-mobile {
    position: absolute;
    left: 0;
    top: 10px;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    width: 8px;
    height: 13px;
    margin: auto 0;
  }
  .month__headlines__wrapper-mobile-control .ibongda__control__prev::after,
  .month__headlines__wrapper-mobile-control .ibongda__control__prev-mobile::after {
    content: "";
    background-image: var(--month-headlines-arrow-left);
    background-repeat: no-repeat;
    background-size: cover;
    width: 8px;
    height: 13px;
  }
  .month__headlines__wrapper-mobile-control .ibongda__control__prev:hover::after,
  .month__headlines__wrapper-mobile-control .ibongda__control__prev-mobile:hover::after {
    background-image: var(--month-headlines-arrow-left-hover);
  }
  .month__headlines__wrapper-mobile-control .ibongda__control__next,
  .month__headlines__wrapper-mobile-control .ibongda__control__next-mobile {
    position: absolute;
    right: 0;
    top: 10px;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    width: 8px;
    height: 13px;
    margin: auto 0;
  }
  .month__headlines__wrapper-mobile-control .ibongda__control__next::after,
  .month__headlines__wrapper-mobile-control .ibongda__control__next-mobile::after {
    content: "";
    background-image: var(--month-headlines-arrow-right);
    background-repeat: no-repeat;
    background-size: cover;
    width: 8px;
    height: 13px;
  }
  .month__headlines__wrapper-mobile-control .ibongda__control__next:hover::after,
  .month__headlines__wrapper-mobile-control .ibongda__control__next-mobile:hover::after {
    background-image: var(--month-headlines-arrow-right-hover);
  }
  .month__headlines__wrapper-mobile .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
  .month__headlines__wrapper-mobile .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .month__headlines__wrapper-mobile .swiper-slide.swiper-slide-active {
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
  }
  .month__headlines__wrapper-mobile .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
  }
  .month__headlines__wrapper-mobile .swiper-slide img:hover {
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .month__headlines__wrapper-mobile {
    width: 343px;
    height: 100%;
    margin-bottom: 32px;
  }
  .month__headlines__wrapper-mobile-functional {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 18px;
  }
  .month__headlines__wrapper-mobile-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    line-height: 27px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    color: var(--month-headlines-title-color);
    text-transform: uppercase;
    opacity: 1;
    width: calc(100% - 100px);
  }
  .month__headlines__wrapper-mobile-control {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 30px;
    margin-top: 10px;
  }
  .month__headlines__wrapper-mobile-control .ibongda__pagination-mobile {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50px;
    height: 18px;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0px;
    color: var(--month-headlines-text-color);
    opacity: 1;
  }
  .month__headlines__wrapper-mobile-control .ibongda__control__prev,
  .month__headlines__wrapper-mobile-control .ibongda__control__prev-mobile {
    position: absolute;
    left: 0;
    top: 10px;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    width: 8px;
    height: 13px;
    margin: auto 0;
  }
  .month__headlines__wrapper-mobile-control .ibongda__control__prev::after,
  .month__headlines__wrapper-mobile-control .ibongda__control__prev-mobile::after {
    content: "";
    background-image: var(--month-headlines-arrow-left);
    background-repeat: no-repeat;
    background-size: cover;
    width: 8px;
    height: 13px;
  }
  .month__headlines__wrapper-mobile-control .ibongda__control__prev:hover::after,
  .month__headlines__wrapper-mobile-control .ibongda__control__prev-mobile:hover::after {
    background-image: var(--month-headlines-arrow-left-hover);
  }
  .month__headlines__wrapper-mobile-control .ibongda__control__next,
  .month__headlines__wrapper-mobile-control .ibongda__control__next-mobile {
    position: absolute;
    right: 0;
    top: 10px;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    width: 8px;
    height: 13px;
    margin: auto 0;
  }
  .month__headlines__wrapper-mobile-control .ibongda__control__next::after,
  .month__headlines__wrapper-mobile-control .ibongda__control__next-mobile::after {
    content: "";
    background-image: var(--month-headlines-arrow-right);
    background-repeat: no-repeat;
    background-size: cover;
    width: 8px;
    height: 13px;
  }
  .month__headlines__wrapper-mobile-control .ibongda__control__next:hover::after,
  .month__headlines__wrapper-mobile-control .ibongda__control__next-mobile:hover::after {
    background-image: var(--month-headlines-arrow-right-hover);
  }
  .month__headlines__wrapper-mobile .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
  .month__headlines__wrapper-mobile .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .month__headlines__wrapper-mobile .swiper-slide.swiper-slide-active {
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
  }
  .month__headlines__wrapper-mobile .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
  }
  .month__headlines__wrapper-mobile .swiper-slide img:hover {
    cursor: pointer;
  }
}
/*# sourceMappingURL=month_headlines.css.map */