.nav {
  display: flex;
  box-sizing: border-box;
  height: var(--menu-height);
  width: 100%;
  background-color: var(--navbar-background-color);
  position: relative;
}

.mobile__logo {
  display: none;
}

/* Hidden when website mode BEGIN */
.responsive-list,
.nav > #nav-check,
.nav > .menu-btn,
.nav .dropdown > span > i.right__arrow,
.nav .link > span > i.right__arrow,
.nav .navbar > .link > .mobile-search-bar,
.link.mb__social > .mb__social__link,
.link.google__ads > .navbar__google__ads__300_x_50,
.link.google__ads > .navbar__google__ads__468_x_60,
.nav > .nav__links > .nav__links__left > .navbar li.mb__hot__sites {
  display: none;
}
/* Hidden when website mode END */

/* Big Logo BEGIN */
.big_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 223px;
  height: 130px;
  position: relative;
}

.big_logo > a {
  display: inline;
  width: 100%;
  height: 100%;
}

.biglogo {
  float: left;
  background-color: var(--header-background-color);
  background-size: cover;
  width: 300px;
  height: 130px;
  position: absolute;
}

.innerlogo {
  margin: 15px auto 15px 15px;
  background: url("../images/logo.svg") no-repeat center center;
  background-size: cover;
  width: 180px;
  height: 100px;
}

.logocurve {
  float: left;
  background: url("../images/curve.svg") no-repeat center center;
  background-size: cover;
  width: 45px;
  height: 90px;
  position: absolute;
  left: 180px;
  top: 40px;
}

.functional {
  display: flex;
  flex-direction: column;
  width: calc(100% - 223px);
  position: relative;
}
/* Big Logo END */

.nav .navbar {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__links {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  /* width: calc(100% - 75px); */
  width: 100%;
  margin: 0 0.5rem;
  margin-right: 20px;
}

.nav > .nav__links > .nav__links__left > .navbar,
.nav > .nav__links > .nav__links__right > .navbar {
  display: flex;
  height: var(--menu-height);
  align-items: center;
  background-color: var(--navbar-background-color);
}

.nav > .nav__links > .nav__links__left > .navbar li,
.nav > .nav__links > .nav__links__right > .navbar li {
  position: relative;
  margin: 0;
  height: 100%;
}

.nav > .nav__links > .nav__links__right > .navbar li.user-icon {
  margin-top: 8px;
}

.nav > .nav__links > .nav__links__right > .navbar li.link.user-icon img {
  width: 30px;
  height: 30px;
  margin-bottom: 0px;
  border-radius: 50%;
}

.nav .navbar .link,
.nav .navbar .dropdown {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  color: var(--text-color-white);
  cursor: pointer;
  font-size: var(--std-font-size);
  font-weight: 500;
  padding: 8px 16px;
  text-decoration: none;
  white-space: nowrap;
}

.nav .navbar .link.user-icon {
  padding: 8px 16px 8px 3px;
}

.dropdown > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

li.link > span a.navbar__link {
  color: var(--text-color-white);
  text-decoration: none;
}

.dropdown > span > i.down__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 8px;
}

.dropdown:hover > span > i.down__arrow {
  transform: rotate(0.5turn);
  transition: ease 0.4s;
}

.dropdown:hover > span > i.down__arrow {
  background: url("../icon/ibongda_arrow_down_hover_24px.svg") no-repeat center
    center;
}

.link > .divider,
.dropdown > .divider {
  width: 100%;
  height: 3px;
  box-sizing: border-box;
  margin-top: 3px;
}

.dropdown:hover > .divider,
.link:hover > .divider {
  background-color: var(--navbar-active-text-color);
}

@media (min-width: 1024px) {
  .link:hover > .text-animation + .divider {
    opacity: 0;
    background-color: var(--navbar-active-text-color);
  }
}

.nav .navbar .link:hover a {
  color: var(--navbar-active-text-color);
  background-color: var(--navbar-background-color);
}

.nav .navbar .dropdown:hover {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  cursor: pointer;
  font-size: var(--std-font-size);
  font-weight: 500;
  padding: 8px 16px;
  text-decoration: none;
  white-space: nowrap;
  color: var(--navbar-active-text-color);
  background-color: var(--navbar-background-color);
}

.nav > .nav__links > .nav__links__left > .navbar .dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav > .nav__links > .nav__links__left > .navbar .dropdown-menu > li.link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px 5px;
  margin: 0;
}

.dropdown-menu > .divider {
  height: 9px;
  background-color: inherit;
}

.navbar .dropdown-menu > li:nth-child(2) {
  padding-top: 9px !important;
}

.navbar .dropdown-menu > li:last-child {
  padding-bottom: 9px !important;
}

.dropdown-menu > li.link a {
  line-height: 30px;
}

.dropdown-menu > li.link a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-color: var(--navbar-active-text-color);
  height: 100%;
  width: 100%;
}

.nav .navbar li.dropdown a,
.nav .navbar li.dropdown a a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--text-color-white);
  font-size: 14px;
}

.nav__links__left > ul li ul {
  min-width: 15rem;
  opacity: 0;
  padding: 0;
  position: absolute;
  display: block;
  top: calc(var(--menu-height));
  visibility: hidden;
}

.nav__links__left > ul li:hover > ul,
.nav__links__right > ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu > li.link {
  background-color: var(--navbar-background-color);
}

.dropdown > .dropdown-menu > .dropdown-header {
  height: 5px;
  background-color: transparent;
}

.nav__links__left > ul li ul li.link:hover {
  background-color: var(--navbar-background-color);
}

.nav__links__left > .navbar li.dropdown li.link:hover a {
  background-color: var(--navbar-active-text-color);
  color: #ffffff;
}

.nav__links__right > .navbar > .link {
  padding-bottom: 20px;
}

.nav__links__right > .navbar > .link:hover {
  padding-bottom: 8px;
}

.nav__links__right > .navbar > .link.user-icon:hover > .userprofile {
  background: url("../icon/login_h.png") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  display: block;
  width: 22px;
  height: 22px;
}

/* custom multi column BEGIN */
.dropdown:hover > ul.dropdown-menus {
  display: block;
}

.nav > .nav__links > .nav__links__left > .navbar .dropdown-menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav > .nav__links > .nav__links__left > .navbar .dropdown-menus > li.link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px 5px;
  margin: 0;
}

.dropdown-menus > li.link {
  background-color: var(--navbar-background-color);
}

.dropdown > .dropdown-menus > .dropdown-header {
  height: 5px;
  background-color: transparent;
}

.multi__column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 454px;
  height: 100%;
  background-color: #0a2fea;
}

.multi__column > .column {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: auto;
  width: 50%;
  background-color: #0a2fea;
}

.multi__column > .column a.column__item {
  box-sizing: border-box;
  font-size: 14px;
  color: var(--text-color-white);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 10px 5px;
}

.multi__column > .column a.column__item:first-child {
  padding-top: 9px;
}

.multi__column > .column a.column__item:last-child {
  padding-bottom: 9px;
}

.multi__column > .column a.column__item span {
  text-align: center;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: var(--text-color-white);
}

.multi__column > .column a.column__item:hover span {
  background-color: var(--navbar-active-text-color);
}

.multi__column > .divider__horizontal {
  width: 2px;
  height: 130px;
  opacity: 0.3;
  background-color: #2d9afc;
  margin: auto 0px;
}
/* custom multi column END */

/* Navbar Hot sites Change auto */
@media (max-width: 1499px) {
  /* @media (max-width: 1555px) { */
  /* Hidden when mobile mode BEGIN */
  header > .big_logo,
  header .nav__social,
  .dropdown > .dropdown-menu > .dropdown-header,
  .nav > .nav__links > .nav__links__right,
  .dropdown > span > i.down__arrow {
    display: none;
  }

  .link.google__ads > .navbar__google__ads__300_x_50 {
    display: none;
  }

  .link.google__ads > .navbar__google__ads__468_x_60 {
    display: block;
  }

  /* Now only show at website only. Wait until UI designer desigin mobile version */
  .nav > .nav__links > .nav__links__left > .navbar .dropdown-menus {
    display: none;
  }
  /* Hidden when mobile mode END */

  .nav {
    width: 100vw;
    /* height: 70px; */
    height: 80px;
  }

  .responsive-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .responsive-list > .responsive-item {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    margin: 0 3px;
  }

  .responsive-list > .responsive-item > .userprofile {
    width: 24px;
    height: 24px;
  }

  .responsive-list > .responsive-item > img {
    width: 30px;
    height: 30px;
  }

  li.link > span {
    padding: 0 0 0 15px;
  }

  .nav > .mobile__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav > .mobile__logo img {
    width: 100px;
    height: 60px;
    margin-left: 15px;
  }

  .nav > .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 70px;
    height: 70px; */
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-right: 10px;
  }

  .nav > #nav-check:checked ~ .nav__links {
    display: block;
    /* height: calc(100vh - 70px); */
    height: calc(100vh - 80px);
    width: 100%;
    overflow-y: auto;
  }

  .nav__links ul.navbar li.link {
    display: block;
    width: 100%;
  }

  .nav__links > .nav__links__left > ul li:hover > ul {
    float: none;
    position: static;
    color: #ffffff;
  }

  .nav__links ul > li:hover ul li {
    display: block;
    width: 100%;
  }

  .nav__links ul ul ul li {
    position: static;
  }

  .nav .navbar {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav > .nav__links {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    position: absolute;
    overflow-y: hidden;
    height: 0px;
    top: 80px;
    left: 0px;
  }

  .dropdown > .divider,
  .link > .divider {
    height: 1px;
    width: 100%;
    opacity: 0.3;
    background-color: var(--navbar-active-text-color);
    margin-top: 10px;
  }

  .nav .navbar .link:hover a {
    background-color: transparent;
  }

  .nav > .nav__links > .nav__links__left > .navbar {
    box-sizing: border-box;
    list-style: none;
    display: block;
    background-color: var(--responsive-background-color);
    width: 100vw;
    height: calc(100vh - 80px);
    padding: 30px 25px 0;
  }

  .nav > .nav__links > .nav__links__left > .navbar > .link,
  .nav > .nav__links > .nav__links__left > .navbar > .dropdown {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
  }

  .nav .navbar .link:hover,
  .nav .navbar .dropdown:hover {
    background-color: transparent;
  }

  .nav .navbar .dropdown:hover > span > i.right__arrow {
    background: url("../icon/ibongda_arrow_right_hover_24px.svg") no-repeat
      center center;
    background-size: cover;
    object-fit: contain;
    display: block;
    width: 8px;
    height: 14px;
    transform: rotate(0.25turn);
    transition: all 0.5s ease;
  }

  .nav .link > span > i.right__arrow,
  .nav .dropdown > span > i.right__arrow {
    display: block;
  }

  .nav > .nav__links > .nav__links__left > .navbar > .link span,
  .nav > .nav__links > .nav__links__left > .navbar > .dropdown span {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 0 15px;
  }

  .nav__links__left > ul.navbar li.dropdown ul.dropdown-menu {
    background-color: transparent;
    width: 100%;
    left: 0;
    top: 45px;
  }

  .nav .navbar li.dropdown a,
  .nav .navbar li.dropdown a a {
    box-sizing: border-box;
    font-size: 14px;
    color: var(--navbar-active-text-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4px 9px;
    font-size: 14px;
  }

  .nav .navbar li a:hover {
    background-color: transparent;
  }

  .nav__links > ul li ul li {
    background-color: transparent;
  }

  .dropdown-menu > li.link {
    background-color: var(--responsive-background-color);
  }

  .link.mb__social > .mb__social__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 200px 0 28px;
  }

  .link.mb__social > .mb__social__link > a {
    margin: 0 8px;
  }

  .nav > .nav__links > .nav__links__left > .navbar li.mb__hot__sites {
    display: block;
  }

  /* Search Bar BEGIN */
  .nav .navbar > .link > .mobile-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 54px;
    margin: 0 0 24px;
    padding: 17px 20px 19px 13px;
    background-color: #00135f;
  }

  .nav .navbar > .link > .mobile-search-bar > input {
    background: transparent;
    color: #c1c6c9;
    outline: none;
    border: none;
    width: 90%;
    box-sizing: border-box;
    padding: 16px 8px;
    font-size: 16px;
    height: 100%;
  }

  .nav .navbar > .link > .mobile-search-bar > .mobile-search-icon {
    display: block;
    background: url("../icon/ic_search.png") no-repeat center center;
    background-size: cover;
    object-fit: contain;
    width: 18px;
    height: 18px;
    z-index: 1;
    margin: auto 0;
  }
  /* Search Bar END */
}

@media (max-width: 1024px) {
  /* Hidden when mobile mode BEGIN */
  header > .big_logo,
  .dropdown > .dropdown-menu > .dropdown-header,
  .nav > .nav__links > .nav__links__right,
  .dropdown > span > i.down__arrow {
    display: none;
  }

  /* Now only show at website only. Wait until UI designer desigin mobile version */
  .nav > .nav__links > .nav__links__left > .navbar .dropdown-menus {
    display: none;
  }
  /* Hidden when mobile mode END */

  .nav {
    width: 100vw;
  }

  .responsive-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .responsive-list > .responsive-item > .userprofile {
    width: 24px;
    height: 24px;
  }

  .responsive-list > .responsive-item > img {
    width: 30px;
    height: 30px;
  }

  li.link > span {
    padding: 0 0 0 15px;
  }

  .nav > .mobile__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav > .mobile__logo > a {
    display: flex;
    width: 115px;
    height: 60px;
    margin: auto 0;
  }

  .nav > .mobile__logo img {
    width: 100px;
    height: 60px;
    margin-left: 15px;
  }

  .nav > .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 70px;
    height: 70px; */
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-right: 10px;
  }

  .nav > #nav-check:checked ~ .nav__links {
    display: block;
    /* height: calc(100vh - 70px); */
    height: calc(100vh - 80px);
    width: 100%;
    overflow-y: auto;
  }

  .nav__links__left {
    height: 100%;
  }

  .nav__links ul.navbar li.link {
    display: block;
    width: 100%;
  }

  .nav__links > .nav__links__left > ul li:hover > ul {
    float: none;
    position: static;
    color: #ffffff;
  }

  .nav__links ul > li:hover ul li {
    display: block;
    width: 100%;
  }

  .nav__links ul ul ul li {
    position: static;
  }

  .nav .navbar {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav > .nav__links {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    position: absolute;
    overflow-y: hidden;
    height: 0px;
    /* top: 70px; */
    top: 80px;
    left: 0px;
  }

  .dropdown > .divider,
  .link > .divider {
    height: 1px;
    width: 100%;
    opacity: 0.3;
    background-color: var(--navbar-active-text-color);
    margin-top: 10px;
  }

  .nav .navbar .link:hover a {
    background-color: transparent;
  }

  .nav > .nav__links > .nav__links__left > .navbar {
    box-sizing: border-box;
    list-style: none;
    display: block;
    background-color: var(--responsive-background-color);
    width: 100vw;
    height: 100%;
    padding: 30px 25px 0;
  }

  .nav > .nav__links > .nav__links__left > .navbar > .link,
  .nav > .nav__links > .nav__links__left > .navbar > .dropdown {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
  }

  .nav .navbar .link:hover,
  .nav .navbar .dropdown:hover {
    background-color: transparent;
  }

  .nav .navbar .dropdown:hover > span > i.right__arrow {
    background: url("../icon/ibongda_arrow_right_hover_24px.svg") no-repeat
      center center;
    background-size: cover;
    object-fit: contain;
    display: block;
    width: 8px;
    height: 14px;
    transform: rotate(0.25turn);
    transition: all 0.5s ease;
  }

  .nav .link > span > i.right__arrow,
  .nav .dropdown > span > i.right__arrow {
    display: block;
  }

  .nav > .nav__links > .nav__links__left > .navbar > .link span,
  .nav > .nav__links > .nav__links__left > .navbar > .dropdown span {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 0 15px;
  }

  .nav > .nav__links > .nav__links__left > .navbar > .link span:first-child,
  .nav
    > .nav__links
    > .nav__links__left
    > .navbar
    > .dropdown
    span:first-child {
    height: 48px;
  }

  .nav__links__left > ul.navbar li.dropdown ul.dropdown-menu {
    background-color: transparent;
    width: 100%;
    left: 0;
    top: 45px;
  }

  .nav .navbar li.dropdown a,
  .nav .navbar li.dropdown a a {
    box-sizing: border-box;
    font-size: 14px;
    color: var(--navbar-active-text-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4px 9px;
    font-size: 14px;
  }

  .nav .navbar li a:hover {
    background-color: transparent;
  }

  .nav__links > ul li ul li {
    background-color: transparent;
  }

  .dropdown-menu > li.link {
    background-color: var(--responsive-background-color);
  }

  .link.mb__social > .mb__social__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 37px 0 28px;
  }

  .link.mb__social > .mb__social__link > a {
    margin: 0 8px;
  }

  .nav > .nav__links > .nav__links__left > .navbar li.mb__hot__sites {
    display: block;
  }

  /* Search Bar BEGIN */
  .nav .navbar > .link > .mobile-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 54px;
    margin: 0 0 24px;
    padding: 0px 20px 0px 0px;
    background-color: #00135f;
  }

  .nav .navbar > .link > .mobile-search-bar > input {
    background: transparent;
    color: #c1c6c9;
    outline: none;
    border: none;
    width: 90%;
    box-sizing: border-box;
    padding: 16px 8px;
    font-size: 16px;
    height: 100%;
  }

  .nav .navbar > .link > .mobile-search-bar > .mobile-search-icon {
    display: block;
    background: url("../icon/ic_search.png") no-repeat center center;
    background-size: cover;
    object-fit: contain;
    width: 18px;
    height: 18px;
    z-index: 1;
    margin: auto 0;
  }
}

@media (max-width: 767px) {
  .link.google__ads > .navbar__google__ads__300_x_50 {
    display: block;
  }

  .link.google__ads > .navbar__google__ads__468_x_60 {
    display: none;
  }
}

@media (max-width: 414px) {
  .mobile__logo {
    display: block;
  }

  .big_logo {
    display: none;
  }

  .responsive-list > .responsive-item > img {
    width: 30px;
    height: 30px;
  }

  .nav {
    /* height: 70px; */
    height: 80px;
    width: 100vw;
  }

  .nav > .menu-btn {
    /* height: 70px; */
    height: 80px;
  }

  .nav > .nav__links {
    /* top: 70px; */
    top: 80px;
  }

  .nav > #nav-check:checked ~ .nav__links {
    /* height: calc(100vh - 70px); */
    height: calc(100vh - 80px);
    background-color: var(--responsive-background-color);
  }

  .nav .navbar > .link > .mobile-search-bar {
    padding: 0 20px 0 0;
  }

  .link.mb__social > .mb__social__link {
    margin: 37px 0 30px;
  }
}
