.category__container {
  padding-top: 170px;
  width: 100%;
}

.category__container .category__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.category__container .category__header-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 24px;
  line-height: 34px;
  color: var(--category-news-list-title-text-color);
  text-transform: uppercase;
}

.category__container .category__header-divider {
  width: 100%;
  height: 1px;
  background-color: var(--category-news-list-pagination-border-top-color);
}

.category__container .category__header-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 62px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.category__container .category__header-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 37px;
  font-size: 16px;
  font-weight: 500;
  line-height: 34px;
  text-transform: uppercase;
  color: var(--category-news-list-pagination-title-text-color);
}

.category__container .category__header-list-item:first-child {
  margin-left: 0;
}

.category__container .category__header-list-item:last-child {
  margin-right: 0;
}

.category__container .category__header-list-item.active {
  color: #2d9afc;
}

.category__container .category__header-list-item:hover {
  color: #2d9afc;
}

.category__container .category__header-list-item .item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

.category__container .category__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.category__container .category__body .latest__news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: calc(100% - 40px);
  margin: 0 20px 80px;
}

.category__container .category__body .latest__news__wrapper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.category__container .category__body .latest__news__wrapper-header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
  font-size: 16px;
  font-weight: bold;
  line-height: 34px;
  text-transform: uppercase;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 12px;
  text-align: left;
  letter-spacing: 0px;
  color: var(--category-news-list-theme-title-text-color);
  opacity: 1;
}

.category__container .category__body .latest__news__wrapper-header-divider {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
  height: 4px;
  width: auto;
  background-color: #2949ea;
}

.category__container .category__body .latest__news__wrapper-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.category__container .category__body .latest__news__wrapper-body-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  margin-right: 10px;
}

.category__container .category__body .latest__news__wrapper-body-main:hover .latest__news__wrapper-body-main-content-title {
  text-decoration: underline;
}

.category__container .category__body .latest__news__wrapper-body-main-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 313px;
  margin-bottom: 15px;
  cursor: pointer;
}

.category__container .category__body .latest__news__wrapper-body-main-image > img.vertical {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
  width: 100%;
  height: 100%;
}

.category__container .category__body .latest__news__wrapper-body-main-image > img.horizontal {
  width: 100%;
  height: 100%;
}

.category__container .category__body .latest__news__wrapper-body-main-image > img {
  width: 100%;
  height: 100%;
}

.category__container .category__body .latest__news__wrapper-body-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.category__container .category__body .latest__news__wrapper-body-main-content-title {
  width: 100%;
  margin-bottom: 20px;
  height: auto;
  max-height: 105px;
  line-height: 35px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0px;
  color: var(--category-news-list-title-text-color);
  opacity: 1;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.category__container .category__body .latest__news__wrapper-body-main-content-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.category__container .category__body .latest__news__wrapper-body-main-content-author {
  height: auto;
  max-height: 17px;
  font-size: 12px;
  font-weight: normal;
  line-height: 17px;
  letter-spacing: 0px;
  color: var(--category-news-list-sm-title-text-color);
  opacity: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.category__container .category__body .latest__news__wrapper-body-main-content-date {
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  color: var(--category-news-list-sm-title-text-color);
  opacity: 1;
}

.category__container .category__body .latest__news__wrapper-body-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: calc(100% - 520px);
  margin-left: 10px;
}

.category__container .category__body .latest__news__wrapper-body-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.category__container .category__body .latest__news__wrapper-body-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-height: 90px;
  margin-bottom: 15px;
}

.category__container .category__body .latest__news__wrapper-body-list-item:last-child {
  height: auto;
  max-height: auto;
  margin-bottom: 0;
}

.category__container .category__body .latest__news__wrapper-body-list-item:hover .latest__news__wrapper-body-list-item-title {
  text-decoration: underline;
}

.category__container .category__body .latest__news__wrapper-body-list-item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 144px;
  height: 90px;
  margin-left: 5px;
  cursor: pointer;
}

.category__container .category__body .latest__news__wrapper-body-list-item-image > img.vertical {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
  width: 100%;
  height: 100%;
}

.category__container .category__body .latest__news__wrapper-body-list-item-image > img.horizontal {
  width: 100%;
  height: 100%;
}

.category__container .category__body .latest__news__wrapper-body-list-item-image > img {
  width: 100%;
  height: 100%;
}

.category__container .category__body .latest__news__wrapper-body-list-item-content {
  margin-right: 5px;
  width: calc(100% - 154px);
}

.category__container .category__body .latest__news__wrapper-body-list-item-title {
  height: auto;
  max-height: 69px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
  letter-spacing: 0px;
  color: var(--category-news-list-title-text-color);
  opacity: 1;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.category__container .category__body .latest__news__wrapper-body-list-item-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.category__container .category__body .latest__news__wrapper-body-list-item-author {
  height: auto;
  max-height: 14px;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  letter-spacing: 0px;
  color: var(--category-news-list-sm-title-text-color);
  opacity: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.category__container .category__body .latest__news__wrapper-body-list-item-date {
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  letter-spacing: 0px;
  color: var(--category-news-list-sm-title-text-color);
  opacity: 1;
}

.category__container .category__body .theme__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: calc(100% - 40px);
  margin: 0 20px 80px;
}

.category__container .category__body .theme__wrapper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.category__container .category__body .theme__wrapper-header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
  font-size: 16px;
  font-weight: bold;
  line-height: 34px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 12px;
  text-align: left;
  letter-spacing: 0px;
  color: var(--category-news-list-theme-title-text-color);
  opacity: 1;
}

.category__container .category__body .theme__wrapper-divider {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
  height: 4px;
  width: auto;
  background-color: #e51937;
}

.category__container .category__body .theme__wrapper-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.category__container .category__body .theme__wrapper-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  cursor: -webkit-grab;
  cursor: grab;
}

.category__container .category__body .theme__wrapper-list::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.category__container .category__body .theme__wrapper-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 300px;
  height: 313px;
  margin: 0 10px;
}

.category__container .category__body .theme__wrapper-list-item:hover .theme__wrapper-list-item-title {
  text-decoration: underline;
}

.category__container .category__body .theme__wrapper-list-item:first-child {
  margin-left: 0;
}

.category__container .category__body .theme__wrapper-list-item:last-child {
  min-width: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
}

.category__container .category__body .theme__wrapper-list-item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 188px;
  margin-bottom: 16px;
  cursor: pointer;
}

.category__container .category__body .theme__wrapper-list-item-image > img.vertical {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
  width: 100%;
  height: 100%;
}

.category__container .category__body .theme__wrapper-list-item-image > img.horizontal {
  width: 100%;
  height: 100%;
}

.category__container .category__body .theme__wrapper-list-item-image > img {
  width: 100%;
  height: 100%;
}

.category__container .category__body .theme__wrapper-list-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.category__container .category__body .theme__wrapper-list-item-title {
  height: auto;
  max-height: 72px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--category-news-list-title-text-color);
  opacity: 1;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.category__container .category__body .theme__wrapper-list-item-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.category__container .category__body .theme__wrapper-list-item-author {
  height: auto;
  max-height: 17px;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  line-height: 17px;
  letter-spacing: 0px;
  color: var(--category-news-list-sm-title-text-color);
  opacity: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.category__container .category__body .theme__wrapper-list-item-date {
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  line-height: 17px;
  letter-spacing: 0px;
  color: var(--category-news-list-sm-title-text-color);
  opacity: 1;
}

.show__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: var(--category-news-list-title-text-color);
}

.show__more:hover {
  color: #2d9afc;
}

.show__more:hover .show__more-arrow {
  background-image: url("../icon/show_more_arrow-hover.svg");
}

.show__more-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  letter-spacing: 0px;
  color: inherit;
  opacity: 1;
}

.show__more-arrow {
  display: block;
  width: 13px;
  height: 12px;
  background-image: var(--category-news-list-show-arrow-icon);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: border-box;
  margin: 0 14px;
}

.ibongda__no__box__shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1499px) {
  .category__container {
    padding-top: 110px;
  }
}

@media (max-width: 1023px) {
  .category__container {
    padding-top: 70px;
    width: 100%;
    max-width: 100%;
  }
  .category__container .category__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 22px;
  }
  .category__container .category__header-title {
    display: none;
  }
  .category__container .category__header-divider {
    display: none;
  }
  .category__container .category__header-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .category__container .category__header-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    color: var(--category-news-list-pagination-title-text-color);
  }
  .category__container .category__header-list-item:not(.active) {
    display: none;
  }
  .category__container .category__header-list-item.active {
    color: var(--category-news-list-title-text-color);
  }
  .category__container .category__header-list-item .item__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
  }
  .category__container .category__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .category__container .category__body .latest__news__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100% - 32px);
    max-width: calc(100% - 32px);
    margin: 0 16px 50px;
  }
  .category__container .category__body .latest__news__wrapper-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 23px;
  }
  .category__container .category__body .latest__news__wrapper-header-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 3;
        -ms-flex: 3 1 auto;
            flex: 3 1 auto;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 0 12px;
    text-align: left;
    letter-spacing: 0px;
    color: var(--category-news-list-theme-title-text-color);
    opacity: 1;
  }
  .category__container .category__body .latest__news__wrapper-header-divider {
    -webkit-box-flex: 3;
        -ms-flex: 3 1 auto;
            flex: 3 1 auto;
    height: 4px;
    width: auto;
    background-color: #2949ea;
  }
  .category__container .category__body .latest__news__wrapper-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .category__container .category__body .latest__news__wrapper-body-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .category__container .category__body .latest__news__wrapper-body-main-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .category__container .category__body .latest__news__wrapper-body-main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .category__container .category__body .latest__news__wrapper-body-main-content-title {
    width: 100%;
    margin-bottom: 10px;
    height: auto;
    max-height: 60px;
    line-height: 20px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    color: var(--category-news-list-title-text-color);
    opacity: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .category__container .category__body .latest__news__wrapper-body-main-content-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .category__container .category__body .latest__news__wrapper-body-main-content-author {
    height: auto;
    max-height: 17px;
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    letter-spacing: 0px;
    color: var(--category-news-list-sm-title-text-color);
    opacity: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .category__container .category__body .latest__news__wrapper-body-main-content-date {
    text-align: left;
    font-size: 12px;
    line-height: 17px;
    font-weight: normal;
    letter-spacing: 0px;
    color: var(--category-news-list-sm-title-text-color);
    opacity: 1;
  }
  .category__container .category__body .latest__news__wrapper-body-secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin: 0;
  }
  .category__container .category__body .latest__news__wrapper-body-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
  }
  .category__container .category__body .latest__news__wrapper-body-list::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }
  .category__container .category__body .latest__news__wrapper-body-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-width: 200px;
    width: 100%;
    height: 100%;
    max-height: 234px;
    margin-bottom: 0px;
    margin: 0 8px;
  }
  .category__container .category__body .latest__news__wrapper-body-list-item:first-child {
    margin-left: 0;
  }
  .category__container .category__body .latest__news__wrapper-body-list-item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 234px;
    max-height: 100%;
    margin-bottom: 0;
    margin-right: 0;
  }
  .category__container .category__body .latest__news__wrapper-body-list-item-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    height: 125px;
    margin-left: 0px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .category__container .category__body .latest__news__wrapper-body-list-item-content {
    margin-right: 0px;
    width: 100%;
  }
  .category__container .category__body .latest__news__wrapper-body-list-item-title {
    height: auto;
    max-height: 64px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0px;
    color: var(--category-news-list-title-text-color);
    opacity: 1;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .category__container .category__body .latest__news__wrapper-body-list-item-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .category__container .category__body .latest__news__wrapper-body-list-item-author {
    height: auto;
    max-height: 13px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 11px;
    letter-spacing: 0px;
    color: var(--category-news-list-sm-title-text-color);
    opacity: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .category__container .category__body .latest__news__wrapper-body-list-item-date {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 11px;
    letter-spacing: 0px;
    color: var(--category-news-list-sm-title-text-color);
    opacity: 1;
  }
  .category__container .category__body .theme__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100% - 32px);
    max-width: calc(100% - 32px);
    margin: 0 16px 50px;
  }
  .category__container .category__body .theme__wrapper-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 23px;
  }
  .category__container .category__body .theme__wrapper-header-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 11;
        -ms-flex: 11 1 auto;
            flex: 11 1 auto;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
    text-transform: uppercase;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 0 12px;
    text-align: left;
    letter-spacing: 0px;
    color: var(--category-news-list-theme-title-text-color);
    opacity: 1;
  }
  .category__container .category__body .theme__wrapper-divider {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    height: 4px;
    width: auto;
    background-color: #e51937;
  }
  .category__container .category__body .theme__wrapper-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .category__container .category__body .theme__wrapper-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
  }
  .category__container .category__body .theme__wrapper-list::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }
  .category__container .category__body .theme__wrapper-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 200px;
    height: 234px;
    margin: 0 8px;
  }
  .category__container .category__body .theme__wrapper-list-item:first-child {
    margin-left: 0;
  }
  .category__container .category__body .theme__wrapper-list-item:last-child {
    min-width: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
  .category__container .category__body .theme__wrapper-list-item-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    height: 125px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .category__container .category__body .theme__wrapper-list-item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .category__container .category__body .theme__wrapper-list-item-title {
    height: auto;
    max-height: 64px;
    margin-bottom: 23px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0px;
    color: var(--category-news-list-title-text-color);
    opacity: 1;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .category__container .category__body .theme__wrapper-list-item-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .category__container .category__body .theme__wrapper-list-item-author {
    height: auto;
    max-height: 11px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 11px;
    letter-spacing: 0px;
    color: var(--category-news-list-sm-title-text-color);
    opacity: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .category__container .category__body .theme__wrapper-list-item-date {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 11px;
    letter-spacing: 0px;
    color: var(--category-news-list-sm-title-text-color);
    opacity: 1;
  }
  .show__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--category-news-list-title-text-color);
    cursor: pointer;
  }
  .show__more:hover {
    color: #2d9afc;
  }
  .show__more:hover .show__more-arrow {
    background-image: url("../icon/show_more_arrow-hover.svg");
  }
  .show__more-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 0px;
    color: inherit;
    opacity: 1;
  }
  .show__more-arrow {
    display: block;
    width: 16px;
    height: 16px;
    background-image: var(--category-news-list-show-arrow-icon);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: border-box;
    margin: 0 12px;
  }
}
/*# sourceMappingURL=news_category_list.css.map */