/* This is for Sticky floating share button BEGIN */
:root {
  --default-padding: 17px;
  --header-height: 80px;
  --sticky-pos: 150px;
}
/* This is for Sticky floating share button END */

#news-details-container.news__details {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1425px;
  margin: 0 auto;
  height: 100%;
  padding: 175px 0 0;
  position: relative;
}

/* mobile google ads BEGIN */
.mobile_post_inner_google_ads_300_x_100_top,
.mobile_post_inner_google_ads_300_x_100_bottom,
.mobile_news_details_google_ads_300_x_50,
.mobile_post_inner_google_ads_310_x_356,
.pad_pro_post_inner_google_ads_728_x_90_top,
.pad_post_inner_google_ads_468_x_60_top,
.mobile_post_inner_google_ads_300_x_50_top,
.pad_pro_post_inner_google_ads_728_x_90_bottom,
.pad_post_inner_google_ads_468_x_60_bottom,
.mobile_post_inner_google_ads_300_x_50_bottom,
.pad_pro_news_details_google_ads_970_x_90,
.pad_news_news_details_google_ads_728_x_90,
.mobile_news_details_google_ads_300_x_250 {
  display: none;
}
/* mobile google ads END */

.news__detail__content {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
}

#news-details-container .news__detail__content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

#news-details-container .news__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 1024px;
  height: auto;
  position: relative; /* contain the sentinels */
}

.news__wrapper__content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.news__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 850px;
  height: auto;
}

#news-details-container .news__header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

#news-details-container .news__cucumber__list {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: var(--news-detail-cucumber-list-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

#news-details-container .news__cucumber__list > a {
  color: inherit;
  text-decoration: none;
}

#news-details-container .news__cucumber__list > a.active {
  color: var(--dodger-blue);
  text-decoration: none;
}

#news-details-container .news__cucumber__list > span.divider {
  visibility: hidden;
}

#news-details-container .news__cucumber__list > span.divider::after {
  content: "»";
  font-size: 14px;
  padding: 0 10px;
  margin-left: -5px;
  visibility: visible;
}

#news-details-container .news__cucumber__list > a:hover {
  color: #2d9afc;
}

#news-details-container .news__header__divider {
  height: 3px;
  width: 100%;
  background-color: var(--news-detail-divider-bg-color);
  margin: 17px 0 20px;
}

#news-details-container .news__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

#news-details-container .post__tags {
  display: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: max-content;
  height: 36px;
  padding: 8px 22px;
  background-color: #2d9afc;
  margin-bottom: 11px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

#news-details-container .post__title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: var(--news-detail-post-title);
  margin-bottom: 9.5px;
  line-height: 40px;
}

#news-details-container .post__meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

#news-details-container .post__meta__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.post__meta__item {
  height: 20px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: var(--dodger-blue);
}

.post__meta__item > a.author__name {
  text-decoration: none;
  color: var(--dodger-blue);
}

.post__meta__item:nth-child(2)::before,
.post__meta__item:nth-child(2)::after {
  content: "|";
  padding: 0 10px;
}

.post__meta__item:first-child {
  margin-left: 0;
}

.post__meta__item:last-child {
  margin-left: 0;
}

/* 水平 */
.horizontal__post__image {
  max-width: 800px;
  max-height: 500px;
  width: 800px;
  height: 100%;
  margin-bottom: 5px;
}

.horizontal__post__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
/* 水平 */

/* 垂直 */
.vertical__post__image {
  max-width: 800px;
  max-height: 500px;
  width: 800px;
  height: 500px;
  margin-bottom: 5px;
}

.vertical__post__image > img {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: top left;
}
/* 垂直 */

.img__illustrate {
  height: 20px;
  line-height: 20px;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: var(--news-detail-sub-text);
  margin-bottom: 20px;
}

.img__illustrate > span {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: var(--news-detail-sub-text);
}

.post__summary {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: var(--news-detail-post-title);
  padding-left: 10px;
  border-left: 5px solid var(--dodger-blue);
  line-height: 25px;
}

/* This is control writings can't overflow */
/* If there need to have img control using !important to control img width size */
.inner__text-area {
  max-width: 100%;
  width: 100%;
  margin-top: 20px;
}

.inner__text-area .post__inner-text a {
  color: var(--post-inner-text-color);
}

.inner__text-area .post__inner-text a:visited {
  color: var(--post-inner-text-color-active);
}

.inner__text-area img {
  width: 100%;
  height: 100%;
}

/* iframe make it can rwd BEGIN */
/* This solution user need to add class manual BEGIN */
/* .inner__text-area .rwd__iframe {
  width: auto;
  height: auto;
} */
/* This solution user need to add class manual END */

/* When the editor forgot to add a class BEGIN */
/* .inner__text-area iframe {
  width: 100%;
  height: 100%;
} */
/* When the editor forgot to add a class END */
/* iframe make it can rwd END */

.post__inner-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: var(--news-detail-sub-text);
  margin-bottom: 30px;
}

.post__social__tag {
  margin: 14px 0 29px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.post__social__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.post__social__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  height: auto;
  margin: 0 6px;
}

.total__fb__like {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 36px;
  background-color: var(--y-in-mn-blue);
  color: var(--text-color-white);
  width: max-content;
  height: 36px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;

  cursor: pointer;
}

.post__hash__tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 41px;
}

.hash__tag__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.hash__tag__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: auto;
  box-sizing: border-box;
  margin: 5px;
  padding: 10px;
  height: 36px;
  line-height: 36px;
  background-color: var(--news-detail-post-hash-tag-bg-color);
  color: var(--news-detail-post-hash-tag-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.hash__tag__item:hover {
  background-color: #2d9afc;
  color: #ffffff;
}

.hash__tag__item::before {
  content: "#";
}

.hash__tag__item > a {
  text-decoration: none;
  color: inherit;
}

.news__body__divider {
  height: 3px;
  width: 100%;
  background-color: var(--resolution-blue--20);
  margin: 46px 0 40px;
}
/* News Detail END */

/* Author Recommend Post BEGIN */
.author__recommend__post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1024px;
  width: 100%;
  height: auto;
  margin-bottom: 52px;
}

.aut__recommend__header {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: var(--news-detail-author-recommend-header-color);
  margin-bottom: 34px;
}

.aut__post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.aut__post > .card__horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.aut__post > .card__horizontal:not(:last-child) {
  margin-bottom: 30px;
}

/* Remove */
.aut__post .card__header {
  width: 400px;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
}

.aut__post .card__header > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.aut__post .card__header:hover > img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* Remove */

/* 水平 */
.aut__post .card__horizontal > .card__header-horizontal {
  width: 400px;
  height: 250px;
  max-width: 400px;
  max-height: 250px;
  overflow: hidden;
}

.aut__post .card__horizontal > .card__header-horizontal img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.aut__post .card__horizontal > .card__header-horizontal:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* 水平 */

/* 垂直 */
.aut__post .card__horizontal > .card__header-vertical {
  width: 400px;
  height: 250px;
  max-width: 400px;
  max-height: 250px;
  overflow: hidden;
}

.aut__post .card__horizontal > .card__header-vertical img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top left;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.aut__post .card__horizontal > .card__header-vertical:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* 垂直 */

.aut__post .card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% - 400px);
  height: auto;
  box-sizing: border-box;
  padding-left: 35px;
}

.aut__post .card__body > .aut__recommend__date {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--news-detail-author-recommend-date-color);
  margin-bottom: 10px;
}

.aut__post .card__body > .aut__recommend__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: var(--news-detail-author-recommend-title-color);
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;

  /* max title line is two lines */
  overflow: hidden;
  word-break: break-word;
  height: auto;
  max-height: 60px;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.aut__post .card__body > .aut__recommend__title:hover {
  text-decoration: underline;
}

.aut__post .card__body > .aut__recommend__paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  color: var(--news-detail-author-recommend-paragraph-color);
  margin-bottom: 10px;

  /* max paragraph line is five lines */
  overflow: hidden;
  word-break: break-word;
  height: auto;
  max-height: 1100px;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
}

.aut__recommend__topic__comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 18px;
}

.topic__comment-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.topic__comment-item {
  width: max-content;
  height: auto;
  margin: 0 5px;
  color: var(--dodger-blue);
}

.topic__comment-item:hover > a {
  text-decoration: underline;
}

.topic__comment-item a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.topic__comment-item:first-child {
  margin-left: 0;
}

.topic__comment-item:last-child {
  margin-right: 0;
}

.aut__recommend__hashtag {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.aut__recommend__hashtag > .hashtag-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.aut__recommend__hashtag > .hashtag-list .hashtag-item {
  width: max-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 10px;
  padding: 5px;
  background-color: var(--news-detail-post-hash-tag-bg-color);
  color: var(--news-detail-post-hash-tag-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.aut__recommend__hashtag > .hashtag-list .hashtag-item::before {
  content: "#";
}

.aut__recommend__hashtag > .hashtag-list .hashtag-item a {
  text-decoration: none;
  color: inherit;
}

.aut__recommend__hashtag > .hashtag-list .hashtag-item:first-child {
  margin-left: 0;
}

.aut__recommend__hashtag > .hashtag-list .hashtag-item:last-child {
  margin-right: 0;
}
/* Author Recommend Post BEGIN */

/* Comment Area BEGIN */
/* Maybe is third-party plug */
.comment__area {
  box-sizing: border-box;
  background-color: var(--comment-area-background-color);
  width: 100%;
  height: 346px;
  border: 2px solid var(--comment-area-border-color);
  margin-bottom: 40px;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* Comment Area BEGIN */

/* Related News Area BEGIN */
.related__news {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.related__news__header {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: var(--news-detail-related-news-header-color);
  margin-bottom: 30px;
}

.related__news__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  height: auto;
  margin-bottom: 106px;
}

.related__news__body > .card-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
  height: 451px;
  max-height: 451px;
  cursor: pointer;
}

/* 水平 */
.related__news__body > .card-vertical .card_body-horizontal {
  width: 100%;
  height: 313px;
  max-width: 100%;
  max-height: 313px;
  overflow: hidden;
  position: relative;
}

.related__news__body > .card-vertical .card_body-horizontal img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.related__news__body > .card-vertical .card_body-horizontal:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* 水平 */

/* 垂直 */
.related__news__body > .card-vertical .card_body-vertical {
  width: 100%;
  height: 313px;
  max-width: 100%;
  max-height: 313px;
  overflow: hidden;
  position: relative;
}

.related__news__body > .card-vertical .card_body-vertical img.news-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top left;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.related__news__body > .card-vertical .card_body-vertical:hover img.news-img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* 垂直 */

/* Remove */
.related__news__body > .card-vertical .card_body {
  display: block;
  position: relative;
  width: 100%;
  height: 313px;
  overflow: hidden;
}

.related__news__body > .card-vertical .card_body > img {
  position: relative;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.related__news__body > .card-vertical:hover .card_body > img.news-img {
  transform: rotate(0.5turn);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* Remove */

.related__news__body > .card-vertical .card_body-horizontal > .category_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 31px;
  box-sizing: border-box;
  padding: 8px 12px;
  width: max-content;
  height: 36px;
  background-color: var(--dodger-blue);
  color: var(--text-color-white);
}

.related__news__body > .card-vertical .card_body-vertical > .category_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 31px;
  box-sizing: border-box;
  padding: 8px 12px;
  width: max-content;
  height: 36px;
  background-color: var(--dodger-blue);
  color: var(--text-color-white);
}

.related__news__body > .card-vertical .category_tag a {
  color: inherit;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.related__news__body > .card-vertical .category_tag a:hover {
  font-weight: bold;
}

.related__news__body > .card-vertical .card__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding: 14px 18px 50px;
  background-color: var(--news-detail-related-news-bg-color);
  border-bottom: 4px solid var(--blue-ryb);
}

.related__news__body > .card-vertical:hover .card__footer .card__footer__title {
  text-decoration: underline;
}

.dark-theme .related__news__body > .card-vertical .card__footer {
  border-bottom: 4px solid var(--news-card-background-color);
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #2d50e6 15%, #06249f 88%);
}

.related__news__body > .card-vertical .card__footer__title {
  box-sizing: border-box;
  color: var(--news-detail-related-news-footer-title-color);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  width: 100%;

  /* max title line is two lines */
  overflow: hidden;
  word-break: break-word;
  line-height: 25px;
  height: auto;
  max-height: 70px;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.related__news__body > .card-vertical .card__footer__date {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--vivid-sky-blue);
}
/* Related News Area END */

/* Details Aside Column BEGIN */
#news-details-container .aside__wrapper {
  box-sizing: border-box;
  margin-right: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: auto;
}

#news-details-container .top__headlines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 64px 0 58px;
}

#news-details-container .top__headlines__header {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--top-headlines-text-color);
}

#news-details-container .top__headlines__divider {
  width: 100%;
  height: 3px;
  background-color: var(--top-headlines-divider-bg-color);
  margin: 17px 0;
}

#news-details-container .top__headlines__body {
  display: block;
  width: 100%;
  height: auto;
}

#news-details-container .top__headlines__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.top__headlines__list > .top__headlines__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  box-shadow: var(--top-headlines-list-box-shadow);
  background-color: var(--top-headlines-list-item-bg-color);
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 9px;
  cursor: pointer;
}

.top__headlines__list > .top__headlines__item:hover .headlines__news-title {
  color: #2d9afc;
}

.top__headlines__item > .headlines__number {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  background-image: url("../icon/details/headlines_mark.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 30px;
  height: 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px 0 0;
}

.top__headlines__item > .headlines__news-title {
  margin-left: 8px;
  width: 90%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: var(--top-headlines-list-title-color);
  line-height: 22px;
}
/* Details Aside Column END */

/* Share Button BEGIN */
.sticky {
  position: sticky;
  top: var(--sticky-pos); /* Sentinels adjust based on this position. */
  background: var(--sticky-share-button-bg-color);
  padding: 0 var(--default-padding);
  align-items: center;
  width: 70px;
  left: 100%;
  float: left;
  display: inline-flex;
  box-sizing: border-box;
  margin-left: 102px;
}

.share__button__container {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.share__button__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
}

.share__button__list:first-child {
  padding: 20px 0 6px;
}

.share__button__list:last-child {
  padding: 6px 0 20px;
}

.share__button__divider {
  background: var(--sticky-share-button-divider-bg) no-repeat center center;
  background-size: cover;
  width: 70px;
  height: 20px;
}
/* Share Button END */

/* Float Button (Contact Us) BEGIN */
.float__icon {
  display: block;
  z-index: 99;
  width: 100%;
  height: 100%;
  position: relative;
}

a > .contact__us {
  position: fixed;
  bottom: 55px;
  right: 55px;
  background: url("../icon/contact_us.png") no-repeat center center;
  background-size: cover;
  width: 60px;
  height: 60px;
}

a > .contact__us__footer {
  position: absolute;
  bottom: 55px;
  right: 55px;
  background: url("../icon/contact_us.png") no-repeat center center;
  background-size: cover;
  width: 60px;
  height: 60px;
  z-index: 999999999;
}

@media (max-width: 500px) {
  a > .contact__us {
    position: fixed;
    bottom: 12px;
    right: 12px;
    background: url("../icon/contact_us.png") no-repeat center center;
    background-size: cover;
    width: 40px;
    height: 40px;
  }
}
/* Float Button (Contact Us) END */

/* Resposive Desgin BEGIN */
@media (max-width: 1499px) {
  .google_ads_728_x_90 {
    display: block;
  }

  .pad_pro_post_inner_google_ads_728_x_90_top,
  .pad_pro_post_inner_google_ads_728_x_90_bottom {
    display: none;
  }

  #news-details-container.news__details {
    width: 100%;
  }

  #news-details-container .news__wrapper {
    width: calc(100% - 390px);
  }

  #news-details-container .aside__wrapper {
    width: 390px;
  }

  .post__image {
    width: calc(100% - 6.25%);
    height: 100%;
  }

  /* 水平 */
  .horizontal__post__image {
    width: calc(100% - 6.25%);
    height: 100%;
    margin-bottom: 5px;
  }

  .horizontal__post__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  /* 水平 */

  /* 垂直 */
  .vertical__post__image {
    width: calc(100% - 6.25%);
    height: 100%;
    margin-bottom: 5px;
  }

  .vertical__post__image > img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: none;
    object-position: top left;
  }
  /* 垂直 */

  .aut__post .card__header {
    width: 39%;
    height: 100%;
  }

  .aut__post .card__horizontal > .card__header-horizontal {
    width: 39%;
    height: 100%;
  }

  .aut__post .card__horizontal > .card__header-vertical {
    width: 39%;
    /* height: 100%; */
    height: 18vw;
  }

  .aut__post > .card__horizontal {
    width: 100%;
    height: 100%;
  }

  .aut__post .card__body {
    width: calc(100% - 39%);
    height: 100%;
  }

  .related__news__body {
    width: 100%;
  }

  .related__news__body > .card-vertical {
    width: 48%;
    height: auto;
  }

  .related__news__body > .card-vertical .card_body {
    width: 100%;
    height: auto;
  }

  .related__news__body > .card-vertical .card_body-horizontal {
    width: 100%;
    height: auto;
  }

  .related__news__body > .card-vertical .card_body-vertical {
    width: 100%;
    height: 21.5vw;
  }

  .related__news__body > .card-vertical .card__footer {
    margin-top: -6px;
  }

  #news-details-container .top__headlines {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1300px) {
  .news__content {
    width: calc(100% - 180px);
  }

  .inner__text-area img[style="width: 800px; height: 500px;"] {
    width: 100% !important;
    height: 100% !important;
    max-width: 800px;
  }

  .related__news__body > .card-vertical .card_body-vertical {
    width: 100%;
    height: 20vw;
  }
}

@media (max-width: 1250px) {
  .aut__post .card__header {
    width: 50%;
  }

  .aut__post .card__horizontal > .card__header-horizontal {
    width: 50%;
  }

  .aut__post .card__horizontal > .card__header-vertical {
    width: 50%;
  }

  .aut__post .card__body {
    padding-left: 16px;
    width: calc(100% - 50%);
  }

  .related__news__body > .card-vertical .card_body-vertical {
    width: 100%;
    min-height: 19vw;
  }
}

@media (max-width: 1099px) {
  .pad_pro_post_inner_google_ads_728_x_90_top,
  .pad_pro_post_inner_google_ads_728_x_90_bottom,
  .pad_pro_news_details_google_ads_970_x_90 {
    display: none;
  }

  .pad_post_inner_google_ads_468_x_60_top,
  .pad_post_inner_google_ads_468_x_60_bottom,
  .pad_news_news_details_google_ads_728_x_90 {
    display: block;
  }

  .google_ads_728_x_90 {
    display: none;
  }

  .news_details_google_ads_300_x_250,
  .news_details_google_ads_300_x_600 {
    display: none;
  }
  #news-details-container .news__detail__content {
    flex-direction: column;
  }

  #news-details-container .news__wrapper,
  #news-details-container .aside__wrapper {
    width: calc(100% - 64px);
    margin: 0 32px;
  }

  .author__recommend__post {
    margin: 0 auto 52px;
  }

  .aut__post .card__header {
    width: 40%;
  }

  .aut__post .card__horizontal > .card__header-horizontal {
    width: 40%;
  }

  .aut__post .card__horizontal > .card__header-vertical {
    width: 40%;
    height: 23vw;
    min-height: 200px;
  }

  .aut__post .card__body {
    padding-left: 16px;
    width: calc(100% - 40%);
  }

  .related__news__body {
    margin: 0;
  }

  #news-details-container .top__headlines {
    margin: 96px 0 90px;
  }

  .top__headlines__item > .headlines__news-title {
    font-size: 16px;
  }

  .post__summary {
    margin-bottom: 20px;
  }

  .related__news__body > .card-vertical .card_body-vertical {
    width: 100%;
    min-height: 29vw;
  }
}

@media (max-width: 1024px) {
  #news-details-container.news__details {
    padding: 97px 0 0;
  }

  .aut__post .card__body > .aut__recommend__paragraph,
  .aut__recommend__topic__comment {
    display: flex;
    font-size: 14px;
  }

  .sticky {
    margin-left: 49px;
  }
}

@media (max-width: 900px) {
  .sticky {
    display: none;
  }

  .aut__post .card__header {
    width: 45%;
  }

  .aut__post .card__horizontal > .card__header-horizontal {
    width: 45%;
  }

  .aut__post .card__horizontal > .card__header-vertical {
    width: 45%;
  }

  .aut__post .card__body {
    padding-left: 16px;
    width: calc(100% - 45%);
  }
}

@media (max-width: 850px) {
  .aut__post .card__body > .aut__recommend__paragraph,
  .aut__recommend__topic__comment,
  .aut__recommend__hashtag > .hashtag-list .hashtag-item:not(:first-child) {
    display: none;
  }
}

@media (max-width: 767px) {
  /* google ads show BEGIN */

  .mobile_post_inner_google_ads_310_x_356 {
    display: block;
  }

  .mobile_post_inner_google_ads_300_x_100_bottom {
    display: block;
    margin-top: 41px;
  }

  .mobile_news_details_google_ads_300_x_50,
  .mobile_post_inner_google_ads_310_x_356 {
    display: block;
  }

  .news_details_google_ads_728_x_90,
  .post_inner_google_ads_435_x_500 {
    display: none;
  }

  .mobile_post_inner_google_ads_300_x_100_top {
    display: block;
  }

  .post_inner_google_ads_435_x_500 {
    margin: 0 auto 30px;
  }

  .pad_post_inner_google_ads_468_x_60_top,
  .pad_post_inner_google_ads_468_x_60_bottom,
  .pad_news_news_details_google_ads_728_x_90 {
    display: none;
  }

  .mobile_post_inner_google_ads_300_x_50_top,
  .mobile_post_inner_google_ads_300_x_50_bottom,
  .mobile_news_details_google_ads_300_x_250 {
    display: block;
  }
  /* google ads show END */

  .related__news__body {
    flex-direction: column;
  }

  .related__news__body > .card-vertical {
    width: 500px;
  }

  .related__news__body > .card-vertical:first-child {
    margin-bottom: 20px;
  }

  /* .news__content {
    width: 320px;
    margin: 0 auto;
  } */

  .post__social__item {
    margin: 0 3px;
  }

  .news__content {
    width: 100%;
  }

  .related__news__body > .card-vertical .card__footer {
    padding: 14px 17px 25px;
  }

  #news-details-container .news__wrapper,
  #news-details-container .aside__wrapper {
    width: calc(100% - 32px);
    margin: 0 16px;
  }

  .aut__post .card__header {
    width: 52%;
  }

  .aut__post .card__horizontal > .card__header-horizontal {
    width: 52%;
  }

  .aut__post .card__horizontal > .card__header-vertical {
    width: 52%;
    height: 25vw;
    min-height: 190px;
  }

  .aut__post .card__body {
    padding-left: 16px;
    width: calc(100% - 52%);
  }

  .aut__post .card__body > .aut__recommend__date {
    margin-bottom: 1px;
  }

  .related__news__body > .card-vertical {
    width: 100%;
  }

  #news-details-container .top__headlines {
    margin: 48px 0 45px;
  }

  /* Font Size BEGIN */
  #news-details-container .news__cucumber__list {
    font-size: 12px;
  }

  #news-details-container .post__tags {
    font-size: 12px;
  }

  #news-details-container .post__title {
    font-size: 20px;
    line-height: 30px;
  }

  #news-details-container .post__meta {
    font-size: 12px;
  }

  .post__summary {
    font-size: 14px;
  }

  .post__inner-text {
    font-size: 14px;
  }

  .hash__tag__item {
    font-size: 12px;
  }

  .aut__recommend__header {
    font-size: 18px;
    margin-bottom: 23px;
  }

  .aut__post .card__body > .aut__recommend__date {
    font-size: 12px;
  }

  .aut__post .card__body > .aut__recommend__title {
    font-size: 14px;
    line-height: 25px;
    -webkit-line-clamp: 3;
    max-height: 70px;
  }

  .aut__recommend__hashtag > .hashtag-list .hashtag-item {
    font-size: 12px;
  }

  .related__news__header {
    font-size: 18px;
    margin-bottom: 22px;
  }

  .related__news__body > .card-vertical .category_tag a {
    font-size: 12px;
  }

  .related__news__body > .card-vertical .card__footer__title {
    font-size: 16px;
  }

  .related__news__body > .card-vertical .card__footer__date {
    font-size: 12px;
  }

  .related__news__body > .card-vertical .card_body-vertical {
    width: 100%;
    height: 44vw;
    min-height: 29vw;
  }

  .related__news__body > .card-vertical .card_body-horizontal {
    width: 100%;
    height: auto;
  }

  .top__headlines__item > .headlines__news-title {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .vertical__post__image > img {
    object-fit: cover;
  }

  .inner__text-area img[style="width: 400px; height: 500px;"] {
    width: 100% !important;
    height: 100% !important;
    max-height: 500px;
  }

  .aut__post .card__horizontal > .card__header-horizontal {
    width: 52%;
    /* min-height: 110px; */
  }

  .aut__post .card__horizontal > .card__header-vertical {
    width: 52%;
    height: 31vw;
    min-height: 110px;
  }

  .related__news__body > .card-vertical .card_body-vertical {
    width: 100%;
    height: 60vw;
    min-height: 29vw;
  }
}
/* Resposive Desgin END */
