#news-list-container.news__list__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1024px;
  height: auto;
  padding: 170px 0 0;
  margin: 0 auto;

  position: relative;
}

#news-list-container.news__list__wrapper > .news__list__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

#news-list-container.news__list__wrapper > .news__list__header .cumcuber__list {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: var(--cumcuber-list-text-color);
}

#news-list-container > .news__list__header .news__list__divider {
  width: 100%;
  height: 3px;
  background-color: var(--news-list-divider-background-color);
  margin: 22px 0 33px;
}

#news-list-container > .news__list__body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1017px;
  height: auto;
}

#news-list-container > .news__list__body .news__list__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

#news-list-container > .news__list__body .card__horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 15px 0;
  cursor: pointer;
}

#news-list-container > .news__list__body .card__horizontal:first-child {
  margin-top: 0px;
}

#news-list-container > .news__list__body .card__horizontal:last-child {
  margin-bottom: 0px;
}

#news-list-container
  > .news__list__body
  .card__horizontal
  > .card__body
  .card__content__title:hover {
  text-decoration: underline;
}

/* Remove */
#news-list-container > .news__list__body .card__horizontal > .card__header {
  width: 400px;
  height: 250px;
  overflow: hidden;
}

#news-list-container > .news__list__body .card__horizontal > .card__header img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

#news-list-container
  > .news__list__body
  .card__horizontal
  > .card__header:hover
  img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* Remove */

/* 水平 */
#news-list-container
  > .news__list__body
  .card__horizontal
  > .card__header-horizontal {
  width: 400px;
  height: 250px;
  max-width: 400px;
  max-height: 250px;
  overflow: hidden;
}

#news-list-container
  > .news__list__body
  .card__horizontal
  > .card__header-horizontal
  img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

#news-list-container
  > .news__list__body
  .card__horizontal
  > .card__header-horizontal:hover
  img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* 水平 */

/* 垂直 */
#news-list-container
  > .news__list__body
  .card__horizontal
  > .card__header-vertical {
  width: 400px;
  height: 250px;
  max-width: 400px;
  max-height: 250px;
  overflow: hidden;
}

#news-list-container
  > .news__list__body
  .card__horizontal
  > .card__header-vertical
  img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top left;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}

#news-list-container
  > .news__list__body
  .card__horizontal
  > .card__header-vertical:hover
  img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* 垂直 */

#news-list-container > .news__list__body .card__horizontal > .card__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 435px);
  height: 250px;
  margin: 0 0 0 35px;
}

#news-list-container
  > .news__list__body
  .card__horizontal
  > .card__body
  .card__content__date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #2d9afc;
  width: 100%;
  height: 22px;
  margin: 0 0 10px;
}

#news-list-container
  > .news__list__body
  .card__horizontal
  > .card__body
  .card__content__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--news-title-text-color);
  width: 100%;
  margin: 0 0 9px 0;

  /* max title line is two lines */
  overflow: hidden;
  word-break: break-word;
  line-height: 30px;
  height: auto;
  max-height: 67px;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

#news-list-container .card__horizontal > .card__body .card__content__paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 25px;
  letter-spacing: normal;
  text-align: left;
  color: var(--news-paragraph-text-color);
  width: 100%;

  margin: 0 0 10px;

  /* max title line is five lines */
  overflow: hidden;
  word-break: break-word;
  height: auto;
  max-height: 1100px;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
}

#news-list-container > .news__list__body .topic__comment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20px;
  margin: 0;
}

#news-list-container > .news__list__body .topic__comment-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
}

#news-list-container > .news__list__body .topic__comment-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  height: 100%;
  text-align: center;
  margin: 0 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #2d9afc;
}

#news-list-container > .news__list__body .topic__comment-item:first-child {
  margin: 0 10px 0 0;
}

#news-list-container > .news__list__body .topic__comment-item > a,
#news-list-container > .news__list__body .topic__comment-item > a.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #2d9afc;
}

#news-list-container > .news__list__body .topic__comment-item:hover > a {
  text-decoration: underline;
}

#news-list-container > .news__list__body .hashtag {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 36px;
}

#news-list-container > .news__list__body .hashtag-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

#news-list-container > .news__list__body .hashtag-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 100%;
  margin: 0 10px;
  box-sizing: border-box;
  width: max-content;
  height: 100%;
  padding: 7px;
  opacity: 1;
  background-color: var(--news-card-background-color);
  color: var(--news-paragraph-text-color);
}

#news-list-container > .news__list__body .hashtag-item > a {
  text-decoration: none;
  height: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: inherit;
}

#news-list-container > .news__list__body .hashtag-item a::before {
  content: "#";
}

#news-list-container > .news__list__body .hashtag-item:hover {
  background-color: #2d9afc;
  color: #ffffff;
}

#news-list-container > .news__list__body .hashtag-item:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

#news-list-container > .news__list__body .hashtag-item:first-child {
  margin: 0 10px 0 0;
}

#news-list-container > .news__list__body .hashtag-item:last-child {
  margin: 0 0 0 10px;
}

#news-list-container > .news__list__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 124px auto 121px;
}

#news-list-container > .news__list__footer > .pagination__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  /* 因為臨時性需求導致手機版本會跑版。 */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#news-list-container > .news__list__footer .pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  width: auto;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--pagination-background-color);
  padding: 8px 10px;
  margin: 5px;
}

#news-list-container > .news__list__footer .pagination__item:hover {
  background-color: var(--pagination-active-bg-color);
}

#news-list-container > .news__list__footer .pagination__item:hover > a {
  color: var(--pagination-active-text-color);
}

#news-list-container > .news__list__footer .pagination__item > a {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: var(--pagination-text-color-color);
  width: 100%;
  height: 100%;
  text-align: center;
}

#news-list-container > .news__list__footer .pagination__item.active {
  background-color: var(--pagination-active-bg-color);
}

#news-list-container > .news__list__footer .pagination__item.active > a {
  color: var(--pagination-active-text-color);
}

/* Float Button (Contact Us) BEGIN */
.float__icon {
  display: block;
  z-index: 99;
  position: relative;
}

a > .contact__us {
  position: fixed;
  bottom: 55px;
  right: 55px;
  background: url("../icon/contact_us.png") no-repeat center center;
  background-size: cover;
  width: 60px;
  height: 60px;
}

a > .contact__us__footer {
  position: absolute;
  bottom: 55px;
  right: 55px;
  background: url("../icon/contact_us.png") no-repeat center center;
  background-size: cover;
  width: 60px;
  height: 60px;
}

@media (max-width: 500px) {
  a > .contact__us {
    position: fixed;
    bottom: 12px;
    right: 12px;
    background: url("../icon/contact_us.png") no-repeat center center;
    background-size: cover;
    width: 40px;
    height: 40px;
  }
}
/* Float Button (Contact Us) END */

@media (max-width: 1920px) {
  #news-list-container.news__list__wrapper {
    margin: 0 13% 0 auto;
  }
}

@media (max-width: 1366px) {
  #news-list-container.news__list__wrapper {
    margin: 0 auto;
    padding: 170px 10px 0;
  }
}

@media (max-width: 1100px) {
  #news-list-container.news__list__wrapper {
    padding: 120px 10px 0;
    width: 100%;
  }

  #news-list-container > .news__list__body {
    width: 100%;
  }

  #news-list-container > .news__list__body .card__horizontal > .card__header {
    width: 39%;
    height: 100%;
  }

  #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__header-horizontal {
    width: 39%;
    height: 100%;
  }

  #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__header-vertical {
    width: 39%;
    /* height: 100%; */
    height: 23vw;
  }

  #news-list-container > .news__list__body .card__horizontal > .card__body {
    width: calc(100% - 39%);
    height: auto;
  }
}

@media (max-width: 900px) {
  #news-list-container > .news__list__body .card__horizontal > .card__body {
    margin: 0 0 0 17px;
  }

  #news-list-container > .news__list__body .card__horizontal > .card__header {
    width: 40%;
    height: 100%;
  }

  #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__header-horizontal {
    width: 40%;
    height: 100%;
  }

  #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__header-vertical {
    width: 40%;
    /* height: 100%; */
    height: 24vw;
  }

  #news-list-container > .news__list__body .card__horizontal > .card__body {
    width: calc(100% - 40%);
    height: auto;
  }

  #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__body
    .card__content__title {
    font-size: 18px;
  }

  #news-list-container
    .card__horizontal
    > .card__body
    .card__content__paragraph {
    font-size: 14px;
    margin: 0 0 17px;
  }
}

@media (max-width: 767px) {
  #news-list-container > .news__list__body .card__horizontal > .card__header {
    width: 44%;
    height: 100%;
  }

  #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__header-horizontal {
    width: 44%;
    height: 100%;
  }

  #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__header-vertical {
    width: 44%;
    height: 27vw;
    /* height: 100%; */
  }

  #news-list-container > .news__list__body .card__horizontal > .card__body {
    width: calc(100% - 44%);
    height: auto;
  }

  #news-list-container
    .card__horizontal
    > .card__body
    .card__content__paragraph,
  #news-list-container > .news__list__body .topic__comment {
    display: none;
  }

  #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__body
    .card__content__title {
    line-height: 25px;
    -webkit-line-clamp: 3;
    max-height: 70px;
  }
}

@media (max-width: 668px) {
  #news-list-container > .news__list__body .card__horizontal > .card__header {
    width: 48%;
    height: 100%;
  }

  /* #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__header-horizontal {
    width: 48%;
    height: 100%;
  } */

  /* #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__header-vertical {
    width: 48%;
    height: 100%;
  } */

  #news-list-container > .news__list__body .card__horizontal > .card__body {
    width: calc(100% - 48%);
    height: auto;
  }
}

@media (max-width: 564px) {
  #news-list-container > .news__list__body .card__horizontal > .card__header {
    width: 53%;
    height: 100%;
  }

  /* #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__header-horizontal {
    width: 53%;
    height: 100%;
  } */

  /* #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__header-vertical {
    width: 53%;
    height: 100%;
  } */

  #news-list-container > .news__list__body .card__horizontal > .card__body {
    width: calc(100% - 53%);
    height: auto;
  }
}

@media (max-width: 414px) {
  #news-list-container.news__list__wrapper {
    padding: 95px 0 0;
    margin: 0 16px;
    width: calc(100% - 32px);
  }

  #news-list-container > .news__list__header .news__list__divider {
    margin: 15px 0 10px;
  }

  #news-list-container > .news__list__body .card__horizontal {
    margin: 10px 0;
  }

  #news-list-container > .news__list__body .card__horizontal > .card__header {
    width: 55%;
    height: 100%;
  }

  #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__header-horizontal {
    width: 55%;
    height: 100%;
  }

  #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__header-vertical {
    width: 55%;
    height: 31vw;
    /* height: 100%; */
  }

  #news-list-container > .news__list__body .card__horizontal > .card__body {
    width: calc(100% - 55%);
    height: auto;
  }

  #news-list-container > .news__list__footer {
    margin: 94px 0 79px;
  }

  #news-list-container > .news__list__footer .pagination__item {
    min-width: 24px;
    min-height: 24px;
    width: 24px;
    height: 24px;
    padding: 5px 8px;
  }

  /* Font Size BEGIN */
  #news-list-container.news__list__wrapper
    > .news__list__header
    .cumcuber__list {
    font-size: 12px;
  }

  #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__body
    .card__content__date {
    font-size: 12px;
    margin: 0 0 1px;
  }

  #news-list-container
    > .news__list__body
    .card__horizontal
    > .card__body
    .card__content__title {
    font-size: 14px;
  }

  #news-list-container > .news__list__footer .pagination__item > a {
    font-size: 12px;
  }
  /* Font Size END */
}
