#news-slider.main {
  background: url("../images/news_slider_bg.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 600px;
}

/* this is header tags for story BEGIN */
.story-title {
  display: none;
  opacity: 0;
  visibility: hidden;
}
/* this is header tags for story BEGIN */

#news-slider.main > .mobile__image__slider {
  display: none;
}

#news-slider.main > .image__slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  width: 100%;
  max-width: 1440px;
}

#news-slider.main ul.tableList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#news-slider.main > .multiple-items {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 1400px;
  padding: 100px 0 0;
  margin: 0 auto;
  position: relative;
}

#news-slider.main > .multiple-items .photo__item {
  width: 320px;
  height: 400px;
  margin: 0 19px;
  cursor: pointer;
}

.slick-track {
  transition: none;
}

button.slider__arrow__prev {
  border: none;
  outline: none;
  background: url("../icon/button.png") no-repeat center center;
  background-size: cover;
  transform: rotate(0.5turn);
  width: 60px;
  height: 60px;
  position: absolute;
  top: 260px;
  left: -10px;
  z-index: 99;
  cursor: pointer;
}

button.slider__arrow__prev:hover {
  background: url("../icon/Button_h.png") no-repeat center center;
}

button.slider__arrow__next {
  border: none;
  outline: none;
  background: url("../icon/button.png") no-repeat center center;
  background-size: cover;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 260px;
  right: -17px;
  z-index: 99;
  cursor: pointer;
}

button.slider__arrow__next:hover {
  background: url("../icon/Button_h.png") no-repeat center center;
}

ul.tableList li.objectBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 320px;
  height: 400px;
}

ul.tableList li.objectBlock > img {
  width: 320px;
  height: 400px;
}

.pageButton {
  padding: 5px;
  height: 100%;
}

.clickPageNumber {
  width: 35px;
  height: 5px;
  border-radius: 3px;
  background-color: #ffffff;
  margin: 0 2px;
}

.clickPageNumber.active {
  width: 35px;
  height: 5px;
  border-radius: 3px;
  background-color: #0a2fea;
  margin: 0 2px;
}

.pagination-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

.pagination-block span {
  display: inline-block;
}

.pagination-block .pageButton {
  position: relative;
  top: -250px;
  background-color: grey;
  color: white;
}

#button_prev {
  background: url("../icon/button.png") no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  transform: rotate(0.5turn);
}

#button_next {
  background: url("../icon/button.png") no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
}

#button_prev:hover {
  background: url("../icon/Button_h.png") no-repeat center center;
  background-size: contain;
}

#button_next:hover {
  background: url("../icon/Button_h.png") no-repeat center center;
  background-size: contain;
}

.pagination-block span:hover {
  cursor: pointer;
}

.opacity {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.outline-none {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 1499px) and (min-width: 1024px) {
  #news-slider.main > .multiple-items {
    width: 1029px;
  }
}

@media (max-width: 1100px) {
  #news-slider.main > .multiple-items .photo__item {
    width: 310px;
    height: 387px;
    margin: 0 10px;
  }

  button.slider__arrow__next {
    right: 3px;
  }
}

/* @media (max-width: 1023px) { */
@media (max-width: 1099px) {
  /* 修改了 story 區塊，新增 1023px 的判斷 */
  #news-slider.main > .multiple-items {
    width: 920px;
    padding: 100px 0 0;
    max-width: 100%;
  }

  #news-slider.main > .multiple-items .photo__item {
    width: 280px;
    height: 350px;
  }

  #news-slider.main > .multiple-items .photo__item img {
    height: 100%;
    width: 100%;
  }

  ul.tableList li.objectBlock:last-child {
    margin-right: 0px;
  }

  ul.tableList li.objectBlock > img {
    width: 280px;
    height: 300px;
  }

  .pagination-block {
    margin-top: 25px;
  }

  .pageButton#button_prev {
    right: 25px;
  }

  .pageButton#button_next {
    left: 25px;
  }

  .pagination-block .pageButton {
    position: relative;
    top: -250px;
  }

  button.slider__arrow__next {
    right: -15px;
  }
}
/* 新增新的 */
@media (max-width: 1023px) {
  #news-slider.main > .multiple-items {
    width: 768px;
    padding: 50px 0 0;
    max-width: 100%;
  }

  #news-slider.main > .multiple-items .photo__item {
    width: 370px;
    height: 450px;
  }
}

@media (max-width: 850px) {
  #news-slider.main > .multiple-items {
    width: 680px;
    padding: 80px 0 0;
  }

  #news-slider.main > .multiple-items .photo__item {
    width: 320px;
    height: 400px;
  }
}

/* @media (max-width: 750px) and (min-width: 680px) {
  button.slider__arrow__prev {
    left: 0;
  }

  button.slider__arrow__next {
    right: 0;
  }
} */

/* @media (max-width: 767px) { */
/* @media (max-width: 680px) { */
/* #news-slider.main > .multiple-items {
    width: 430px;
    height: 100%;
    padding: 50px 0 0;
  }

  #news-slider.main > .multiple-items .photo__item {
    width: 420px;
    height: 500px;
  }

  #news-slider.main > .multiple-items .photo__item img {
    height: 100%;
    width: 100%;
  } */
/* } */

@media (max-width: 425px) {
  #news-slider.main > .multiple-items {
    width: 320px;
    height: 100%;
    padding: 50px 0 0;
  }

  #news-slider.main > .multiple-items .photo__item {
    width: 320px;
    height: 400px;
  }
}

@media (max-width: 767px) {
  /* @media (max-width: 414px) { */
  #news-slider.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 0;
    background: url(../images/mb_activity_bg.svg) no-repeat center center;
    background-size: cover;
  }

  #news-slider.main > .multiple-items,
  #news-slider.main > .image__slider {
    display: none;
  }

  #news-slider.main > .mobile__image__slider {
    display: block;
  }

  #news-slider.main > .mobile__image__slider {
    width: 100%;
    height: auto;
  }

  #news-slider.main > .mobile__image__slider .swiper-container {
    height: 350px;
  }

  #news-slider.main > .mobile__image__slider .swiper-wrapper {
    list-style: none;
    align-items: center;
  }

  .swiper-slide {
    opacity: 0.5;
    width: 200px;
    height: 250px;
    /* width: 240px;
    height: 300px; */
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  .swiper-slide-active {
    opacity: 1;
    transform: scale(1.2);
    transition: 0.4s;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 20%;
    height: 70%;
    top: 20%;
  }

  .swiper-button-prev {
    left: 1px;
  }

  .swiper-button-next {
    right: 1px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: "";
  }
}
