/* This version have problem. */
#news-slider.main {
  background: url("../images/news_slider_bg.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  /* padding: 100px 20px; */
}

#news-slider.main > .mobile__image__slider {
  display: none;
}

#news-slider.main > .image__slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  width: 100%;
  max-width: 1440px;
}

#news-slider.main ul.tableList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#news-slider.main > .multiple-items {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  padding: 100px 20px;
}

#news-slider.main > .multiple-items .photo__item {
  width: 320px;
  height: auto;
  max-height: 400px;
  margin: 0 auto;
  /* padding: 0 10px; */
  cursor: pointer;
}

#news-slider.main > .multiple-items .photo__item > img {
  width: 100%;
  max-width: 320px;
  height: 100%;
  margin: 0 auto;
}

button.slider__arrow__prev {
  border: none;
  outline: none;
  background: url("../icon/button.png") no-repeat center center;
  background-size: cover;
  transform: rotate(0.5turn);
  width: 60px;
  height: 60px;
  position: absolute;
  top: 42%;
  left: 0px;
  z-index: 99;
  cursor: pointer;
}

button.slider__arrow__prev:hover {
  background: url("../icon/Button_h.png") no-repeat center center;
}

button.slider__arrow__next {
  border: none;
  outline: none;
  background: url("../icon/button.png") no-repeat center center;
  background-size: cover;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 42%;
  right: 0px;
  z-index: 99;
  cursor: pointer;
}

button.slider__arrow__next:hover {
  background: url("../icon/Button_h.png") no-repeat center center;
}

#button_prev {
  background: url("../icon/button.png") no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  transform: rotate(0.5turn);
}

#button_next {
  background: url("../icon/button.png") no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
}

#button_prev:hover {
  background: url("../icon/Button_h.png") no-repeat center center;
  background-size: contain;
}

#button_next:hover {
  background: url("../icon/Button_h.png") no-repeat center center;
  background-size: contain;
}

.pagination-block span:hover {
  cursor: pointer;
}

.opacity {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.outline-none {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* @media (max-width: 1400px) {
  #news-slider.main > .multiple-items {
    width: 100%;
  }
} */

@media (max-width: 1500px) {
  #news-slider.main {
    width: 100%;
    padding: 68px 26px;
  }

  #news-slider.main > .multiple-items {
    padding: 0;
  }

  #news-slider.main > .multiple-items .photo__item {
    width: 300px;
    height: auto;
  }

  button.slider__arrow__prev {
    left: -1.5vw;
  }

  button.slider__arrow__next {
    right: -1vw;
  }
}

@media (max-width: 1023px) {
  #news-slider.main {
    width: 100%;
    padding: 61.5px 23px;
  }
}

@media (max-width: 650px) {
  #news-slider.main > .multiple-items .photo__item > img {
    width: 45vw;
    /* 297px */
    height: auto;
  }
}

/* @media (max-width: 1100px) {
  #news-slider.main > .multiple-items .photo__item > img {
    margin: 0;
  }
} */

/* @media (max-width: 1024px) {
  #news-slider.main > .multiple-items {
    width: 780px;
    padding: 50px 0 0;
    max-width: 100%;
  }

  #news-slider.main > .multiple-items .photo__item {
    width: 370px;
    height: 450px;
  }

  #news-slider.main > .multiple-items .photo__item img {
    height: 100%;
    width: 100%;
  }

  ul.tableList li.objectBlock:last-child {
    margin-right: 0px;
  }

  ul.tableList li.objectBlock > img {
    width: 280px;
    height: 300px;
  }

  .pagination-block {
    margin-top: 25px;
  }

  .pageButton#button_prev {
    right: 25px;
  }

  .pageButton#button_next {
    left: 25px;
  }

  .pagination-block .pageButton {
    position: relative;
    top: -250px;
  }
} */

/* @media (max-width: 850px) {
  #news-slider.main > .multiple-items {
    width: 680px;
    padding: 80px 0 0;
  }

  #news-slider.main > .multiple-items .photo__item {
    width: 320px;
    height: 400px;
  }
} */

/* @media (max-width: 750px) and (min-width: 680px) {
  button.slider__arrow__prev {
    left: 0;
  }

  button.slider__arrow__next {
    right: 0;
  }
} */

/* @media (max-width: 680px) {
  #news-slider.main > .multiple-items {
    width: 430px;
    height: 100%;
    padding: 50px 0 0;
  }

  #news-slider.main > .multiple-items .photo__item {
    width: 420px;
    height: 500px;
  }

  #news-slider.main > .multiple-items .photo__item img {
    height: 100%;
    width: 100%;
  }
} */

/* @media (max-width: 425px) {
  #news-slider.main > .multiple-items {
    width: 320px;
    height: 100%;
    padding: 50px 0 0;
  }

  #news-slider.main > .multiple-items .photo__item {
    width: 320px;
    height: 400px;
  }
} */

@media (max-width: 600px) {
  /* @media (max-width: 414px) { */
  #news-slider.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 0;
    background: url(../images/mb_activity_bg.svg) no-repeat center center;
    background-size: cover;
  }

  #news-slider.main > .multiple-items,
  #news-slider.main > .image__slider {
    display: none;
  }

  #news-slider.main > .mobile__image__slider {
    display: block;
  }

  #news-slider.main > .mobile__image__slider {
    width: 100%;
    height: auto;
  }

  #news-slider.main > .mobile__image__slider .swiper-container {
    height: 350px;
  }

  #news-slider.main > .mobile__image__slider .swiper-wrapper {
    list-style: none;
    align-items: center;
  }

  .swiper-slide {
    opacity: 0.5;
    width: 200px;
    height: 250px;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  .swiper-slide-active {
    opacity: 1;
    transform: scale(1.2);
    transition: 0.4s;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 25vw;
    height: 70%;
    top: 20%;
  }

  .swiper-button-prev {
    left: 1px;
  }

  .swiper-button-next {
    right: 1px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: "";
  }
}
