/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
html {
  margin: 0;
  padding: 0;
}

:root {
  /* Standard Color */
  --body-color: #e3e3e3;
  --dodger-blue: #2d9afc;
  --vivid-sky-blue: #31cfff;
  --rich-black-fogra-29: #0f1119;
  --silver-sand: #c1c6c9;
  --y-in-mn-blue: #3c4d96;
  --white: #ffffff;
  --raisin-black: #171b26;
  --resolution-blue--20: rgba(4, 30, 130, 0.2);
  --blue-pantone: #011ca2;
  --blue-ryb: #2949ea;

  --toogle-background-color: #c1c6c9;
  --toggle-switch-color: #ffffff;
  --navbar-background-color: #0a2fea;
  --responsive-background-color: #00137e;
  --navbar-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  --news-card-background-color: #ffffff;
  --hot-news-card-footer-color: #2949ea;
  --aside-column-background-color: #041e82;
  --latest-news-hash-tag-bg-color: #ffffff;

  /* Text Color */
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --standard-text-color: #6c6e6f;
  --navbar-active-text-color: #2d9afc;
  --news-heading-text-color: #011ca2;
  --news-title-text-color: #011ca2;
  --news-paragraph-text-color: #0f1119;
  --spacial-column-read-more-color: #011ca2;
  --latest-news-hash-tag-color: #0f1119;
  --text-color: #000000;
  --post-inner-text-color: #011ca2;
  --post-inner-text-color-active: #551a8b;
  --cumcuber-list-text-color: var(--rich-black-fogra-29);

  /* Font Size */
  --std-font-size: 16px;
  --small-font-size: 14px;

  /* Background Color */
  --header-background-color: #e4e4e4;
  --icon-background-color: #e4e4e4;

  /* Icon Size */
  --small-icon: 14px;
  --medium-icon: 25px;

  /* Navbar */
  --menu-height: 80px;

  /* Hero Section */
  --hero-background: url("../images/hero_bg_light.svg");
  --mb-hero-background: url("../images/mb_ibg_white.svg");

  /* Fixture Score Section */
  --see-all-text-color: #011ca2;
  --fixture-score-background-color: #ffffff;
  --fixture-score-background: url("../images/white_fixture_watermark.svg");
  --fixture-score-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  --fixture-score-team-name-color: #011ca2;
  --fixture-score-result-color: #2d9afc;
  --fixture-score-time-color: #011ca2;
  --fixture-score-team-bg-color: #efefef;

  --fixture-score-date-bg-color: #efefef;
  --fixture-score-date-color: #021564;
  --fixture-score-date-active-color: #ffffff;

  /* Standings Section */
  --standings-background-color: #ffffff;
  --standings-background: url("../images/white_standings_watermark.svg");
  --standings-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  --standings-list-header-color: #021564;
  --standings-list-body-color: #011ca2;

  /* Pagination */
  --pagination-background-color: #ffffff;
  --pagination-text-color-color: #011ca2;
  --pagination-active-bg-color: #2d9afc;
  --pagination-active-text-color: #ffffff;

  /* News Details */
  --top-headlines-text-color: #011ca2;
  --top-headlines-divider-bg-color: rgba(4, 30, 130, 0.2);
  --top-headlines-list-item-bg-color: #ffffff;
  --top-headlines-list-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  --top-headlines-list-title-color: #011ca2;
  --news-detail-cucumber-list-color: #0f1119;
  --news-detail-divider-bg-color: rgba(4, 30, 130, 0.2);
  --news-detail-post-title: #011ca2;
  --news-detail-sub-text: var(--rich-black-fogra-29);
  --news-detail-post-hash-tag-bg-color: var(--white);
  --news-detail-post-hash-tag-text-color: var(--rich-black-fogra-29);
  --news-detail-author-recommend-header-color: var(--blue-pantone);
  --news-detail-author-recommend-date-color: var(--dodger-blue);
  --news-detail-author-recommend-title-color: var(--blue-pantone);
  --news-detail-author-recommend-paragraph-color: var(--rich-black-fogra-29);
  --news-detail-related-news-header-color: var(--blue-pantone);
  --news-detail-related-news-bg-color: var(--white);
  --news-detail-related-news-footer-title-color: var(--blue-pantone);
  --sticky-share-button-bg-color: var(--silver-sand);
  --sticky-share-button-divider-bg: url("../icon/details/share_arrow_sun.svg");

  /* News List */
  --news-list-divider-background-color: rgba(4, 30, 130, 0.1);

  /* Comment Area waiting ann provide color code BEGIN */
  --comment-area-background-color: #c2c6c9;
  --comment-area-border-color: var(--silver-sand);
  /* Comment Area waiting ann provide color code END */

  --sticky-pos: 150px;

  /* Month Headlines BEGIN */
  --month-headlines-arrow-left: url("../icon/month_headlines-left-arrow-white-mode.svg");
  --month-headlines-arrow-right: url("../icon/month_headlines-right-arrow-white-mode.svg");
  --month-headlines-arrow-left-hover: url("../icon/month_headlines-left-arrow-hover.svg");
  --month-headlines-arrow-right-hover: url("../icon/month_headlines-right-arrow-hover.svg");
  --month-headlines-text-color: #011ca2;
  --month-headlines-title-color: #011ca2;
  /* Month Headlines END */

  /* Error 404 BEGIN */
  --error-page-header-text-color: #011ca2;
  --error-page-header-number-color: #011ca2;
  --error-page-info-text-color: #0f1119;
  --error-page-content-bg-color: rgba(255, 255, 255, 0.7);
  --error-page-bg-image-website: url("../images/error_404bg_w.jpg");
  --error-page-bg-image-pad-pro: url("../images/error_404bg_w_pad.jpg");
  --error-page-bg-image-pad: url();
  --error-page-bg-image-mobile: url("../images/error_404bg_w_phone.jpg");
  /* Error 404 END */

  /* News Category List BEGIN */
  --category-news-list-title-text-color: #011ca2;
  --category-news-list-sm-title-text-color: #0f1119;
  --category-news-list-pagination-title-text-color: #0f1119;
  --category-news-list-pagination-border-top-color: rgba(4, 30, 130, 0.2);
  --category-news-list-theme-title-text-color: #313439;
  --category-news-list-show-arrow-icon: url("../icon/show_more_arrow-w.svg");
  /* News Category List END */

  /* Month Headlines List BEGIN */
  --month-headlines-list-title-text-color: #011ca2;
  --month-headlines-list-item-date-text-color: #2d9afc;
  --month-headlines-list-item-title-text-color: #011ca2;
  /* Month Headlines List END */
}

.dark-theme {
  /* Standard Color */
  --body-color: #21252f;
  --dodger-blue: #2d9afc;
  --vivid-sky-blue: #31cfff;
  --rich-black-fogra-29: #0f1119;
  --silver-sand: #c1c6c9;
  --y-in-mn-blue: #3c4d96;
  --white: #ffffff;
  --raisin-black: #171b26;
  --resolution-blue--20: rgba(193, 198, 201, 0.2);
  --blue-pantone: #011ca2;
  --blue-ryb: #2949ea;
  --raisin-black-02: #191a22;

  --toogle-background-color: var(--silver-sand);
  --toggle-switch-color: rgba(193, 198, 201, 0.1);
  --navbar-background-color: #0a2fea;
  --responsive-background-color: #00137e;
  --navbar-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  --news-card-background-color: #171b26;
  --hot-news-card-footer-color: transparent;
  --aside-column-background-color: #c1c6c9;
  --latest-news-hash-tag-bg-color: #171b26;

  /* Text Color */
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --standard-text-color: #6c6e6f;
  --navbar-active-text-color: #2d9afc;
  --news-heading-text-color: #ffffff;
  --news-title-text-color: #ffffff;
  --news-paragraph-text-color: #c1c6c9;
  --spacial-column-read-more-color: #c1c6c9;
  --latest-news-hash-tag-color: #d8ecff;

  /* Font Size */
  --std-font-size: 16px;
  --small-font-size: 14px;

  /* Background Color */
  --header-background-color: #191a22;
  --icon-background-color: #e4e4e4;

  /* Text color */
  --text-color: #ffffff;
  --post-inner-text-color: #2d9afc;
  --post-inner-text-color-active: #9e5dd8;
  --cumcuber-list-text-color: var(--silver-sand);

  /* Icon Size */
  --small-icon: 14px;
  --medium-icon: 25px;

  /* Navbar */
  --menu-height: 80px;

  /* Hero Section */
  --hero-background: url("../images/hero_bg_dark.svg");
  --mb-hero-background: url("../images/mb_ibg_deep.svg");

  /* Fixture Score Section */
  --see-all-text-color: #c1c6c9;
  --fixture-score-background-color: #171b26;
  --fixture-score-background: url("../images/dark_fixture_watermark.svg");
  --fixture-score-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  --fixture-score-team-name-color: #ffffff;
  --fixture-score-status-color: #31cfff;
  --fixture-score-time-color: #ffffff;
  --fixture-score-team-bg-color: #212839;

  --fixture-score-date-bg-color: #212839;
  --fixture-score-date-color: #ffffff;
  --fixture-score-date-active-color: #ffffff;

  /* Standings Section */
  --standings-background-color: #171b26;
  --standings-background: url("../images/dark_standings_watermark.svg");
  --standings-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  --standings-list-header-color: #c1c6c9;
  --standings-list-body-color: #ffffff;

  /* Pagination */
  --pagination-background-color: #171b26;
  --pagination-text-color-color: #c1c6c9;
  --pagination-active-bg-color: #2d9afc;
  --pagination-active-text-color: #ffffff;

  /* News Details */
  --top-headlines-text-color: #ffffff;
  --top-headlines-divider-bg-color: rgba(193, 198, 201, 0.2);
  --top-headlines-list-item-bg-color: #171b26;
  --top-headlines-list-box-shadow: none;
  --top-headlines-list-title-color: #ffffff;
  --news-detail-cucumber-list-color: #c1c6c9;
  --news-detail-divider-bg-color: rgba(193, 198, 201, 0.2);
  --news-detail-post-title: #ffffff;
  --news-detail-sub-text: var(--silver-sand);
  --news-detail-post-hash-tag-bg-color: var(--raisin-black);
  --news-detail-post-hash-tag-text-color: var(--text-color-white);
  --news-detail-author-recommend-header-color: var(--white);
  --news-detail-author-recommend-date-color: var(--vivid-sky-blue);
  --news-detail-author-recommend-title-color: var(--text-color-white);
  --news-detail-author-recommend-paragraph-color: var(--silver-sand);
  --news-detail-related-news-header-color: var(--text-color-white);
  --news-detail-related-news-bg-color: var(--raisin-black);
  --news-detail-related-news-footer-title-color: var(--text-color-white);
  --sticky-share-button-bg-color: var(--raisin-black-02);
  --sticky-share-button-divider-bg: url("../icon/details/share_arrow_night.svg");

  /* News List */
  --news-list-divider-background-color: rgba(193, 298, 201, 0.2);

  /* Comment Area waiting ann provide color code BEGIN */
  --comment-area-background-color: #c2c6c9;
  --comment-area-border-color: var(--silver-sand);
  /* Comment Area waiting ann provide color code END */

  --sticky-pos: 150px;

  /* Month Headlines BEGIN */
  --month-headlines-arrow-left: url("../icon/month_headlines-left-arrow-dark-mode.svg");
  --month-headlines-arrow-right: url("../icon/month_headlines-right-arrow-dark-mode.svg");
  --month-headlines-arrow-left-hover: url("../icon/month_headlines-left-arrow-hover.svg");
  --month-headlines-arrow-right-hover: url("../icon/month_headlines-right-arrow-hover.svg");
  --month-headlines-text-color: #c1c6c9;
  --month-headlines-title-color: #ffffff;
  /* Month Headlines END */

  /* Error 404 BEGIN */
  --error-page-header-text-color: #2b4eff;
  --error-page-header-number-color: #0a2fea;
  --error-page-info-text-color: #c1c6c9;
  --error-page-content-bg-color: rgba(17, 20, 29, 0.7);
  --error-page-bg-image-website: url("../images/error_404bg_d.jpg");
  --error-page-bg-image-pad-pro: url("../images/error_404bg_d_pad.jpg");
  --error-page-bg-image-pad: url();
  --error-page-bg-image-mobile: url("../images/error_404bg_d_phone.jpg");
  /* Error 404 END */

  /* News Category List BEGIN */
  --category-news-list-title-text-color: #ffffff;
  --category-news-list-sm-title-text-color: #c1c6c9;
  --category-news-list-pagination-title-text-color: #ffffff;
  --category-news-list-pagination-border-top-color: rgba(126, 127, 128, 0.2);
  --category-news-list-theme-title-text-color: #ffffff;
  --category-news-list-show-arrow-icon: url("../icon/show_more_arrow-d.svg");
  /* News Category List END */

  /* Month Headlines List BEGIN */
  --month-headlines-list-title-text-color: #ffffff;
  --month-headlines-list-item-date-text-color: #c1c6c9;
  --month-headlines-list-item-title-text-color: #ffffff;
  /* Month Headlines List END */
}

body {
  width: 100vw;
  height: 100%;
  background-color: var(--body-color);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.container {
  width: 100%;
  height: max-content;
  overflow-x: hidden;
  position: relative;
}

/* google ads BEGIN */
.google_ads_728_x_90 {
  cursor: pointer;
  background-color: #ffffff;
  width: 728px;
  height: 90px;
  min-height: 90px;
  margin-right: auto;
}

.google_ads_300_x_250 {
  cursor: pointer;
  background-color: #ffffff;
  width: 300px;
  height: 250px;
  min-height: 250px;
  margin: 0 auto 60px;
}

.google_ads_300_x_600 {
  cursor: pointer;
  background-color: #ffffff;
  width: 300px;
  height: 600px;
  min-height: 600px;
  margin: 0 auto;
}

.google_ads_300_x_50 {
  cursor: pointer;
  background-color: #000000;
  width: 300px;
  height: 50px;
  min-height: 50px;
  margin: 0 auto;
}

.google_ads_300_x_200 {
  cursor: pointer;
  background-color: #ffffff;
  width: 300px;
  height: 200px;
  min-height: 200px;
  margin: 0 auto;
}

.mb_google_ads_300_x_200 {
  cursor: pointer;
  background-color: #ffffff;
  width: 300px;
  height: 200px;
  min-height: 200px;
  margin: 0 auto;
}

.mb_google_ads_970_x_90 {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 970px;
  height: 90px;
  min-height: 90px;
  margin: 0 auto;
}

.footer__google__ads_400_x_130 {
  cursor: pointer;
  background-color: #ffffff;
  width: 400px;
  height: 130px;
  min-height: 130px;
  margin: 0 auto;
}

.news_details_google_ads_300_x_250 {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 300px;
  height: 250px;
  min-height: 250px;
  margin: 0 auto;
}

.news_details_google_ads_300_x_600 {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 300px;
  height: 600px;
  min-height: 600px;
  margin: 0 auto;
}

.post_inner_google_ads_435_x_500 {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 435px;
  height: 500px;
  min-height: 500px;
  margin: 0 auto 30px 0;
}

.news_details_google_ads_728_x_90 {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 435px;
  height: 90px;
  min-height: 90px;
  margin: 0 auto 0px 0;
}

.mobile_post_inner_google_ads_300_x_100_top {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 300px;
  height: 100px;
  min-height: 100px;
  margin: 20px auto;
}

.mobile_post_inner_google_ads_300_x_100_bottom {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 300px;
  height: 100px;
  min-height: 100px;
  margin: 0 auto;
}

.mobile_news_details_google_ads_300_x_50 {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 300px;
  height: 50px;
  min-height: 50px;
  margin: 0 auto;
}

.mobile_post_inner_google_ads_310_x_356 {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 310px;
  height: 356px;
  min-height: 356px;
  margin: 0 auto 20px;
}

.pad_pro_post_inner_google_ads_728_x_90_top {
  cursor: pointer;
  background-color: #ffffff;
  width: 728px;
  height: 90px;
  min-height: 90px;
  margin: 0 auto;
}

.pad_post_inner_google_ads_468_x_60_top {
  cursor: pointer;
  background-color: #ffffff;
  width: 468px;
  height: 60px;
  min-height: 60px;
  margin: 0 auto;
}

.mobile_post_inner_google_ads_300_x_50_top {
  cursor: pointer;
  background-color: #ffffff;
  width: 300px;
  height: 50px;
  min-height: 50px;
  margin: 0 auto;
}

.pad_pro_post_inner_google_ads_728_x_90_bottom {
  cursor: pointer;
  background-color: #ffffff;
  width: 728px;
  height: 90px;
  margin: 0 auto;
}

.pad_post_inner_google_ads_468_x_60_bottom {
  cursor: pointer;
  background-color: #ffffff;
  width: 468px;
  height: 60px;
  min-height: 60px;
  margin: 0 auto;
}

.mobile_post_inner_google_ads_300_x_50_bottom {
  cursor: pointer;
  background-color: #ffffff;
  width: 300px;
  height: 50px;
  min-height: 50px;
  margin: 0 auto;
}

.pad_pro_news_details_google_ads_970_x_90 {
  cursor: pointer;
  background-color: #ffffff;
  width: 970px;
  height: 90px;
  min-height: 90px;
  margin: 0 auto;
}

.pad_news_news_details_google_ads_728_x_90 {
  cursor: pointer;
  background-color: #ffffff;
  width: 728px;
  height: 90px;
  min-height: 90px;
  margin: 0 auto;
}

.mobile_news_details_google_ads_300_x_250 {
  cursor: pointer;
  background-color: #ffffff;
  width: 300px;
  height: 250px;
  margin: 0 auto;
}

.navbar__google__ads__300_x_50 {
  cursor: pointer;
  background-color: #000000;
  width: 300px;
  height: 50px;
  min-height: 50px;
  margin: 0 auto 30px;
}

.navbar__google__ads__468_x_60 {
  cursor: pointer;
  background-color: #000000;
  width: 468px;
  height: 60px;
  min-height: 60px;
  margin: 0 auto 30px;
}
/* google ads END */

/* Float Button (Contact Us) BEGIN */
/* .float__icon {
  display: block; */
/* position: relative; */
/* position: fixed; */
/* z-index: 99;
} */

/* a > .contact__us {
  position: fixed;
  bottom: 55px;
  right: 55px;
  background: url("../icon/contact_us.png") no-repeat center center;
  background-size: cover;
  width: 60px;
  height: 60px;
}

@media (max-width: 500px) {
  a > .contact__us {
    position: fixed;
    bottom: 12px;
    right: 12px;
    background: url("../icon/contact_us.png") no-repeat center center;
    background-size: cover;
    width: 40px;
    height: 40px;
  }
} */
/* Float Button (Contact Us) END */
