.text-animation {
  position: relative;
}

.content {
  /* position: absolute; */
  /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  /* height: 160px; */
  top: 0;
  left: 0;
  overflow: hidden;
  /* font-family: "Lato", sans-serif; */
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.content__container {
  font-weight: 500;
  overflow: hidden;
  height: 48px;
  /*padding: 0 40px; */
}
.content__container:after,
.content__container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 48px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content__container__list {
  margin-top: 0;
  padding-left: 0px;
  text-align: center;
  list-style: none;
  cursor: pointer;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list:hover {
  color: var(--navbar-active-text-color);
  -webkit-animation-name: none;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: none;
  animation-duration: 10s;
  animation-iteration-count: infinite;

  position: relative;
}
.content__container__list:hover::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 3px;
  background-color: var(--navbar-active-text-color);
  top: 34px;
  left: 0;
  /* width: 100%;
    height: 100%; */
  text-align: center;
}
.content__container__list__item {
  line-height: 48px;
  margin: 0;
  cursor: pointer;
  line-height: 48px;
  /* margin-top: ; */
}

@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
