/* Day Night Toggle CSS BEGIN */
.toggle-only {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch-only {
  display: inline-block;
  background: var(--toogle-background-color);
  border-radius: 16px;
  width: 60px;
  height: 30px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch-only:before,
.toggle-switch-only:after {
  content: "";
}

.toggle-switch-only:before {
  display: block;
  background: var(--toggle-switch-color) url("../icon/sun.svg") no-repeat center
    center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: left 0.25s;
}

.toggle-checkbox-only:checked + .toggle-switch-only {
  background: rgba(193, 198, 201, 0.1);
}

.toggle-checkbox-only:checked + .toggle-switch-only:before {
  background: #ffffff url("../icon/moon.svg") no-repeat center center;
}

.toggle-checkbox-only:checked + .toggle-switch-only:before {
  left: 32px;
}

.toggle-checkbox-only {
  position: absolute;
  visibility: hidden;
}
/* Day Night Toggle CSS END */

/* Responsive CSS BEGIN */
@media (max-width: 1499px) {
  .toggle-switch-only {
    background: rgba(193, 198, 201, 0.2);
  }
  .toggle-checkbox-only:checked + .toggle-switch-only {
    background: rgba(193, 198, 201, 0.2);
  }
}
/* Responsive CSS END */
