<!-- Footer Section BEGIN _footer.scss -->
<footer>
  <div class="footer-container" style="color: #000000">
    <p class="title">Welcome to iBongda - Bóng đá của bất kỳ ai!</p>
    <p class="description">
      iBongda.com Cập nhật tin bóng đá thú vị, có chiều sâu, gồm bóng đá trong
      ngoài nước với những tin tức giải đấu lớn, CLB, cầu thủ, LTĐ, tỷ số, BXH,
      chuyển nhượng, tin hot, tin bên lề, bình luận bóng đá, dự đoán, video bóng
      đá. Dù bạn là ai, ở đâu, chỉ cần có chung niềm đam mê bóng đá, chúng ta là
      một gia đình! Không “ai” để bạn xem “Bongda” một mình!
    </p>
    <p class="copyright">&copy; 2020-2022 iBongda.com All rights reserved.</p>
    <ul class="info">
      <li class="info-item">
        <a href="#" title="Privacy Policy" class="info-item-link">
          Privacy Policy
        </a>
      </li>
      <li class="info-item">
        <a href="#" title="Terms of Use" class="info-item-link">
          Terms of Use
        </a>
      </li>
      <li class="info-item">
        <a href="#" title="Contact Us" class="info-item-link"> Contact Us </a>
      </li>
    </ul>
  </div>
</footer>
<!-- Footer Section END -->
