<!-- Navbar Menu & Hot Site BEGIN -->
<header>
  <!-- Big Logo BEGIN -->
  <div class="big_logo">
    <a href="./index.html" title="home">
      <div class="biglogo">
        <div class="innerlogo"></div>
      </div>
      <div class="logocurve"></div>
    </a>
  </div>
  <!-- Big Logo END -->

  <div class="functional">
    <!-- Header SportTeam & Social Button BEGIN -->
    <div class="nav__social">
      <div class="nav__social-left">
        <ul>
          <li>
            <a href="#" class="hot__sites" title="hot__sites">
              HOT SITES
              <i class="share-icon"></i>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/MU.png"
                alt="euro_foot"
                title="euro_foot"
                loading="lazy"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/Man%20City.png"
                alt="p_l"
                title="p_l"
                loading="lazy"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/Chelsea.png"
                alt="Yijia"
                title="Yijia"
                loading="lazy"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/Liverpool.png"
                alt="bundesliga"
                title="bundesliga"
                loading="lazy"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/arsenal.png"
                alt="UEFA_C_L"
                title="UEFA_C_L"
                loading="lazy"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/real%20madrid.png"
                alt="euro_foot"
                title="euro_foot"
                loading="lazy"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/Barca.png"
                alt="p_l"
                title="p_l"
                loading="lazy"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/atle.png"
                alt="Yijia"
                title="Yijia"
                loading="lazy"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/ju.png"
                alt="bundesliga"
                title="bundesliga"
                loading="lazy"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/ac.png"
                alt="UEFA_C_L"
                title="UEFA_C_L"
                loading="lazy"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/In.png"
                alt="euro_foot"
                title="euro_foot"
                loading="lazy"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/roma123.png"
                alt="p_l"
                title="p_l"
                loading="lazy"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/Bay.png"
                alt="Yijia"
                title="Yijia"
                loading="lazy"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/Dortmund.png"
                alt="bundesliga"
                title="bundesliga"
                loading="lazy"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="sport__teams"
              title="sport__teams"
              rel="nofollow"
            >
              <img
                src="https://static.ibongda.com/img/sport/99999/PSG.png"
                alt="UEFA_C_L"
                title="UEFA_C_L"
                loading="lazy"
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="nav__social-right">
        <ul>
          <li>
            <a href="#" title="facebook fanpage">
              <i class="social__icon facebook"></i>
            </a>
          </li>
          <li>
            <a href="#" title="instagram">
              <i class="social__icon instagram"></i>
            </a>
          </li>
          <li>
            <a href="#" title="tik tok">
              <i class="social__icon tik_tok"></i>
            </a>
          </li>
          <li>
            <a href="#" title="telegram">
              <i class="social__icon telegram"></i>
            </a>
          </li>
          <!-- Haven't Available -->
          <!-- <li>
              <a href="#" title="zalo">
                <i class="social__icon zalo"></i>
              </a>
            </li>
            <li>
              <a href="#" title="rss">
                <i class="social__icon rss"></i>
              </a>
            </li>
            <li>
              <a href="#" title="youtube">
                <i class="social__icon youtube"></i>
              </a>
            </li> -->

          <li>
            <button id="day_night_control" class="btn-toggle">
              <label class="toggle-only" for="dn-toggle-input">
                <input
                  class="toggle-checkbox-only"
                  type="checkbox"
                  name="day_night_control"
                  id="dn-toggle-input"
                />
                <div class="toggle-switch-only"></div>
              </label>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <!-- Header SportTeam & Social Button END -->

    <!-- Navbar BEGIN -->
    <nav class="nav">
      <input type="checkbox" id="nav-check" />

      <!-- Hambuger Button BEGIN -->
      <div class="menu-btn">
        <label for="nav-check">
          <div class="menu-btn__burger"></div>
        </label>
      </div>
      <!-- Hambuger Button END -->

      <!-- Logo BEGIN -->
      <div class="mobile__logo">
        <a href="./index.html" title="home">
          <img src="../images/logo_mb.svg" alt="logo" title="logo" />
        </a>
      </div>
      <!-- LOGO END -->

      <!-- Search icon for mobile BEGIN -->
      <div class="mobile-search" id="mobile-search-icon">
        <i class="mobile-search-icon"></i>
      </div>
      <!-- Search icon for mobile END -->

      <!-- mobile search view BEGIN -->
      <div class="mb-search-container" id="mobile-search-container">
        <div class="search-box">
          <i class="mobile-search-icon"></i>
          <input type="text" placeholder="Search League, Team, Player ..." />
          <i class="mobile-cross-icon" id="mobile-cross-icon"></i>
        </div>
        <div class="search-result" id="mb-ibongda-search-result">
          <div class="content">
            <span class="title">LEAGUES</span>
            <ul class="result-list">
              <li class="result-list-item">
                <img src="" alt="" />
                <div class="info">
                  <span class="info-name">League Name</span>
                  <p>
                    <span class="info-small"> Country </span>
                    <span class="info-small"> / Season</span>
                  </p>
                </div>
              </li>
              <li class="result-list-item">
                <img src="" alt="" />
                <div class="info">
                  <span class="info-name">League Name</span>
                  <p>
                    <span class="info-small"> Country </span>
                    <span class="info-small"> / Season</span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="content">
            <span class="title">TEAMS</span>
            <ul class="result-list">
              <li class="result-list-item">
                <img src="" alt="" />
                <div class="info">
                  <span class="info-name">Team Name</span>
                  <p>
                    <span class="info-small"> Country </span>
                  </p>
                </div>
              </li>
              <li class="result-list-item">
                <img src="" alt="" />
                <div class="info">
                  <span class="info-name">Team Name</span>
                  <p>
                    <span class="info-small"> Country </span>
                  </p>
                </div>
              </li>
              <li class="result-list-item">
                <img src="" alt="" />
                <div class="info">
                  <span class="info-name">Team Name</span>
                  <p>
                    <span class="info-small"> Country </span>
                    <span class="info-small"> / Season</span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="content">
            <span class="title">ARTICLES</span>
            <ul class="result-list">
              <li class="result-list-item">
                <span class="news-title">
                  Article Title Tittttttle Title Tittle Titttle Title Tittttttle
                  Title Tittle Titttle Tittttttle Title Tittle Titttle Title
                </span>
              </li>
              <li class="result-list-item">
                <span class="news-title">
                  Article Title Tittttttle Title Tittle Titttle Title Tittttttle
                  Title Tittle Titttle Tittttttle Title Tittle Titttle Title
                </span>
              </li>
              <li class="result-list-item">
                <span class="news-title">
                  Article Title Tittttttle Title Tittle Titttle Title Tittttttle
                  Title Tittle Titttle Tittttttle Title Tittle Titttle Title
                </span>
              </li>
            </ul>
          </div>
          <button class="btn-more">View all articles for search terms</button>
        </div>
      </div>
      <!-- mobile search view END -->

      <!-- Navbar Link BEGIN -->
      <div class="nav__links">
        <div class="nav__links__left">
          <!-- Logo BEGIN (when navbar turn on)-->
          <div class="mobile-logo">
            <a href="./reindex.html" title="home">
              <img src="../images/logo_mb.svg" alt="logo" title="logo" />
            </a>
          </div>
          <!-- LOGO END (when navbar turn on)-->
          <ul class="navbar">
            <!-- Home only show at website screen BEGIN -->
            <li class="link home">
              <span>
                <a class="navbar__link" href="./reindex.html" title="Trang chủ">
                  HOME
                </a>
                <i class="right__arrow"></i>
              </span>
              <span class="divider"></span>
            </li>
            <!-- Home only show at website screen END -->
            <li class="dropdown">
              <span>
                NEWS
                <i class="down__arrow"></i>
                <i class="right__arrow"></i>
              </span>
              <span class="divider"></span>
              <ul class="dropdown-menu">
                <div class="dropdown-header"></div>
                <li class="link">
                  <a
                    href="./news_category_list-world_cup.html"
                    title="Bóng đá thế giới"
                  >
                    Bóng đá thế giới
                  </a>
                </li>
                <li class="link">
                  <a
                    href="./news_category_list-vietnam_cup.html"
                    title="Bóng đá Việt Nam"
                  >
                    Bóng đá Việt Nam
                  </a>
                </li>
                <li class="link">
                  <a
                    href="./news_category_list-transfer_news.html"
                    title="Tin chuyển nhượng"
                  >
                    Tin chuyển nhượng
                  </a>
                </li>
                <li class="link">
                  <a
                    href="./news_category_list-famous_news.html"
                    title="Chuyên mục đặc biệt"
                  >
                    Chuyên mục đặc biệt
                  </a>
                </li>
                <li class="link">
                  <a
                    href="./news_category_list-author_recommend.html"
                    title="Gợi Ý"
                  >
                    Gợi Ý
                  </a>
                </li>
              </ul>
            </li>
            <li class="link">
              <span>
                <a class="navbar__link" href="#" title="MONTHLY TOPIC">
                  MONTHLY TOPIC
                </a>
                <i class="right__arrow"></i>
              </span>
              <span class="divider"></span>
            </li>
            <li class="link">
              <span>
                <a class="navbar__link" href="./matches.html" title="MATCHES">
                  MATCHES
                </a>
                <i class="right__arrow"></i>
              </span>
              <span class="divider"></span>
            </li>
            <li class="dropdown">
              <span>
                LEAGUES
                <i class="down__arrow"></i>
                <i class="right__arrow"></i>
              </span>
              <span class="divider"></span>
              <ul class="dropdown-menus">
                <div class="dropdown-header"></div>
                <div class="multi__column">
                  <div class="column">
                    <a class="column__item" href="./LEAGUE.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/MU.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">MU</span>
                      </span>
                    </a>
                    <a class="column__item" href="./LEAGUE.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/Man%20City.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">Man City</span>
                      </span>
                    </a>
                    <a class="column__item" href="./LEAGUE.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/Chelsea.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">Chelsea</span>
                      </span>
                    </a>
                    <a class="column__item" href="./LEAGUE.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/Liverpool.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">Liverpool</span>
                      </span>
                    </a>
                    <a class="column__item" href="./LEAGUE.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/arsenal.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">arsenal</span>
                      </span>
                    </a>
                    <a class="column__item" href="./LEAGUE.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/real%20madrid.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">real madrid</span>
                      </span>
                    </a>
                    <a class="column__item" href="./LEAGUE.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/Barca.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">Barca</span>
                      </span>
                    </a>
                    <a class="column__item" href="./LEAGUE.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/PSG.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">PSG</span>
                      </span>
                    </a>
                  </div>
                  <span class="divider__horizontal"></span>
                  <div class="column">
                    <a class="column__item" href="./LEAGUE-Competitions.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/atle.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">atle</span>
                      </span>
                    </a>
                    <a class="column__item" href="./LEAGUE-Competitions.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/ju.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">ju</span>
                      </span>
                    </a>
                    <a class="column__item" href="./LEAGUE-Competitions.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/ac.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">ac</span>
                      </span>
                    </a>
                    <a class="column__item" href="./LEAGUE-Competitions.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/In.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">In</span>
                      </span>
                    </a>
                    <a class="column__item" href="./LEAGUE-Competitions.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/roma123.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">roma123</span>
                      </span>
                    </a>
                    <a class="column__item" href="./LEAGUE-Competitions.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/Bay.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">Bay</span>
                      </span>
                    </a>
                    <a class="column__item" href="./LEAGUE-Competitions.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/Dortmund.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">Dortmund</span>
                      </span>
                    </a>
                  </div>
                </div>
              </ul>
            </li>
            <li class="dropdown">
              <span>
                TEAMS
                <i class="down__arrow"></i>
                <i class="right__arrow"></i>
              </span>
              <span class="divider"></span>
              <ul class="dropdown-menus">
                <div class="dropdown-header"></div>
                <div class="multi__column">
                  <div class="column">
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/MU.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">MU</span>
                      </span>
                    </a>
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/Man%20City.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">Man City</span>
                      </span>
                    </a>
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/Chelsea.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">Chelsea</span>
                      </span>
                    </a>
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/Liverpool.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">Liverpool</span>
                      </span>
                    </a>
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/arsenal.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">arsenal</span>
                      </span>
                    </a>
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/real%20madrid.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">real madrid</span>
                      </span>
                    </a>
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/Barca.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">Barca</span>
                      </span>
                    </a>
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/PSG.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">PSG</span>
                      </span>
                    </a>
                  </div>
                  <span class="divider__horizontal"></span>
                  <div class="column">
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/atle.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">atle</span>
                      </span>
                    </a>
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/ju.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">ju</span>
                      </span>
                    </a>
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/ac.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">ac</span>
                      </span>
                    </a>
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/In.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">In</span>
                      </span>
                    </a>
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/roma123.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">roma123</span>
                      </span>
                    </a>
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/Bay.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">Bay</span>
                      </span>
                    </a>
                    <a class="column__item" href="./TEAM.html">
                      <span>
                        <img
                          src="https://static.ibongda.com/img/sport/99999/Dortmund.png"
                          alt=""
                          title=""
                          loading="lazy"
                        />
                        <span class="teams-name">Dortmund</span>
                      </span>
                    </a>
                  </div>
                </div>
              </ul>
            </li>
            <li class="link">
              <span>
                <a class="navbar__link" href="./favorite.html" title="FAVORITE">
                  FAVORITE
                </a>
                <i class="right__arrow"></i>
              </span>
              <span class="divider"></span>
            </li>
            <li class="link">
              <span class="text-animation">
                <div class="content">
                  <div class="content__container">
                    <ol class="content__container__list">
                      <!-- carousel Text -->
                      <li class="content__container__list__item">
                        Sự kiện mới nhất
                      </li>
                      <li class="content__container__list__item">
                        Tham gia ngay!!
                      </li>
                      <li class="content__container__list__item">
                        Sự kiện mới nhất
                      </li>
                      <li class="content__container__list__item">
                        Tham gia ngay!!
                      </li>
                    </ol>
                  </div>
                </div>
                <i class="right__arrow"></i>
              </span>
              <span style="height: 6px"></span>
            </li>
            <li class="link day-n-night">
              <span>
                <!-- New Version Day night mode -->
                <div class="navbar__link" href="#" title="Dark mode toggle">
                  <label class="toggle-only" for="responsive-dn-toggle-input">
                    <input
                      class="toggle-checkbox-only"
                      type="checkbox"
                      name="day_night_control"
                      id="responsive-dn-toggle-input"
                    />
                    <img src="" alt="" width="25px" height="25px" />
                    DARK MODE: OFF
                  </label>
                </div>
                <i class="right__arrow"></i>
              </span>
              <span class="divider"></span>
            </li>
            <li class="link mb__social">
              <div class="mb__social__link">
                <a href="#" title="facebook">
                  <i class="social__icon facebook"></i>
                </a>
                <a href="#" title="instagram">
                  <i class="social__icon instagram"></i>
                </a>
                <a href="#" title="zalo">
                  <i class="social__icon zalo"></i>
                </a>
                <a href="#" title="telegram">
                  <i class="social__icon telegram"></i>
                </a>
              </div>
            </li>
            <li class="link fanpage">
              <iframe
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fibongda.cc&tabs&width=240&height=78&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=false&appId=563290854813207"
                width="240"
                height="78"
                style="border: none; overflow: hidden"
                scrolling="no"
                frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
              ></iframe>
            </li>
            <li class="link google__ads">
              <div
                class="navbar__google__ads__300_x_50"
                id="navbar-google-ads-300_x_50"
              ></div>
            </li>
            <li class="link google__ads" style="display: none">
              <div
                class="navbar__google__ads__468_x_60"
                id="navbar-google-ads-468_x_60"
              ></div>
            </li>
            <!-- Only Show on Mobile Version END -->
          </ul>
        </div>

        <div class="nav__links__right">
          <ul class="navbar">
            <li class="link" style="padding-bottom: 6px">
              <i class="search-icon" id="ibongda-search-icon"></i>
              <div class="search-container" id="search-container">
                <div class="search-bar">
                  <i class="search-icon-20"></i>
                  <input
                    type="text"
                    placeholder="Search Teams, Player ..."
                    id="ibongda-search-input"
                    required
                  />
                  <i class="cross-icon" id="ibongda-cross-icon"></i>
                </div>
                <div class="search-result" id="ibongda-search-result">
                  <div class="content">
                    <span class="title">LEAGUES</span>
                    <ul class="result-list">
                      <li class="result-list-item">
                        <img src="" alt="" />
                        <div class="info">
                          <span class="info-name">League Name</span>
                          <p>
                            <span class="info-small"> Country /</span>
                            <span class="info-small"> Season </span>
                          </p>
                        </div>
                      </li>
                      <li class="result-list-item">
                        <img src="" alt="" />
                        <div class="info">
                          <span class="info-name">League Name</span>
                          <p>
                            <span class="info-small"> Country /</span>
                            <span class="info-small"> Season </span>
                          </p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="content">
                    <span class="title">TEAMS</span>
                    <ul class="result-list">
                      <li class="result-list-item">
                        <img src="" alt="" />
                        <div class="info">
                          <span class="info-name">Team Name</span>
                          <p>
                            <span class="info-small"> Country</span>
                          </p>
                        </div>
                      </li>
                      <li class="result-list-item">
                        <img src="" alt="" />
                        <div class="info">
                          <span class="info-name">Team Name</span>
                          <p>
                            <span class="info-small"> Country </span>
                          </p>
                        </div>
                      </li>
                      <li class="result-list-item">
                        <img src="" alt="" />
                        <div class="info">
                          <span class="info-name">Team Name</span>
                          <p>
                            <span class="info-small"> Country </span>
                          </p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="content">
                    <span class="title">TEAMS</span>
                    <ul class="result-list">
                      <li class="result-list-item">
                        <span class="news-title">
                          Article Title Tittttttle Title Tittle Titttle Title
                          Tittttttle Title Tittle Titttle Tittttttle Title
                          Tittle Titttle Title
                        </span>
                      </li>
                      <li class="result-list-item">
                        <span class="news-title">
                          Article Title Tittttttle Title Tittle Titttle Title
                          Tittttttle Title Tittle Titttle Tittttttle Title
                          Tittle Titttle Title
                        </span>
                      </li>
                      <li class="result-list-item">
                        <span class="news-title">
                          Article Title Tittttttle Title Tittle Titttle Title
                          Tittttttle Title Tittle Titttle Tittttttle Title
                          Tittle Titttle Title Article Title Tittttttle Title
                          Tittle Titttle Title Tittttttle Title Tittle Titttle
                          Tittttttle Title Tittle Titttle Title
                        </span>
                      </li>
                    </ul>
                  </div>
                  <button class="btn-more">
                    View all articles for search terms
                  </button>
                </div>
              </div>
            </li>

            <li class="link user-icon" onclick="usermodal(true)">
              <!-- Haven't login BEGIN -->
              <!-- <i class="userprofile"></i> -->
              <!-- Haven't login END -->

              <!-- After login BEGIN -->
              <img
                class="profileimg"
                src="../icon/mem/user.png"
                alt="user-profile-img"
                title="user-profile-img"
              />
              <!-- After login END -->
            </li>
          </ul>
        </div>
      </div>
      <!-- Navbar Link END -->
    </nav>
    <!-- Navbar END -->
  </div>
</header>
<!-- Navbar Menu & Hot Site END -->
