<!-- Bottom navigation fot mobile only BEGIN -->
<div class="mb-footer">
    <ul class="footer-list">
      <li class="footer-list-item active">
        <a href="./404.html" class="footer-btn">
          <i class="news-icon"></i>
          <span class="text">News</span>
        </a>
      </li>
      <li class="footer-list-item">
        <a href="./matches.html" class="footer-btn">
          <i class="matches-icon"></i>
          <span class="text">Matches</span>
        </a>
      </li>
      <li class="footer-list-item">
        <a href="./favorite-empty.html" class="footer-btn">
          <i class="favorites-icon"></i>
          <span class="text">Favorites</span>
        </a>
      </li>
      <li class="footer-list-item">
        <a href="./mb_mobile.html" class="footer-btn">
          <i class="member-icon"></i>
          <span class="text">Member</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- Bottom navigation fot mobile only END -->