.banner-container {
  background-image: url("../images/banner_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;

  width: 100%;
  height: 47vw;
  // margin-top: 80px;
  // margin-bottom: 80px;

  .image__effect {
    display: block;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
}

.bannerSlideInUp {
  -webkit-animation-name: bannerSlideInBottomToTop;
  animation-name: bannerSlideInBottomToTop;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.between__banner__eventdate {
  height: 80px;
}
@-webkit-keyframes bannerSlideInBottomToTop {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    visibility: hidden;
    opacity: 0;
  }
  70% {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
    visibility: hidden;
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes bannerSlideInBottomToTop {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(80%);
    transform: translateY(80%);
    visibility: hidden;
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 1023px) {
  .banner-container {
    margin-top: 80px;
  }

  .between__banner__eventdate {
    height: 40px;
  }
}

@media (max-width: 768px) {
  .banner-container {
    background-image: url("../images/banner_bg_mb.jpg");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    object-position: center center;

    width: 100%;
    height: 133vw;
    max-height: auto;
    margin-top: 80px;
    // margin-bottom: 40px;

    .image__effect {
      display: block;
      background-repeat: no-repeat;
      background-clip: border-box;
      background-size: cover;
      background-position: center center;
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
      max-height: 100%;
    }
  }

  .between__banner__eventdate {
    height: 45px;
  }
}

// @media (max-width: 1023px) {
//   .banner-container {
//     background-image: url("../images/banner_bg_mb.jpg");
//     background-repeat: no-repeat;
//     background-clip: border-box;
//     background-size: cover;
//     background-position: center center;
//     object-fit: cover;
//     object-position: center center;

//     width: 100%;
//     height: 133vw;
//     max-height: auto;
//     margin-top: 80px;
//     // margin-bottom: 40px;

//     .image__effect {
//       display: block;
//       background-repeat: no-repeat;
//       background-clip: border-box;
//       background-size: cover;
//       background-position: center center;
//       object-fit: cover;
//       object-position: center center;
//       width: 100%;
//       height: 100%;
//       max-height: 100%;
//     }
//   }

//   .between__banner__eventdate {
//     height: 45px;
//   }
// }
