.event__date-container {
  width: 100%;
  min-height: 158px;
  height: 164px;
  // margin-bottom: 80px;

  // Test
  background-color: #ffffff;

  .event__date-inner {
    position: relative;

    .event__date-decor {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      &.animated {
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }

      hr {
        position: absolute;
        left: 0;
        background-color: #e2eaff;
        border: none;
        opacity: 0;
        transform-origin: 0 0;
        transform: translate(-200%, 0) skew(-30deg, 0);

        &.right {
          transform-origin: 0 100%;
          transform: translate(200%, 0) skew(-30deg, 0);
          right: 0;
          left: auto;
        }

        &:nth-child(1) {
          top: 10%;
          width: 75px;
          height: 11px;
        }

        &:nth-child(2) {
          height: 22px;
          width: 164px;
          top: calc(10% + 31px);
        }

        &:nth-child(3) {
          width: 67px;
          height: 31px;
          top: calc(10% + 71px);
        }

        &:nth-child(4) {
          width: 45px;
          height: 22px;
          top: calc(10% + 77px);
          left: 85px;
        }

        &:nth-child(5) {
          width: 172px;
          height: 11px;
          top: calc(10% - 10px);
        }

        &:nth-child(6) {
          width: 90px;
          height: 23px;
          top: calc(10% + 30px);
        }

        &:nth-child(7) {
          width: 180px;
          height: 31px;
          top: calc(10% + 70px);
        }
      }

      &.animated hr {
        transform: translate(0, 0) skew(-30deg, 0);
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
        opacity: 1;
      }
    }

    .event__date-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 1024px;
      width: 100%;
      height: 100%;
      margin: 0 auto;

      .event__date-animation.animated {
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }

      .event__date-animation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;
        margin: 0 auto;
        max-width: 100%;
        width: 920px;
      }

      .event__date-animation:before {
        left: 0;
        right: 100%;
        transform-origin: 0 50%;
      }
      .event__date-animation:after {
        right: 0;
        left: 100%;
        transform-origin: 100% 50%;
      }
      .event__date-animation:after,
      .event__date-animation:before {
        content: "";
        position: absolute;
        background-color: #ffffff;
        height: 100%;
        top: 0;
        z-index: 3;
      }
      .event__date-animation.animated:after,
      .event__date-animation.animated:before {
        transform: skew(50deg);
        opacity: 0;
      }
      .event__date-animation.animated:before {
        left: 52%;
        right: 49%;
        transition: transform 0.5s 0.3s, left 0.5s 0.4s, right 0.3s 0.1s,
          opacity 0.4s 0.6s;
      }
      .event__date-animation.animated:after,
      .event__date-animation.animated:before {
        transform: skew(50deg);
        opacity: 0;
      }
      .event__date-animation.animated:after {
        right: 52%;
        left: 49%;
        transition: transform 0.5s 0.3s, left 0.3s 0.1s, right 0.5s 0.4s,
          opacity 0.4s 0.6s;
      }

      .event__date-animation.animated .event__date-text,
      .event__date-animation.animated .event__date-info,
      .event__date-animation.animated .ibongda-button__animation {
        display: block;
        -webkit-animation-name: ibongdaZoomOut;
        animation-name: ibongdaZoomOut;
        -webkit-animation-duration: 500ms;
        animation-duration: 500ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }

      .event__date-animation .ibongda-button__animation {
        display: none;
      }

      .event__date-text {
        display: none;
        text-align: center;
        font-family: $font-style;
        font-weight: 500;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0.8px;
        color: #15244d;
        opacity: 1;
        margin-top: 20px;
      }

      .event__date-info {
        display: none;
        text-align: center;
        font-family: $font-style;
        font-weight: 500;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0.8px;
        color: #15244d;
        opacity: 1;
        margin-bottom: 28px;

        br {
          display: none;
        }
      }
    }
  }
}

.after-event-div {
  height: 80px;
}

@-webkit-keyframes ibongdaZoomOut {
  0% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  50% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    // transform: scale(1, 1);
  }
}

@keyframes ibongdaZoomOut {
  0% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  50% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    // transform: scale(1, 1);
  }
}

@media (max-width: 1023px) {
  .event__date-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 158px;
    height: auto;
    position: relative;
    // margin-bottom: 40px;

    .event__date-inner {
      position: relative;
      width: 100%;

      .event__date-decor {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;

        &.animated {
          animation-duration: 0.5s;
          animation-fill-mode: both;
        }

        hr {
          position: absolute;
          left: 0;
          background-color: #e2eaff;
          border: none;
          opacity: 0;
          transform-origin: 0 0;
          transform: translate(-200%, 0) skew(-30deg, 0);

          &.right {
            transform-origin: 0 100%;
            transform: translate(200%, 0) skew(-30deg, 0);
            right: 0;
            left: auto;
          }

          &:nth-child(1) {
            display: none;
            top: 10%;
            width: 75px;
            height: 11px;
          }

          &:nth-child(2) {
            height: 22px;
            // width: 164px;
            width: 70px;
            top: calc(10% + 31px);
          }

          &:nth-child(3) {
            display: none;
            width: 67px;
            height: 31px;
            top: calc(10% + 71px);
          }

          &:nth-child(4) {
            width: 45px;
            height: 22px;
            top: calc(10% + 77px);
            // left: 85px;
            left: 14px;
          }

          &:nth-child(5) {
            // width: 172px;
            width: 50px;
            height: 11px;
            top: calc(10% - 10px);
          }

          &:nth-child(6) {
            display: none;
            width: 90px;
            height: 23px;
            top: calc(10% + 30px);
          }

          &:nth-child(7) {
            // width: 180px;
            width: 80px;
            height: 31px;
            top: calc(10% + 70px);
          }
        }

        &.animated hr {
          transform: translate(0, 0) skew(-30deg, 0);
          transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
          opacity: 1;
        }
      }

      .event__date-wrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 100%;
        height: 100%;
        z-index: 99;
        padding-bottom: 20px;

        .event__date-text {
          text-align: center;
          font-family: $font-style;
          font-weight: 500;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0.64px;
          color: #15244d;
          opacity: 1;
          margin-top: 30px;
        }

        .event__date-info {
          width: 100%;
          text-align: center;
          font-family: $font-style;
          font-weight: 500;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0.64px;
          color: #15244d;
          opacity: 1;
          margin-bottom: 30px;

          br {
            display: block;
          }
        }
      }
    }
  }

  .after-event-div {
    height: 40px;
  }
}
