$float-icon-background-color: #2f77f6;
$float-icon-background-color-hover: #0552d0;

.social__wrapper {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: transparent;
  width: 100%;
  height: 40px;
  z-index: 998;

  &.static__status {
    position: static;
    padding-bottom: 20px;
    background-color: #05256d;
  }

  &-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;

    &-item {
      flex: 1 1 calc(33% - 1px);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      background-color: $float-icon-background-color;

      &:nth-child(2) {
        margin: 0 1.5px;
      }

      &:hover {
        background-color: $float-icon-background-color-hover;
      }

      .social__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }

      .icon {
        &-facebook {
          display: block;
          background-image: url("../icon/fb.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 30px;
          height: 30px;
        }

        &-zalo {
          display: block;
          background-image: url("../icon/zalo.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 30px;
          height: 30px;
        }

        &-copy {
          display: block;
          background-image: url("../icon/copy.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .social__wrapper {
    display: flex;
  }
}
