footer.ibongda__footer {
  background-color: #0f1119;
  width: 100%;
  height: 200px;

  .footer__container {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 948px;
    height: 154px;
    margin: 0 auto;
    padding-top: 60px;

    .footer__logo {
      width: 143px;
      height: 80px;
      margin-right: 14px;
      cursor: pointer;
    }

    .copyright {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      width: 289px;
      height: 100%;
      margin-right: 269px;

      &-text {
        text-align: left;
        font-size: 14px;
        font-weight: normal;
        font-family: "Roboto", sans-serif;
        letter-spacing: 0px;
        color: #c1c6c9;
        opacity: 1;
      }
    }

    .follow__us {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: auto;

      &-text {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        letter-spacing: 0px;
        color: #c1c6c9;
        opacity: 1;

        &::before,
        &::after {
          content: "——";
          margin: 0 3px;
        }
      }

      .social__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;

        width: 100%;
        margin: 15px 0;

        &-item {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 15px;
          width: 40px;
          height: 40px;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          .icon {
            display: block;
            &-facebook {
              display: block;
              background-image: url("../icon/b_facebook.png");
              background-position: center center;
              background-repeat: no-repeat;
              background-size: contain;
              width: 40px;
              height: 40px;
              border: 1px solid #ffffff;
              border-radius: 50%;
            }

            &-instagram {
              display: block;
              background-image: url("../icon/b_ig.png");
              background-position: center center;
              background-repeat: no-repeat;
              background-size: contain;
              width: 40px;
              height: 40px;
              border: 1px solid #ffffff;
              border-radius: 50%;
            }

            &-titok {
              display: block;
              background-image: url("../icon/b_tiktik.png");
              background-position: center center;
              background-repeat: no-repeat;
              background-size: contain;
              width: 40px;
              height: 40px;
              border: 1px solid #ffffff;
              border-radius: 50%;
            }

            &-zalo {
              display: block;
              background-image: url("../icon/b_zalo.png");
              background-position: center center;
              background-repeat: no-repeat;
              background-size: contain;
              width: 40px;
              height: 40px;
              border: 1px solid #ffffff;
              border-radius: 50%;
            }

            &-telegram {
              display: block;
              background-image: url("../icon/b_tg.png");
              background-position: center center;
              background-repeat: no-repeat;
              background-size: contain;
              width: 40px;
              height: 40px;
              border: 1px solid #ffffff;
              border-radius: 50%;
            }
          }

          &:hover {
            .icon {
              display: block;
              &-facebook {
                display: block;
                background-image: url("../icon/b_facebook_h.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 40px;
                height: 40px;
                border: 1px solid #ffffff;
                border-radius: 50%;
              }

              &-instagram {
                display: block;
                background-image: url("../icon/b_ig_h.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 40px;
                height: 40px;
                border: 1px solid #ffffff;
                border-radius: 50%;
              }

              &-zalo {
                display: block;
                background-image: url("../icon/b_zalo_h.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 40px;
                height: 40px;
                border: 1px solid #ffffff;
                border-radius: 50%;
              }

              &-telegram {
                display: block;
                background-image: url("../icon/b_tg_h.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 40px;
                height: 40px;
                border: 1px solid #ffffff;
                border-radius: 50%;
              }

              &-titok {
                display: block;
                background-image: url("../icon/b_tiktik_h.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 40px;
                height: 40px;
                border: 1px solid #ffffff;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }

    .mb-copyright {
      display: none;
    }
  }
}

@media (max-width: 1023px) {
  footer.ibongda__footer {
    background-color: #0f1119;
    width: 100%;
    height: auto;

    .footer__container {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding-top: 38px;

      .footer__logo {
        width: 143px;
        height: 80px;
        margin-right: 0px;
        margin-bottom: 30px;
      }

      .mb-copyright {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        width: 289px;
        height: 100%;
        margin-right: 0px;
        margin-bottom: 50px;

        &-text {
          text-align: left;
          font-size: 14px;
          font-weight: normal;
          font-family: "Roboto", sans-serif;
          letter-spacing: 0px;
          color: #c1c6c9;
          opacity: 1;
        }
      }

      .copyright {
        display: none;
      }

      .follow__us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: auto;

        margin-bottom: 30px;

        &-text {
          text-align: center;

          font-size: 20px;
          font-weight: bold;
          font-family: "Roboto", sans-serif;
          letter-spacing: 0px;
          color: #c1c6c9;
          opacity: 1;

          &::before,
          &::after {
            content: "——";
            margin: 0 3px;
          }
        }

        .social__list {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0;

          width: 100%;

          &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 15px;
            width: 40px;
            height: 40px;

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }

            .icon {
              display: block;
              &-facebook {
                display: block;
                background-image: url("../icon/b_facebook.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 40px;
                height: 40px;
                border: 1px solid #ffffff;
                border-radius: 50%;
              }

              &-instagram {
                display: block;
                background-image: url("../icon/b_ig.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 40px;
                height: 40px;
                border: 1px solid #ffffff;
                border-radius: 50%;
              }

              &-zalo {
                display: block;
                background-image: url("../icon/b_zalo.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 40px;
                height: 40px;
                border: 1px solid #ffffff;
                border-radius: 50%;
              }

              &-telegram {
                display: block;
                background-image: url("../icon/b_tg.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 40px;
                height: 40px;
                border: 1px solid #ffffff;
                border-radius: 50%;
              }
            }

            &:hover {
              .icon {
                display: block;
                &-facebook {
                  display: block;
                  background-image: url("../icon/b_facebook_h.png");
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  width: 40px;
                  height: 40px;
                  border: 1px solid #ffffff;
                  border-radius: 50%;
                }

                &-instagram {
                  display: block;
                  background-image: url("../icon/b_ig_h.png");
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  width: 40px;
                  height: 40px;
                  border: 1px solid #ffffff;
                  border-radius: 50%;
                }

                &-zalo {
                  display: block;
                  background-image: url("../icon/b_zalo_h.png");
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  width: 40px;
                  height: 40px;
                  border: 1px solid #ffffff;
                  border-radius: 50%;
                }

                &-telegram {
                  display: block;
                  background-image: url("../icon/b_tg_h.png");
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  width: 40px;
                  height: 40px;
                  border: 1px solid #ffffff;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}
