.free__gift-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background: linear-gradient(to bottom, #ffffff 50%, #e2eaff 50%);
  // padding-bottom: 80px;

  .free__gift-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1024px;
    width: 100%;

    .free__gift-header {
      text-align: center;
      font-family: $font-style;
      font-size: 40px;
      font-weight: bold;
      line-height: 60px;
      letter-spacing: 0.8px;
      color: #15244d;
      margin-bottom: 59px;
      width: auto;

      position: relative;

      text-transform: uppercase;
      visibility: hidden;
      transition: visibility 0.1s 0.2s;
      transform: scale(0);
      opacity: 0;

      &.animated {
        transition: opacity 0.1s 0.5s;
        visibility: visible;
        transform: scale(1);
        opacity: 1;
      }

      .free__gift-header-animation::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: calc(100% + 50px);
        z-index: 3;
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
        -webkit-transform: translateZ(0) skew(25deg) scaleX(0);
        transform: translateZ(0) skew(25deg) scaleX(0);
        background-color: #15244d;
        left: -25px;
      }

      &.animated .free__gift-header-animation::after {
        -webkit-animation: mask-slanted-inv 0.6s;
        animation: mask-slanted-inv 0.6s;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        animation-delay: 0.3s;
      }

      .free__gift-header-animation {
        opacity: 0;
      }

      &.animated .free__gift-header-animation {
        // transition: opacity 0.1s 0.5s;
        // opacity: 1;
        display: block;
        -webkit-animation-name: ibongdaZoomOut;
        animation-name: ibongdaZoomOut;
        -webkit-animation-duration: 500ms;
        animation-duration: 500ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
    }

    .free__gift-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      position: relative;
      margin-bottom: 79px;

      .free__gift-images {
        display: block;
        width: 280px;
        height: 273px;
        margin: 0 25px;
        opacity: 0;

        &:nth-child(1) {
          margin-top: 45px;
          margin-left: 0;

          &:hover {
            position: relative;
            top: -5px;
          }
        }

        &:nth-child(2) {
          margin-bottom: 45px;

          &:hover {
            position: relative;
            top: -5px;
          }
        }

        &:nth-child(3) {
          margin-top: 45px;
          margin-right: 0;

          &:hover {
            position: relative;
            top: -5px;
          }
        }

        // When start show zoom in
        &.free__gift-zoom__in {
          opacity: 1;
          animation: ibongdaZoomIn 800ms ease-in-out;
        }
      }
    }
  }
}

.after-gift-div {
  height: 80px;
  background-color: #e2eaff;
}

@-webkit-keyframes ibongdaZoomOut {
  0% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  50% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    // transform: scale(1, 1);
  }
}

@keyframes ibongdaZoomOut {
  0% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  50% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    // transform: scale(1, 1);
  }
}

@-webkit-keyframes ibongdaZoomIn {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes ibongdaZoomIn {
  0% {
    transform: scale(0, 0);
    // opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    // opacity: 1;
  }
}

@media (max-width: 1023px) {
  .free__gift-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 420px;
    background: linear-gradient(to bottom, transparent 35%, #e2eaff 10%);
    padding-bottom: 0;

    .free__gift-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      max-width: 100%;
      width: 100%;
      height: auto;
      position: relative;

      .free__gift-header {
        text-align: center;
        font-family: $font-style;
        font-size: 24px;
        font-weight: bold;
        line-height: 60px;
        letter-spacing: 0.8px;
        color: #15244d;
        margin-bottom: 30px;
        width: 200px;
      }

      .free__gift-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        margin-bottom: 40px;

        .free__gift-images {
          display: block;
          width: 200px;
          height: 195px;
          margin: 0 16px;

          &:nth-child(1) {
            margin-top: 45px;
            margin-left: 0;

            &:hover {
              margin-top: 45px;
              margin-left: 0;
            }
          }

          &:nth-child(2) {
            margin-bottom: 45px;

            &:hover {
              margin-bottom: 45px;
              position: relative;
              top: 0;
            }
          }

          &:nth-child(3) {
            margin-top: 45px;
            margin-right: 0;

            &:hover {
              margin-top: 45px;
              margin-right: 0;
              position: relative;
              top: 0;
            }
          }

          // When start show zoom in
          &.free__gift-zoom__in {
            animation: ibongdaZoomIn 800ms ease-out;
          }

          // image effect
          &.free__gift-updown {
            -webkit-animation: moverUp 0.5s infinite alternate;
            animation: moverUp 0.5s infinite alternate;
          }

          // image effect
          &.free__gift-downup {
            -webkit-animation: moverDown 0.5s infinite alternate;
            animation: moverDown 0.5s infinite alternate;
          }
        }
      }

      .free__gift-block {
        height: 65px;
      }
    }
  }

  .after-gift-div {
    background-color: #e2eaff;
    height: 80px;
  }
}

@media (max-width: 767px) {
  .free__gift-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 520px;
    background: linear-gradient(to bottom, transparent 25%, #e2eaff 10%);
    // padding-bottom: 0;

    .free__gift-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      max-width: 1024px;
      width: 200px;
      height: auto;
      position: relative;

      .free__gift-header {
        text-align: center;
        font-family: $font-style;
        font-size: 24px;
        font-weight: bold;
        line-height: 40px;
        letter-spacing: 0.8px;
        color: #15244d;
        margin-bottom: 20px;
        width: 100%;
      }

      .free__gift-wrapper {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        // margin-bottom: 65px;
        margin-bottom: 0;

        .free__gift-images {
          display: block;
          justify-content: center;
          align-items: center;
          width: 160px;
          height: 156px;
          margin: 0;
          position: absolute;

          &:nth-child(1) {
            margin-top: 0;
            margin-left: 0;
            // top: 200px; // True
            // left: 20px; // True

            top: calc(100% - 150px);
            right: 52%;

            &:hover {
              position: absolute;
              top: calc(100% - 150px);
              right: 52%;
              margin-top: 0;
            }
          }

          &:nth-child(2) {
            margin-bottom: 0;

            &:hover {
              position: absolute;
              top: 0;
              margin-bottom: 0;
            }
          }

          &:nth-child(3) {
            margin-top: 0;
            margin-right: 0;
            // top: 200px;
            // right: 20px;

            top: calc(100% - 150px);
            left: 52%;

            &:hover {
              position: absolute;
              top: calc(100% - 150px);
              left: 52%;
              margin-top: 0;
            }
          }
        }
      }

      .free__gift-block {
        height: 65px;
      }
    }
  }

  .after-gift-div {
    background-color: #e2eaff;
    height: 80px;
  }
}
