.ibongda__hot__news {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #05256d;
  width: 100%;
  padding: 60px 0;

  .ibongda__hot__news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 1000px;

    .ibongda__hot__news-title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;

      margin: 0 auto 20px;

      text-align: center;

      font-size: 40px;
      font-weight: bold;
      font-family: $font-style;
      line-height: 53px;

      letter-spacing: 0px;
      color: #ffffff;

      &.animated {
        transition: opacity 0.1s 0.5s;
        visibility: visible;
        transform: scale(1);
        opacity: 1;
      }

      .ibongda__hot__news-title-animation::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: calc(100% + 50px);
        z-index: 3;
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
        -webkit-transform: translateZ(0) skew(25deg) scaleX(0);
        transform: translateZ(0) skew(25deg) scaleX(0);
        /* background-color: currentColor; */
        background-color: #ffffff;
        left: -25px;
      }

      &.animated .ibongda__hot__news-title-animation::after {
        -webkit-animation: mask-slanted-inv 0.6s;
        animation: mask-slanted-inv 0.6s;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        animation-delay: 0.3s;
      }

      .ibongda__hot__news-title-animation {
        opacity: 0;
      }

      &.animated .ibongda__hot__news-title-animation {
        // transition: opacity 0.1s 0.5s;
        // opacity: 1;
        display: block;
        -webkit-animation-name: ibongdaZoomOut;
        animation-name: ibongdaZoomOut;
        -webkit-animation-duration: 500ms;
        animation-duration: 500ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
    }

    .ibongda__hot__news-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-top: 40px;
      margin-bottom: 0px;

      .ibongda__hot__news-card {
        flex: 1 1 calc(50% - 13px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        max-width: 450px;

        &:nth-child(odd) {
          margin-right: 11px;
        }

        &:nth-child(even) {
          margin-left: 11px;
        }

        &:nth-child(n + 3) {
          margin-top: 40px;
        }

        .ibongda__hot__news-card-image {
          width: 450px;
          max-width: 450px;
          height: 282px;
          margin-bottom: 10px;
          position: relative;

          &:hover {
            cursor: pointer;

            .ibongda-hotnews-img-btn {
              opacity: 1;
            }
          }

          .ibongda__hot__news-card-image-wrapper {
            width: 100%;
            height: 100%;

            &.horizontal {
              width: 100%;
              height: 100%;
            }

            &.vertical {
              object-fit: cover;
              object-position: top left;
              width: 100%;
              height: 100%;
            }
          }

          .ibongda-hotnews-img-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            color: #ffffff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 40px;
            background: #0f11194d 0% 0% no-repeat padding-box;
            border: 1px solid #ffffff;

            opacity: 0;
          }
        }

        .ibongda__hot__news-card-title {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          height: 100%;

          margin: 0;
          margin-bottom: 10px;
          text-align: left;

          // width: 450px;

          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          // Text Style BEGIN
          text-align: left;

          font-size: 18px;
          font-weight: bold;
          font-family: $font-style;

          letter-spacing: 0px;
          color: #ffffff;
          // Text Style END

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        .ibongda__hot__news-card-info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          // width: 100%;
          width: 450px;

          .ibongda__hot__news-card-info-author {
            font-size: 12px;
            font-weight: normal;
            font-family: $font-style;
            letter-spacing: 0px;
            color: #8e8e8e;
          }

          .ibongda__hot__news-card-info-date {
            font-size: 12px;
            font-weight: normal;
            font-family: $font-style;
            letter-spacing: 0px;
            color: #8e8e8e;
          }
        }
      }
    }
  }
}

@-webkit-keyframes ibongdaZoomOut {
  0% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  50% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    // transform: scale(1, 1);
  }
}

@keyframes ibongdaZoomOut {
  0% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  50% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    // transform: scale(1, 1);
  }
}

@media (max-width: 1023px) {
  .ibongda__hot__news {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    padding: 0;

    .ibongda__hot__news-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      width: calc(100% - 60px);
      height: auto;
      margin: 60px 30px;

      .ibongda__hot__news-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;

        text-align: center;

        font-size: 24px;
        font-weight: bold;
        font-family: $font-style;
        line-height: 32px;

        letter-spacing: 0px;
        color: #ffffff;
      }

      .ibongda__hot__news-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
        height: 100%;

        .ibongda__hot__news-card {
          flex: 1 1 calc(100% - 10px);
          flex: 1 1 1;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          justify-content: center;
          align-items: center;

          width: 100%;
          max-width: 100%;

          &:nth-child(odd) {
            margin-right: 0px;
            justify-content: flex-end;
          }

          &:nth-child(even) {
            margin-left: 0px;
            justify-content: flex-start;
          }

          &:nth-child(n + 2) {
            margin-top: 20px;
          }

          .ibongda__hot__news-card-image {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            margin-bottom: 10px;

            .ibongda__hot__news-card-image-wrapper {
              object-fit: cover;
              width: 100%;
              height: 100%;

              &.horizontal {
                object-fit: cover;
                width: 100%;
                height: 100%;
              }

              &.vertical {
                object-fit: cover;
                object-position: top left;
                width: 100%;
                height: 61vw;
              }
            }
          }

          .ibongda__hot__news-card-title {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: auto;
            margin-bottom: 10px;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            // Text Style BEGIN
            text-align: left;

            font-size: 18px;
            font-weight: bold;
            font-family: $font-style;

            letter-spacing: 0px;
            color: #ffffff;
            // Text Style END
          }

          .ibongda__hot__news-card-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .ibongda__hot__news-card-info-author {
              font-size: 12px;
              font-weight: normal;
              font-family: $font-style;
              letter-spacing: 0px;
              color: #8e8e8e;
            }

            .ibongda__hot__news-card-info-date {
              font-size: 12px;
              font-weight: normal;
              font-family: $font-style;
              letter-spacing: 0px;
              color: #8e8e8e;
            }
          }
        }
      }
    }
  }
}
