.ibongda-modal__dialog {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1a4bd2;
  z-index: 99997;
  // overflow: hidden;

  img.modal__bg__effect {
    position: absolute;
    top: 0;
    left: 0;
    // background-position: center center;
    background-repeat: no-repeat;
    // background-size: cover;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    z-index: 99998;
  }

  &.active {
    display: block;

    img.modal__bg__effect {
      -webkit-animation-name: imageSlideInTopRight;
      animation-name: imageSlideInTopRight;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .modal__dialog-body {
      -webkit-animation-name: ibongdaZoomOut;
      animation-name: ibongdaZoomOut;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }

  &#ibongda-event-description,
  &#ibongda-not-draw,
  &#ibongda-open-draw {
    .modal__dialog-header {
      .user__icon {
        opacity: 0;
      }
    }
  }

  .modal__dialog-header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 45px 0;
    z-index: 99999;

    .user__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      background-color: #1959d8;

      img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }

    .modal__dialog-close {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      cursor: pointer;
      z-index: 100000;

      .icon-close {
        background-image: url("../icon/close.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .modal__dialog-body {
    box-sizing: border-box;
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;

    .divider {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #0065ee;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #0065ee;
      }
    }

    .divider__dots {
      display: block;
      width: 100%;

      &::after {
        content: "";
        display: block;
        width: 100%;
        border-bottom: 2px dotted #0065ee;
      }
    }

    &.lg {
      max-width: 940px;
      height: 600px;
      width: 100%;
      padding: 0 30px;

      &.questionnaire__modal {
        padding: 0;

        .modal__dialog-content:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          background-image: url("../images/quizbg.png");
          background-position: left bottom;
          background-repeat: no-repeat;
          background-size: contain;
          width: 421px;
          height: 330px;
          z-index: -10;
        }
      }

      .modal__dialog-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;
        height: auto;
        width: 100%;

        position: relative;

        .questionnaire__no {
          position: absolute;
          top: 23px;
          right: 0;
          text-align: center;
          font-size: 24px;
          font-family: $font-style;
          font-weight: bold;
          line-height: 28px;
          letter-spacing: 0px;
          color: #213057;
          opacity: 1;
          margin-right: 20px;
        }

        .questionnaire__content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: calc(100% - 40px);
          margin: 0 20px;

          .question {
            text-align: center;
            font-size: 24px;
            font-family: $font-style;
            font-weight: bold;
            line-height: 28px;
            letter-spacing: 0px;
            color: #0065ee;
            opacity: 1;

            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            max-height: 84px;

            margin-bottom: 30px;
          }

          .answer__area {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 30px 0 60px;

            input[type="checkbox"] {
              opacity: 0;
              visibility: hidden;
              width: 0;
              height: 0;

              &:checked + label {
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;

                width: 290px;
                height: 40px;
                border-radius: 20px;
                background-color: #1168f6;

                text-align: center;
                font-size: 18px;
                font-family: $font-style;
                font-weight: bold;
                line-height: 24px;
                letter-spacing: 0px;
                color: #ffffff;
                opacity: 1;
              }
            }

            label {
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              align-items: center;

              width: 290px;
              height: 40px;
              border-radius: 20px;
              background-color: transparent;

              text-align: center;
              font-size: 18px;
              font-family: $font-style;
              font-weight: bold;
              line-height: 24px;
              letter-spacing: 0px;
              color: #213057;
              opacity: 1;
              margin: 35px 0 0;

              cursor: pointer;

              &:nth-child(2) {
                margin-top: 0;
              }
            }
          }

          .button__control {
            display: flex;

            .space {
              width: 40px;
            }
          }
        }

        .result__container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: auto;

          .image__wrapper {
            display: block;
            width: 760px;
            height: 320px;
            margin-bottom: 60px;

            &.bad {
              background-image: url("../images/result01.jpg");
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
            }

            &.good {
              background-image: url("../images/result02.jpg");
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
            }

            &.best {
              background-image: url("../images/result03.jpg");
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
            }
          }

          .button__control {
            display: flex;

            .space {
              width: 40px;
            }
          }
        }
      }
    }

    &.md {
      max-width: 800px;
      height: 823px;
      width: 100%;
      padding: 70px 50px;

      .modal__dialog-wrapper {
        margin: 0;
        overflow-y: scroll;
        height: auto;
      }

      .modal__dialog-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: hidden;
        overflow-y: scroll;

        .event__desc {
          &-title {
            text-align: left;
            font-size: 20px;
            font-weight: bold;
            font-family: $font-style;
            line-height: 24px;
            letter-spacing: 0px;
            color: #0065ee;
            opacity: 1;
            margin-bottom: 30px;
          }

          &-steps {
            display: flex;
            width: 100%;
            margin-bottom: 30px;

            .step__no {
              width: 70px;
              margin-right: 30px;
              text-align: left;
              font-size: 18px;
              font-weight: bold;
              font-family: $font-style;
              line-height: 21px;
              letter-spacing: 0px;
              color: #0065ee;
              opacity: 1;
            }

            .step__desc {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-content: flex-start;
              width: calc(100% - 100px);

              .small__title {
                text-align: left;
                font-size: 18px;
                font-weight: bold;
                font-family: $font-style;
                line-height: 21px;
                letter-spacing: 0px;
                color: #0065ee;
                opacity: 1;
                margin-bottom: 10px;
              }

              .small__description {
                text-align: left;
                font-size: 18px;
                font-family: $font-style;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0px;
                color: #15244d;
              }
            }
          }

          &-note__title {
            display: block;
            width: 100%;
            text-align: left;
            font-size: 18px;
            font-family: $font-style;
            font-weight: bold;
            line-height: 21px;
            letter-spacing: 0px;
            color: #0065ee;
            opacity: 1;

            margin-top: 30px;
          }

          &-note__paragraph {
            text-align: left;
            font-size: 16px;
            font-family: $font-style;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            color: #15244d;
            opacity: 1;

            margin-top: 20px;

            ol {
              counter-reset: number;
              display: table;

              li {
                list-style: none;
                counter-increment: number;
                display: table-row;

                &::before {
                  content: counter(number) ".";
                  display: table-cell;
                  text-align: right;
                  padding-right: 0.3em;
                }
              }
            }
          }
        }

        .draw__result {
          &-title {
            text-align: left;
            font-size: 20px;
            font-family: $font-style;
            font-weight: bold;
            line-height: 30px;
            letter-spacing: 0px;
            color: #0065ee;
            opacity: 1;
            margin-bottom: 30px;
          }

          &-gift {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            margin-bottom: 30px;

            &-name {
              text-align: left;
              font-size: 18px;
              font-family: $font-style;
              font-weight: bold;
              line-height: 24px;
              letter-spacing: 0px;
              color: #15244d;
              opacity: 1;
              margin-bottom: 6px;
            }

            &-winner {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-items: flex-start;
              width: 100%;
              margin-top: 8px;

              span {
                text-align: left;
                font-size: 18px;
                font-family: $font-style;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0px;
                color: #0065ee;
                opacity: 1;

                &:nth-child(odd) {
                  flex: 1 1 45%;
                }

                &:nth-child(even) {
                  flex: 1 1 55%;
                }

                &.winner__name {
                  // margin: 0 10px;
                  margin: 0;

                  &:first-child {
                    margin-left: 0;
                  }

                  &:last-child {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes imageSlideInTopRight {
  0% {
    transform: translate(100%, -100%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes imageSlideInTopRight {
  0% {
    transform: translate(100%, -100%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@-webkit-keyframes ibongdaZoomOut {
  0% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  50% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    // transform: scale(1, 1);
  }
}

@keyframes ibongdaZoomOut {
  0% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  50% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    // transform: scale(1, 1);
  }
}

// @media (max-width: 1023px) {
@media (max-width: 768px) {
  .ibongda-modal__dialog {
    // position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1a4bd2;
    z-index: 99999;
    overflow: hidden;

    img.modal__bg__effect {
      object-position: left bottom;
    }

    .modal__dialog-header {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 19px 12px 0;

      .user__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        background-color: #1959d8;

        img {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }

      .modal__dialog-close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        cursor: pointer;

        .icon-close {
          background-image: url("../icon/close.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .modal__dialog-body {
      box-sizing: border-box;
      display: flex;
      background-color: #ffffff;
      border-radius: 10px;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 20px;

      .divider {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #0065ee;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: #0065ee;
        }
      }

      &.lg {
        height: calc(100vh - 120px);
        max-height: 680px;
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
        padding: 0;

        &.questionnaire__modal {
          padding: 0;
        }

        .modal__dialog-content {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          overflow-x: hidden;
          overflow-y: auto;
          height: auto;
          padding: 50px 25px;

          position: relative;
          margin: 0;

          &.result__wrapper {
            padding: 10px;
          }

          .questionnaire__no {
            position: absolute;
            top: 16px;
            right: 17px;
            text-align: center;
            font-size: 18px;
            font-family: $font-style;
            font-weight: bold;
            line-height: 19px;
            letter-spacing: 0px;
            color: #213057;
            opacity: 1;
          }

          .questionnaire__content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: auto;

            margin: 0;

            .question {
              text-align: center;
              font-size: 22px;
              font-family: $font-style;
              font-weight: bold;
              line-height: 28px;
              letter-spacing: 0px;
              color: #0065ee;
              opacity: 1;
              margin-bottom: 30px;

              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;

              max-height: 84px;
            }

            .answer__area {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin: 30px 0 40px;

              input[type="radio"] {
                opacity: 0;
                visibility: hidden;
                width: 0;
                height: 0;

                &:checked + label {
                  box-sizing: border-box;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  width: 290px;
                  height: 40px;
                  border-radius: 20px;
                  background-color: #1168f6;

                  text-align: center;
                  font-size: 18px;
                  font-family: $font-style;
                  font-weight: bold;
                  line-height: 24px;
                  letter-spacing: 0px;
                  color: #ffffff;
                  opacity: 1;
                }
              }

              label {
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;

                width: 290px;
                height: 40px;
                border-radius: 20px;
                background-color: transparent;

                text-align: center;
                font-size: 18px;
                font-family: $font-style;
                font-weight: bold;
                line-height: 24px;
                letter-spacing: 0px;
                color: #213057;
                opacity: 1;
                margin: 35px 0 0;

                cursor: pointer;

                &:nth-child(2) {
                  margin-top: 0;
                }
              }
            }

            .button__control {
              display: flex;
              flex-direction: column;

              .space {
                height: 30px;
              }
            }
          }

          .result__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;

            .image__wrapper {
              display: block;
              width: 274px;
              height: 501px;
              margin-bottom: 20px;

              &.bad {
                background-image: url("../images/result01_mb.jpg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
              }

              &.good {
                background-image: url("../images/result02_mb.jpg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
              }

              &.best {
                background-image: url("../images/result03_mb.jpg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
              }
            }

            .button__control {
              display: flex;
              flex-direction: column;

              .space {
                height: 30px;
              }
            }
          }
        }
      }

      &.md {
        // max-height: calc(100% - 100px);
        max-height: calc(100% - 150px);
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
        height: 100%;
        padding: 0;

        .modal__dialog-wrapper {
          margin: 50px 0;
          // max-height: calc(100% - 100px);
          padding: 0 10px;
          overflow-y: scroll;
          height: auto;
        }

        .modal__dialog-content {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          overflow-x: hidden;
          overflow-y: hidden;
          margin: 0px 15px;
          width: calc(100% - 30px);
          // height: 100%;

          .event__desc {
            &-title {
              text-align: left;
              font-size: 16px;
              font-weight: bold;
              font-family: $font-style;
              line-height: 19px;
              letter-spacing: 0px;
              color: #0065ee;
              opacity: 1;
              margin-bottom: 35px;
            }

            &-steps {
              display: flex;
              width: 100%;

              &.one {
                margin-bottom: 26px;
              }

              &.two {
                margin-bottom: 21px;
              }

              .step__no {
                width: 50px;
                margin-right: 10px;
                text-align: left;
                font-size: 14px;
                font-weight: bold;
                font-family: $font-style;
                line-height: 16px;
                letter-spacing: 0px;
                color: #0065ee;
                opacity: 1;
              }

              .step__desc {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: flex-start;
                width: calc(100% - 60px);

                .small__title {
                  text-align: left;
                  font-size: 14px;
                  font-weight: bold;
                  font-family: $font-style;
                  line-height: 16px;
                  letter-spacing: 0px;
                  color: #0065ee;
                  opacity: 1;
                  margin-bottom: 10px;
                }

                .small__description {
                  text-align: left;
                  font-size: 12px;
                  font-family: $font-style;
                  font-weight: 500;
                  line-height: 14px;
                  letter-spacing: 0px;
                  color: #15244d;
                }
              }
            }

            &-note__title {
              display: block;
              width: 100%;
              text-align: left;
              font-size: 14px;
              font-family: $font-style;
              font-weight: bold;
              line-height: 16px;
              letter-spacing: 0px;
              color: #0065ee;
              opacity: 1;

              margin-top: 18px;
            }

            &-note__paragraph {
              text-align: left;
              font-size: 12px;
              font-family: $font-style;
              font-weight: 400;
              line-height: 14px;
              letter-spacing: 0px;
              color: #15244d;
              opacity: 1;

              margin-top: 20px;
            }
          }

          .draw__result {
            &-title {
              text-align: left;
              font-size: 16px;
              font-family: $font-style;
              font-weight: bold;
              line-height: 19px;
              letter-spacing: 0px;
              color: #0065ee;
              opacity: 1;
              margin-bottom: 30px;
            }

            &-gift {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              width: 100%;
              margin-bottom: 30px;

              &-name {
                text-align: left;
                font-size: 14px;
                font-family: $font-style;
                font-weight: bold;
                line-height: 16px;
                letter-spacing: 0px;
                color: #15244d;
                opacity: 1;
                margin-bottom: 6px;
              }

              &-winner {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                // justify-content: center;
                // align-items: center;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                margin-top: 8px;

                span {
                  flex: 1 1 100%;
                  text-align: center;
                  // text-align: left;
                  font-size: 12px;
                  font-family: $font-style;
                  font-weight: 400;
                  line-height: 14px;
                  letter-spacing: 0px;
                  color: #0065ee;
                  opacity: 1;

                  &:nth-child(odd) {
                    flex: 1 1 100%;
                  }
  
                  &:nth-child(even) {
                    flex: 1 1 100%;
                  }

                  &.winner__name {
                    // margin: 0 5px;
                    margin: 0;

                    &:first-child {
                      margin-left: 0;
                    }

                    &:last-child {
                      margin-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
