.month__headlines-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto 120px;
  padding: 0 6vw;

  .month__headlines-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 2vw;
    width: 26vw;

    .month__headlines-info {
      display: block;
      width: 26vw;

      .month__headlines-information {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        &.hide {
          display: none;
        }

        &.active {
          display: flex;
          -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
          -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }

        .month__headlines-date {
          text-align: left;
          font-family: $font-style;
          font-size: 24px;
          font-weight: 500;
          line-height: 32px;
          letter-spacing: 0px;
          color: #16254e;
          opacity: 1;
          margin: 20px 0;
        }

        .month__headlines-big__title {
          text-align: left;
          font-family: $font-style;
          font-size: 36px;
          font-weight: bold;
          line-height: 60px;
          letter-spacing: 0px;
          color: #15244d;
          opacity: 1;
          margin-bottom: 40px;

          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          max-height: 120px;
        }

        .month__headlines-small__title {
          text-align: left;
          font-family: $font-style;
          font-size: 16px;
          font-weight: 500px;
          line-height: 30px;
          letter-spacing: 0px;
          color: #15244d;
          opacity: 1;
          margin-bottom: 40px;

          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          max-height: 90px;
        }
      }
    }

    .month__headlines-control {
      display: flex;
      margin-top: 40px;

      .month__headlines-prev__icon {
        display: inline;
        background-image: url("../icon/arrowLeft.svg");
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: center center;
        width: 56px;
        height: 56px;
        margin-right: 15px;
        cursor: pointer;

        &:hover {
          background-image: url("../icon/arrowLeft-hover.svg");
        }
      }

      .month__headlines-next__icon {
        display: inline;
        background-image: url("../icon/arrowRight.svg");
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: center center;
        width: 56px;
        height: 56px;
        margin-left: 15px;
        cursor: pointer;

        &:hover {
          background-image: url("../icon/arrowRight-hover.svg");
        }
      }
    }
  }

  .month__headlines-images__wrapper {
    display: block;
    height: 100%;
    width: 60vw;

    .hide {
      display: none;
    }

    .active {
      display: block;
      -webkit-animation-name: slideInLeft;
      animation-name: slideInLeft;
      -webkit-animation-duration: 500ms;
      animation-duration: 500ms;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    img {
      height: 100%;
      width: 100%;
      // width: 1122px;

      object-fit: cover;
      object-position: center center;
    }
  }
}

@media (max-width: 1023px) {
  .month__headlines-container {
    flex-direction: column;
    align-items: center;
    width: calc(100% - 102px);
    margin: 0 auto 60px;
    padding: 0;

    .month__headlines-wrapper {
      order: 2;
      width: 100%;
      margin-top: 20px;

      .month__headlines-info {
        width: 100%;
        margin-right: 0px;

        .month__headlines-information {
          justify-content: center;
          align-items: center;

          .month__headlines-date {
            text-align: center;
            font-family: $font-style;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0px;
            color: #16254e;
            opacity: 1;
            margin-bottom: 21px;
          }

          .month__headlines-big__title {
            text-align: center;
            font-family: $font-style;
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0px;
            color: #15244d;
            opacity: 1;
            margin-bottom: 26px;
          }

          .month__headlines-small__title {
            text-align: center;
            font-family: $font-style;
            font-size: 14px;
            font-weight: 500px;
            line-height: 25px;
            letter-spacing: 0px;
            color: #15244d;
            opacity: 1;
            margin-bottom: 40px;
          }
        }
      }

      .month__headlines-control {
        display: flex;
        margin: 40px auto 0;

        .month__headlines-prev__icon {
          display: inline;
          background-image: url("../icon/arrowLeft.svg");
          background-repeat: no-repeat;
          object-fit: cover;
          object-position: center center;
          width: 56px;
          height: 56px;
          margin-right: 15px;

          &:hover {
            background-image: url("../icon/arrowLeft-hover.svg");
          }
        }

        .month__headlines-next__icon {
          display: inline;
          background-image: url("../icon/arrowRight.svg");
          background-repeat: no-repeat;
          object-fit: cover;
          object-position: center center;
          width: 56px;
          height: 56px;
          margin-left: 15px;

          &:hover {
            background-image: url("../icon/arrowRight-hover.svg");
          }
        }
      }
    }

    .month__headlines-images__wrapper {
      display: block;
      width: 100%;
      height: 100%;
      order: 1;

      img {
        height: 100%;
        width: 100%;

        object-fit: cover;
        object-position: center center;
      }
    }
  }
}

@media (max-width: 767px) {
  .month__headlines-container {
    flex-direction: column;
    align-items: center;
    width: calc(100% - 60px);
    margin: 0 auto 60px;
    padding: 0;

    .month__headlines-wrapper {
      order: 2;
      width: 100%;
      margin-top: 20px;

      .month__headlines-info {
        width: 100%;
        margin-right: 0px;

        .month__headlines-information {
          justify-content: center;
          align-items: center;

          .month__headlines-date {
            text-align: center;
            font-family: $font-style;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0px;
            color: #16254e;
            opacity: 1;
            margin-bottom: 20px;
          }

          .month__headlines-big__title {
            text-align: center;
            font-family: $font-style;
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0px;
            color: #15244d;
            opacity: 1;
            margin-bottom: 16px;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            max-height: 60px;
            // max line 2 line
          }

          .month__headlines-small__title {
            text-align: center;
            font-family: $font-style;
            font-size: 14px;
            font-weight: 500px;
            line-height: 25px;
            letter-spacing: 0px;
            color: #15244d;
            opacity: 1;
            margin-bottom: 40px;

            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            max-height: 75px;
            // max line 3 line
          }
        }
      }

      .month__headlines-control {
        display: flex;
        margin: 40px auto 0;

        .month__headlines-prev__icon {
          display: inline;
          background-image: url("../icon/arrowLeft.svg");
          background-repeat: no-repeat;
          object-fit: cover;
          object-position: center center;
          width: 56px;
          height: 56px;
          margin-right: 15px;

          &:hover {
            background-image: url("../icon/arrowLeft-hover.svg");
          }
        }

        .month__headlines-next__icon {
          display: inline;
          background-image: url("../icon/arrowRight.svg");
          background-repeat: no-repeat;
          object-fit: cover;
          object-position: center center;
          width: 56px;
          height: 56px;
          margin-left: 15px;

          &:hover {
            background-image: url("../icon/arrowRight-hover.svg");
          }
        }
      }
    }

    .month__headlines-images__wrapper {
      display: block;
      width: 100%;
      height: 100%;
      order: 1;

      img {
        height: 100%;
        width: 100%;

        object-fit: cover;
        object-position: center center;
      }
    }
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
