nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 80px;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #1168f629;
  opacity: 1;

  position: relative;
  top: 0;
  left: 0;
  z-index: 999;

  &.position-fixed {
    position: fixed;
  }

  #nav-check {
    display: none;
  }

  .logo {
    display: block;
    width: 103px;
    height: 59px;

    background-image: url("../images/logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    margin-left: 40px;
  }

  .nav__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    .nav__list-item {
      display: flex;
      align-items: center;
      color: #1a2951;
      margin: 0 25px;
      height: 100%;
      cursor: pointer;
      position: relative;

      .nav__list-item-text {
        color: #1a2951;

        &.active {
          color: #fb2452;

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            height: 5px;
            background-color: #fb2452;
            transform: skewX(-18deg);
          }
        }
      }

      &.active {
        color: #fb2452;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          display: block;
          width: 100%;
          height: 5px;
          background-color: #fb2452;
          transform: skewX(-18deg);
        }

        .nav__list-item-text {
          color: #fb2452;
        }
      }

      &:hover {
        color: #fb2452;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          display: block;
          width: 100%;
          height: 5px;
          background-color: #fb2452;
          transform: skewX(-18deg);
        }

        .nav__list-item-text {
          color: #fb2452;
        }
      }

      &:first-child {
        margin-left: 0px;
      }

      &:last-child {
        margin-right: 60px;
      }

      .nav__list-item-text {
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        height: 100%;
        box-sizing: border-box;
        padding: 0 4px;
        text-align: left;
        font-family: $font-style;
        font-size: 16px;
        line-height: 21px;
        font-weight: 500;
        letter-spacing: 0px;
        color: inherit;
        text-decoration: none;
      }
    }
  }

  /* Pure CSS For Hambuger BEGIN */
  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  .menu-btn > label > .menu-btn__burger {
    display: none;
    width: 25px;
    height: 3px;
    background-color: #1168f6;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
    margin-right: 24px;
  }

  .menu-btn > label > .menu-btn__burger::before,
  .menu-btn > label > .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #1168f6;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .menu-btn > label > .menu-btn__burger::before {
    transform: translateY(-10px);
  }

  .menu-btn > label > .menu-btn__burger::after {
    transform: translateY(10px);
  }

  /* Hambuger Menu Effect BEGIN */
  &.active .menu-btn > label > .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
    z-index: 1001;
  }

  &.active .menu-btn > label > .menu-btn__burger::before {
    background-color: #ffffff;
    transform: rotate(45deg) translate(35px, -35px);
  }

  &.active .menu-btn > label > .menu-btn__burger::after {
    background-color: #ffffff;
    transform: rotate(-45deg) translate(35px, 35px);
  }
  /* Hambuger Menu Effect END */

  .mobile__nav__link {
    display: none;
  }

  /* Pure CSS For Hambuger END */
}

.overflow__hide {
  overflow-x: hidden;
  overflow-y: hidden;
}

.ibongda-modal__open nav {
  position: static;
}

@media (max-width: 1023px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;

    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #1168f629;
    opacity: 1;

    position: fixed;

    &.position-fixed {
      position: fixed;

      &.active {
        position: fixed;
      }
    }

    &.active {
      position: static;
    }

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 78px;
      height: 45px;

      background-image: url("../images/logo.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-clip: border-box;
      margin-left: 17px;
    }

    .nav__list {
      display: none;
    }

    .menu-btn > label > .menu-btn__burger {
      display: block;
    }

    #nav-check:checked ~ .menu-btn {
      z-index: 1001;
    }

    #nav-check:checked ~ .mobile__nav__link {
      display: flex;
    }

    &.active .menu-btn {
      z-index: 1001;
    }

    &.active .mobile__nav__link {
      display: flex;
    }

    .mobile__nav__link {
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      overflow: hidden;

      background: transparent linear-gradient(360deg, #1168f6 0%, #05256c 100%)
        0% 0% no-repeat padding-box;

      .navbar__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        height: max-content;

        z-index: 1000;
        margin-top: 100px;

        overflow: auto;

        position: relative;

        .navbar__list-item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          z-index: 1000;

          text-align: center;
          font-family: $font-style;
          font-size: 18px;
          font-weight: bold;
          line-height: 24px;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          margin-bottom: 42px;

          .navbar__link {
            text-decoration: none;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;

            &:hover {
              color: #fb2452;
            }
          }
        }
      }

      .navbar__list-item-image {
        margin-top: auto;
        width: 100%;
        height: auto;

        .navbar__bottom__images {
          bottom: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
