.story__recovery {
  position: relative;
  padding-top: calc(100vw / 0.99189 * 0.12706 + 33px);

  &::before {
    content: "";
    background-color: #e2eaff;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    z-index: -1;
  }

  &_in {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 3000px 350px 0;
      border-color: transparent #e2eaff transparent transparent;
      z-index: -1;
    }
  }

  &_bg {
    background: rgba(255, 255, 255, 0) no-repeat 50% 50% / cover;
    position: absolute;
    top: 0;
    left: 0;
    // font-size: 10px;
    width: 100%;
    height: 100%;
    transform: skewY(-8deg);
    transform-origin: 0 0;
    background-size: cover;
    overflow: hidden;

    &.animated:before {
      width: 0;
      transition: width 0.5s 0.2s;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0;
      width: 100%;
      height: auto;
      background-color: #e2eaff;
      z-index: 5;
    }

    &-image {
      height: auto;
      background-size: cover;
      background-image: url("../images/testbg.png");
      transform: skew(0, 7deg);
      position: absolute;
      top: -7vw;
      left: 0;
      width: 100%;
      bottom: -7vw;
      background-position: center;
    }
  }
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.center {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.story__what-now_content {
  position: relative;
  padding-bottom: calc(11vw + 100px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .questionnaire-title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: $font-style;
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 0.8px;
    color: #ffffff;
    opacity: 1;
    margin-bottom: 58px;

    &.animated {
      transition: opacity 0.1s 0.5s;
      visibility: visible;
      transform: scale(1);
      opacity: 1;
    }

    .questionnaire-title-animation::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      width: calc(100% + 50px);
      z-index: 3;
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      transform-origin: left;
      -webkit-transform: translateZ(0) skew(25deg) scaleX(0);
      transform: translateZ(0) skew(25deg) scaleX(0);
      /* background-color: currentColor; */
      background-color: #ffffff;
      left: -25px;
    }

    &.animated .questionnaire-title-animation::after {
      -webkit-animation: mask-slanted-inv 0.6s;
      animation: mask-slanted-inv 0.6s;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      animation-delay: 0.3s;
    }

    .questionnaire-title-animation {
      opacity: 0;
    }

    &.animated .questionnaire-title-animation {
      // transition: opacity 0.1s 0.5s;
      // opacity: 1;
      display: block;
      -webkit-animation-name: ibongdaZoomOut;
      animation-name: ibongdaZoomOut;
      -webkit-animation-duration: 500ms;
      animation-duration: 500ms;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }

  .questionnaire-description {
    display: block;
    width: 37100%4px;
    text-align: center;
    font-family: $font-style;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;

    letter-spacing: 0.64px;
    color: #ffffff;
    margin-bottom: 69px;

    span {
      text-align: center;
      font-family: $font-style;
      font-size: 28px;
      font-weight: bold;
      line-height: 30px;

      letter-spacing: 1.12px;
      color: #ffffff;
    }
  }
}

@media (max-width: 1920px) {
  .story__recovery_bg-image {
    height: 950px;
  }
}

@media (max-width: 1023px) {
  .story__recovery {
    position: relative;
    padding-top: calc(100vw / 0.99189 * 0.12706 + 33px);

    &::before {
      content: "";
      background-color: #e2eaff;
      position: absolute;
      width: 100%;
      height: 50%;
      top: 0;
      z-index: -1;
    }

    &_in {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 3000px 350px 0;
        border-color: transparent #e2eaff transparent transparent;
        z-index: -1;
      }
    }

    &_bg {
      background: rgba(255, 255, 255, 0) no-repeat 50% 50% / cover;
      position: absolute;
      top: 0;
      left: 0;
      // font-size: 10px;
      width: 100%;
      height: 100%;
      transform: skewY(-8deg);
      transform-origin: 0 0;
      background-size: cover;
      overflow: hidden;

      &.animated:before {
        width: 0;
        transition: width 0.5s 0.2s;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0;
        width: 100%;
        height: auto;
        background-color: #e2eaff;
        z-index: 5;
      }

      &-image {
        background-size: cover;
        transform: skew(0, 7deg);
        top: -7vw;
        left: 0;
        width: 100%;
        bottom: -7vw;
        background-position: center;
        position: absolute;
        height: 720px;
        background-image: url("../images/testbg_mb01.png");
      }
    }
  }

  .animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

  .center {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }

  .story__what-now_content {
    position: relative;
    padding-bottom: calc(11vw + 100px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .questionnaire-title {
      display: block;
      width: 250px;
      text-align: center;
      font-family: $font-style;
      font-size: 24px;
      font-weight: bold;
      line-height: 40px;
      letter-spacing: 0.48px;
      color: #ffffff;
      opacity: 1;
      margin: 0 auto 59px;
    }

    .questionnaire-description {
      display: block;
      width: 100%;
      text-align: center;
      font-family: $font-style;
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;

      letter-spacing: 0.64px;
      color: #ffffff;
      margin-bottom: 69px;

      span {
        text-align: center;
        font-family: $font-style;
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;

        letter-spacing: 1.12px;
        color: #ffffff;
      }
    }
  }
}
