@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-style;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  // position: relative;
}

body.overflow__hide {
  .container {
    overflow-y: hidden;
  }
}

.hidden {
  display: none;
}

.container {
  // Old
  // max-width: 100%;
  // overflow: hidden;
  // overflow-y: scroll;
  // height: 100%;
  // max-height: 100vh;
  // scroll-behavior: smooth;

  // 30032022
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
  width: 100vw;
  height: 99vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.ibongda-modal__open {
  position: relative;
  // top: 0;
  // left: 0;
  width: 100%;
  // height: 100%;
  // overflow: hidden;

  .container {
    height: 100vh;
  }
}

.ibongda-button__animation {
  display: inline-block;
  position: relative;
  width: 210px;
  height: 46px;
  transform: skewX(-18deg);
  margin: 0 auto;
  outline: none;
  border: none;
  cursor: pointer;

  &.left {
    margin: 0;
  }

  .event__page-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 46px;
    background-color: #fb2452;
    border: 1px solid #00000000;
    color: #ffffff;

    outline: none;
    cursor: pointer;

    position: relative;

    .event__page-btn-text {
      text-align: center;
      font-family: $font-style;
      font-size: 18px;
      font-weight: bold;
      line-height: 40px;
      letter-spacing: 0.72px;
      color: #ffffff;
      opacity: 1;
      transform: skewX(18deg);
    }
  }

  u {
    display: none;
    position: absolute;
    width: 100%;
    height: 103%;
    left: -99%;
    top: 0;
    // background: linear-gradient(
    //   to right,
    //   rgba(255, 255, 255, 1) 50%,
    //   #eeeeee 110%
    // );
  }

  &:hover {
    .event__page-btn::before {
      content: "";
      position: absolute;
      top: 0px;
      bottom: 10px;
      width: 3px;
      transform: skewX(-18deg);
      transition: transform 0.3s ease 0.15s;
      transform: skewX(-1deg) scaleX(3) translate3d(-50%, 0, 0);
      transition: transform 0.3s ease, opacity 0s ease;
      background-color: #fb2452;
      left: -5px;
    }

    .event__page-btn::after {
      content: "";
      position: absolute;
      top: 10px;
      bottom: 0px;
      width: 3px;
      transform: skewX(-18deg);
      transition: transform 0.3s ease 0.15s;
      transform: skewX(0deg) scaleX(3) translate3d(-50%, 0, 0);
      transition: transform 0.3s ease, opacity 0s ease;
      background-color: #fb2452;
      right: -14px;
    }

    .event__page-btn-effect {
      display: block;
      -webkit-animation-name: slideInRight;
      animation-name: slideInRight;
      -webkit-animation-duration: 200ms;
      animation-duration: 200ms;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    // top: 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    // height: 35px;
    background: linear-gradient(to right, transparent 70%, #ffffff 110%);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    // top: 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 70%,
      #ffffff 110%
    );
    // height: 35px;
  }
}

@-webkit-keyframes mask-slanted-inv {
  0% {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: translateZ(0) skew(-15deg) scaleX(0);
    transform: translateZ(0) skew(-15deg) scaleX(0);
    -webkit-animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  0.0001% {
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50% {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: translateZ(0) skew(-15deg) scaleX(1);
    transform: translateZ(0) skew(-15deg) scaleX(1);
  }
  50.0001% {
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  100% {
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: translateZ(0) skew(-15deg) scaleX(0);
    transform: translateZ(0) skew(-15deg) scaleX(0);
  }
}

@keyframes mask-slanted-inv {
  0% {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: translateZ(0) skew(-15deg) scaleX(0);
    transform: translateZ(0) skew(-15deg) scaleX(0);
    -webkit-animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  0.0001% {
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50% {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: translateZ(0) skew(-15deg) scaleX(1);
    transform: translateZ(0) skew(-15deg) scaleX(1);
  }
  50.0001% {
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  100% {
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: translateZ(0) skew(-15deg) scaleX(0);
    transform: translateZ(0) skew(-15deg) scaleX(0);
  }
}

@media (max-width: 1023px) {
  .ibongda-button__animation {
    display: inline-block;
    position: relative;
    width: 210px;
    height: 46px;
    transform: skewX(-18deg);
    margin: 0 auto;
    cursor: pointer;

    &.left {
      margin: 0;
    }

    .event__page-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 210px;
      height: 46px;
      background-color: #fb2452;
      border: 1px solid #00000000;
      color: #ffffff;

      outline: none;
      cursor: pointer;

      position: relative;

      .event__page-btn-text {
        text-align: center;
        font-family: $font-style;
        font-size: 16px;
        font-weight: bold;
        line-height: 40px;
        letter-spacing: 0.64px;
        color: #ffffff;
        opacity: 1;
        transform: skewX(18deg);
      }
    }

    u {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      left: -100%;
      top: 0;
      background: linear-gradient(to right, transparent 50%, #ffffff 110%);
    }

    &:hover {
      .event__page-btn::before {
        content: "";
        position: absolute;
        top: 0px;
        bottom: 10px;
        width: 3px;
        transform: skewX(-18deg);
        transition: transform 0.3s ease 0.15s;
        transform: skewX(-1deg) scaleX(3) translate3d(-50%, 0, 0);
        transition: transform 0.3s ease, opacity 0s ease;
        background-color: #fb2452;
        left: -5px;
      }

      .event__page-btn::after {
        content: "";
        position: absolute;
        top: 10px;
        bottom: 0px;
        width: 3px;
        transform: skewX(-18deg);
        transition: transform 0.3s ease 0.15s;
        transform: skewX(0deg) scaleX(3) translate3d(-50%, 0, 0);
        transition: transform 0.3s ease, opacity 0s ease;
        background-color: #fb2452;
        right: -14px;
      }

      .event__page-btn-effect {
        display: block;
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight;
        -webkit-animation-duration: 200ms;
        animation-duration: 200ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
    }
  }
}
