@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
html {
  margin: 0;
  padding: 0;
}

:root {
  /* Standard Color */
  --body-color: #e3e3e3;
  --dodger-blue: #2d9afc;
  --vivid-sky-blue: #31cfff;
  --rich-black-fogra-29: #0f1119;
  --silver-sand: #c1c6c9;
  --y-in-mn-blue: #3c4d96;
  --white: #ffffff;
  --raisin-black: #171b26;
  --resolution-blue--20: rgba(4, 30, 130, 0.2);
  --blue-pantone: #011ca2;
  --blue-ryb: #2949ea;
  --toogle-background-color: #c1c6c9;
  --toggle-switch-color: #ffffff;
  --navbar-background-color: #0a2fea;
  --responsive-background-color: #00137e;
  --navbar-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  --news-card-background-color: #ffffff;
  --hot-news-card-footer-color: #2949ea;
  --aside-column-background-color: #041e82;
  --latest-news-hash-tag-bg-color: #ffffff;
  /* Text Color */
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --standard-text-color: #6c6e6f;
  --navbar-active-text-color: #2d9afc;
  --news-heading-text-color: #011ca2;
  --news-title-text-color: #011ca2;
  --news-paragraph-text-color: #0f1119;
  --spacial-column-read-more-color: #011ca2;
  --latest-news-hash-tag-color: #0f1119;
  --text-color: #000000;
  --post-inner-text-color: #011ca2;
  --post-inner-text-color-active: #551a8b;
  --cumcuber-list-text-color: var(--rich-black-fogra-29);
  /* Font Size */
  --std-font-size: 16px;
  --small-font-size: 14px;
  /* Background Color */
  --header-background-color: #e4e4e4;
  --icon-background-color: #e4e4e4;
  /* Icon Size */
  --small-icon: 14px;
  --medium-icon: 25px;
  /* Navbar */
  --menu-height: 80px;
  /* Hero Section */
  --hero-background: url("../images/hero_bg_light.svg");
  --mb-hero-background: url("../images/mb_ibg_white.svg");
  /* Fixture Score Section */
  --see-all-text-color: #011ca2;
  --fixture-score-background-color: #ffffff;
  --fixture-score-background: url("../images/white_fixture_watermark.svg");
  --fixture-score-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  --fixture-score-team-name-color: #011ca2;
  --fixture-score-result-color: #2d9afc;
  --fixture-score-time-color: #011ca2;
  --fixture-score-team-bg-color: #efefef;
  --fixture-score-date-bg-color: #efefef;
  --fixture-score-date-color: #021564;
  --fixture-score-date-active-color: #ffffff;
  /* Standings Section */
  --standings-background-color: #ffffff;
  --standings-background: url("../images/white_standings_watermark.svg");
  --standings-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  --standings-list-header-color: #021564;
  --standings-list-body-color: #011ca2;
  /* Pagination */
  --pagination-background-color: #ffffff;
  --pagination-text-color-color: #011ca2;
  --pagination-active-bg-color: #2d9afc;
  --pagination-active-text-color: #ffffff;
  /* News Details */
  --top-headlines-text-color: #011ca2;
  --top-headlines-divider-bg-color: rgba(4, 30, 130, 0.2);
  --top-headlines-list-item-bg-color: #ffffff;
  --top-headlines-list-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  --top-headlines-list-title-color: #011ca2;
  --news-detail-cucumber-list-color: #0f1119;
  --news-detail-divider-bg-color: rgba(4, 30, 130, 0.2);
  --news-detail-post-title: #011ca2;
  --news-detail-sub-text: var(--rich-black-fogra-29);
  --news-detail-post-hash-tag-bg-color: var(--white);
  --news-detail-post-hash-tag-text-color: var(--rich-black-fogra-29);
  --news-detail-author-recommend-header-color: var(--blue-pantone);
  --news-detail-author-recommend-date-color: var(--dodger-blue);
  --news-detail-author-recommend-title-color: var(--blue-pantone);
  --news-detail-author-recommend-paragraph-color: var(--rich-black-fogra-29);
  --news-detail-related-news-header-color: var(--blue-pantone);
  --news-detail-related-news-bg-color: var(--white);
  --news-detail-related-news-footer-title-color: var(--blue-pantone);
  --sticky-share-button-bg-color: var(--silver-sand);
  --sticky-share-button-divider-bg: url("../icon/details/share_arrow_sun.svg");
  /* News List */
  --news-list-divider-background-color: rgba(4, 30, 130, 0.1);
  /* Comment Area waiting ann provide color code BEGIN */
  --comment-area-background-color: #c2c6c9;
  --comment-area-border-color: var(--silver-sand);
  /* Comment Area waiting ann provide color code END */
  --sticky-pos: 150px;
  /* Month Headlines BEGIN */
  --month-headlines-arrow-left: url("../icon/month_headlines-left-arrow-white-mode.svg");
  --month-headlines-arrow-right: url("../icon/month_headlines-right-arrow-white-mode.svg");
  --month-headlines-arrow-left-hover: url("../icon/month_headlines-left-arrow-hover.svg");
  --month-headlines-arrow-right-hover: url("../icon/month_headlines-right-arrow-hover.svg");
  --month-headlines-text-color: #011ca2;
  --month-headlines-title-color: #011ca2;
  /* Month Headlines END */
  /* Error 404 BEGIN */
  --error-page-header-text-color: #011ca2;
  --error-page-header-number-color: #011ca2;
  --error-page-info-text-color: #0f1119;
  --error-page-content-bg-color: rgba(255, 255, 255, 0.7);
  --error-page-bg-image-website: url("../images/error_404bg_w.jpg");
  --error-page-bg-image-pad-pro: url("../images/error_404bg_w_pad.jpg");
  --error-page-bg-image-pad: url();
  --error-page-bg-image-mobile: url("../images/error_404bg_w_phone.jpg");
  /* Error 404 END */
  /* News Category List BEGIN */
  --category-news-list-title-text-color: #011ca2;
  --category-news-list-sm-title-text-color: #0f1119;
  --category-news-list-pagination-title-text-color: #0f1119;
  --category-news-list-pagination-border-top-color: rgba(4, 30, 130, 0.2);
  --category-news-list-theme-title-text-color: #313439;
  --category-news-list-show-arrow-icon: url("../icon/show_more_arrow-w.svg");
  /* News Category List END */
  /* Month Headlines List BEGIN */
  --month-headlines-list-title-text-color: #011ca2;
  --month-headlines-list-item-date-text-color: #2d9afc;
  --month-headlines-list-item-title-text-color: #011ca2;
  /* Month Headlines List END */
  /* Search BEGIN */
  --search-title-text-color: #484848;
  --search-info-text-color: #011ca2;
  --search-info-small-text-color: #707070;
  --search-result-background: #ffffff;
  --search-bar-background: #0a2fea;
  --search-btn-background: rgba(112, 112, 112, 0.1);
  /* search END */
  /* Footer BEGIN */
  --footer-link-text-color: #ffffff;
  --footer-link-text-hover: #2d9afc;
  /* Footer END */
  /* Breadcrumb BEGIN */
  --breadcrumb-text-color: #0f1119;
  --breadcrumb-text-active: #2d9afc;
  /* Breadcrumb END */
  /* Divider BEGIN */
  --divider-background: #041e82;
  /* Divider END */
  /* Sider BEGIN */
  --sider-title-text-color: #011ca2;
  --sider-item-name: #484848;
  --sider-item-hover: #efefef;
  --sider-list-background: #ffffff;
  --no-favorites-background: #ffffff;
  /* Sider END */
  /* Aside BEGIN */
  --aside-title-text-color: #011ca2;
  --aside-table-background-color: #ffffff;
  --aside-table-text-color: #484848;
  --aside-table-team-color: #011ca2;
  --aside-table-dropdown-hover: #efefef;
  --aside-table-dropdown-text-hover: #484848;
  --aside-table-dropdown-background: #ffffff;
  /* Aside END */
  /* Matches BEGIN */
  --matches-date-text-color: #484848;
  --matches-date-background-color: #f2f2f2;
  --matches-date-background-active: #ffffff;
  --matches-calendar-icon: url("../icon/calendar_icon_gray.svg");
  --matches-calendar-icon-active: url(" calendar_icon_gray.svg");
  /* Matches END */
  /* Color Platte */
  --competition-primary: #011ca2;
  --competition-secondary: #f2f2f2;
  --competition-fourth: #484848;
  --competition-fifth: #e3e3e3;
  --competition-sixth: #ffffff;
  --competition-seventh: #484848;
  --competition-eighth: #000000;
  --competition-hover: rgba(112, 112, 112, 0.1);
  --competition-dodger-blue: #2d9afc;
  --competition-liberty: #455dac;
  --competition-rich-black-fogra: #0f1119;
  --competition-carnelian: #af0010;
  --competition-silversan: #c1c6c9;
  --competition-sonicsilver: #707070;
  --competition-sonicsilver-10: rgba(112, 112, 112, 0.1);
  --competition-sonicsilver-50: rgba(112, 112, 112, 0.5);
  --matches-news-bg-color: #ffffff;
  --matches-info-form-list-item-lose-color: #f2f2f2;
  --matches-info-news-list-item-cat-color: #ffffff;
  /* Color Platte */
  /* Day Icon */
  --fav-star-icon-hover: url("../icon/fav_staricon-hover.svg");
  --fav-star-icon-10: url("../icon/leaguename_active_staricon-day.svg");
  --fav-star-icon-dark: url("../icon/ic_fav_league_star_actived_day.svg");
  --fav-search-icon: url("../icon/ic_search-day.svg");
  --matches-calendars-icon: url("../icon/ic_calendar_19x19.svg");
  --matches-location-icon: url("../icon/ic_place_19x19.svg");
  --matches-trophy-icon: url("../icon/ic_trophy_19x19.svg");
  --matches-referee-icon: url("../icon/ic_whistle_19x19.svg");
  --matches-goalball-icon: url("../icon/ic_inball.svg");
  --matches-penball-icon: url("../icon/ic_penball.svg");
  --matches-penballsuccess-icon: url("../icon/ic_penball_success.svg");
  --matches-penballfail-icon: url("../icon/ic_penball_fail.svg");
  --league-competition-icon: url("../icon/ic_competition_day.svg");
  --favorites-empty-icon: url("../icon/ic_fav_leftstar_day.svg");
  --rotate-phone-icon: url("../icon/ic_rotatephone_day.svg");
  --calendar-icon: url("../icon/ic_calendar_day.svg");
  /* Day Icon */
  /* Competition BEGIN 待確定是否不需要使用了 */
  --competition-third: #ffffff;
  --competition-blue: #0a2fea;
  --competition-dark: #000000;
  --competition-cultured: #f4f4f4;
  /* Competition END 待確定是否不需要使用了 */
}

.dark-theme {
  /* Color Platte */
  --competition-primary: #ffffff;
  --competition-secondary: #171b26;
  --competition-fourth: #c1c6c9;
  --competition-fifth: #21252f;
  --competition-sixth: #2d313e;
  --competition-seventh: #ffffff;
  --competition-eighth: #ffffff;
  --competition-hover: rgba(255, 255, 255, 0.1);
  --competition-dodger-blue: #2d9afc;
  --competition-liberty: #455dac;
  --competition-rich-black-fogra: #0f1119;
  --competition-carnelian: #af0010;
  --competition-silversan: #c1c6c9;
  --competition-sonicsilver: #707070;
  --competition-sonicsilver-10: rgba(112, 112, 112, 0.1);
  --competition-sonicsilver-50: rgba(112, 112, 112, 0.5);
  --matches-news-bg-color: #171b26;
  --matches-info-form-list-item-lose-color: #ffffff;
  --matches-info-news-list-item-cat-color: #707070;
  /* Color Platte */
  /* Night Icon */
  --fav-star-icon-hover: url("../icon/fav_staricon-hover-night.svg");
  --fav-star-icon-10: url("../icon/leaguename_active_staricon-night.svg");
  --fav-star-icon-dark: url("../icon/ic_fav_league_star_actived_night.svg");
  --fav-search-icon: url("../icon/ic_search-night.svg");
  --matches-calendars-icon: url("../icon/night_ic_calendar_19x19.svg");
  --matches-location-icon: url("../icon/night_ic_place_19x19.svg");
  --matches-trophy-icon: url("../icon/night_ic_trophy_19x19.svg");
  --matches-referee-icon: url("../icon/night_ic_whistle_19x19.svg");
  --matches-goalball-icon: url("../icon/night_ic_inball.svg");
  --matches-penball-icon: url("../icon/night_ic_penball.svg");
  --matches-penballsuccess-icon: url("../icon/night_ic_penball_success.svg");
  --matches-penballfail-icon: url("../icon/night_ic_penball_fail.svg");
  --league-competition-icon: url("../icon/ic_competition_night.svg");
  --favorites-empty-icon: url("../icon/ic_fav_leftstar_night.svg");
  --rotate-phone-icon: url("../icon/ic_rotatephone_night.svg");
  --calendar-icon: url("../icon/ic_calendar_night.svg");
  /* Night Icon */
  /* Competition BEGIN 待確定是否不需要使用了 */
  --competition-third: #171b26;
  --competition-blue: #0a2fea;
  --competition-dark: #000000;
  --competition-cultured: #f4f4f4;
  /* Competition END 待確定是否不需要使用了 */
  /* Matches BEGIN */
  --matches-date-text-color: #ffffff;
  --matches-date-background-color: #171b26;
  --matches-date-background-active: #2d313e;
  --matches-calendar-icon: url("../icon/calendar_icon_gray.svg");
  --matches-calendar-icon-active: url(" calendar_icon_gray.svg");
  /* Matches END */
  /* Aside BEGIN */
  --aside-title-text-color: #ffffff;
  --aside-table-background-color: #2d313e;
  --aside-table-text-color: #c1c6c9;
  --aside-table-team-color: #ffffff;
  --aside-table-dropdown-hover: rgba(255, 255, 255, 0.1);
  --aside-table-dropdown-text-hover: #ffffff;
  --aside-table-dropdown-background: #2d313e;
  /* Aside END */
  /* Sider BEGIN */
  --sider-title-text-color: #ffffff;
  --sider-item-name: #ffffff;
  --sider-item-hover: rgba(255, 255, 255, 0.1);
  --sider-list-background: #2d313e;
  --no-favorites-background: #2d313e;
  /* Sider END */
  /* Divider BEGIN */
  --divider-background: #ffffff;
  /* Divider END */
  /* Breadcrumb BEGIN */
  --breadcrumb-text-color: #ffffff;
  --breadcrumb-text-active: #2d9afc;
  /* Breadcrumb END */
  /* Footer BEGIN */
  --footer-link-text-color: #707070;
  --footer-link-text-hover: #ffffff;
  /* Footer END */
  /* Search BEGIN */
  --search-title-text-color: #c1c6c9;
  --search-info-text-color: #ffffff;
  --search-info-small-text-color: #707070;
  --search-result-background: #2d313e;
  --search-bar-background: #0a2fea;
  --search-btn-background: rgba(255, 255, 255, 0.1);
  /* search END */
  /* Standard Color */
  --body-color: #21252f;
  --dodger-blue: #2d9afc;
  --vivid-sky-blue: #31cfff;
  --rich-black-fogra-29: #0f1119;
  --silver-sand: #c1c6c9;
  --y-in-mn-blue: #3c4d96;
  --white: #ffffff;
  --raisin-black: #171b26;
  --resolution-blue--20: rgba(193, 198, 201, 0.2);
  --blue-pantone: #011ca2;
  --blue-ryb: #2949ea;
  --raisin-black-02: #191a22;
  --toogle-background-color: var(--silver-sand);
  --toggle-switch-color: rgba(193, 198, 201, 0.1);
  --navbar-background-color: #0a2fea;
  --responsive-background-color: #00137e;
  --navbar-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  --news-card-background-color: #171b26;
  --hot-news-card-footer-color: transparent;
  --aside-column-background-color: #c1c6c9;
  --latest-news-hash-tag-bg-color: #171b26;
  /* Text Color */
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --standard-text-color: #6c6e6f;
  --navbar-active-text-color: #2d9afc;
  --news-heading-text-color: #ffffff;
  --news-title-text-color: #ffffff;
  --news-paragraph-text-color: #c1c6c9;
  --spacial-column-read-more-color: #c1c6c9;
  --latest-news-hash-tag-color: #d8ecff;
  /* Font Size */
  --std-font-size: 16px;
  --small-font-size: 14px;
  /* Background Color */
  --header-background-color: #191a22;
  --icon-background-color: #e4e4e4;
  /* Text color */
  --text-color: #ffffff;
  --post-inner-text-color: #2d9afc;
  --post-inner-text-color-active: #9e5dd8;
  --cumcuber-list-text-color: var(--silver-sand);
  /* Icon Size */
  --small-icon: 14px;
  --medium-icon: 25px;
  /* Navbar */
  --menu-height: 80px;
  /* Hero Section */
  --hero-background: url("../images/hero_bg_dark.svg");
  --mb-hero-background: url("../images/mb_ibg_deep.svg");
  /* Fixture Score Section */
  --see-all-text-color: #c1c6c9;
  --fixture-score-background-color: #171b26;
  --fixture-score-background: url("../images/dark_fixture_watermark.svg");
  --fixture-score-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  --fixture-score-team-name-color: #ffffff;
  --fixture-score-status-color: #31cfff;
  --fixture-score-time-color: #ffffff;
  --fixture-score-team-bg-color: #212839;
  --fixture-score-date-bg-color: #212839;
  --fixture-score-date-color: #ffffff;
  --fixture-score-date-active-color: #ffffff;
  /* Standings Section */
  --standings-background-color: #171b26;
  --standings-background: url("../images/dark_standings_watermark.svg");
  --standings-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  --standings-list-header-color: #c1c6c9;
  --standings-list-body-color: #ffffff;
  /* Pagination */
  --pagination-background-color: #171b26;
  --pagination-text-color-color: #c1c6c9;
  --pagination-active-bg-color: #2d9afc;
  --pagination-active-text-color: #ffffff;
  /* News Details */
  --top-headlines-text-color: #ffffff;
  --top-headlines-divider-bg-color: rgba(193, 198, 201, 0.2);
  --top-headlines-list-item-bg-color: #171b26;
  --top-headlines-list-box-shadow: none;
  --top-headlines-list-title-color: #ffffff;
  --news-detail-cucumber-list-color: #c1c6c9;
  --news-detail-divider-bg-color: rgba(193, 198, 201, 0.2);
  --news-detail-post-title: #ffffff;
  --news-detail-sub-text: var(--silver-sand);
  --news-detail-post-hash-tag-bg-color: var(--raisin-black);
  --news-detail-post-hash-tag-text-color: var(--text-color-white);
  --news-detail-author-recommend-header-color: var(--white);
  --news-detail-author-recommend-date-color: var(--vivid-sky-blue);
  --news-detail-author-recommend-title-color: var(--text-color-white);
  --news-detail-author-recommend-paragraph-color: var(--silver-sand);
  --news-detail-related-news-header-color: var(--text-color-white);
  --news-detail-related-news-bg-color: var(--raisin-black);
  --news-detail-related-news-footer-title-color: var(--text-color-white);
  --sticky-share-button-bg-color: var(--raisin-black-02);
  --sticky-share-button-divider-bg: url("../icon/details/share_arrow_night.svg");
  /* News List */
  --news-list-divider-background-color: rgba(193, 298, 201, 0.2);
  /* Comment Area waiting ann provide color code BEGIN */
  --comment-area-background-color: #c2c6c9;
  --comment-area-border-color: var(--silver-sand);
  /* Comment Area waiting ann provide color code END */
  --sticky-pos: 150px;
  /* Month Headlines BEGIN */
  --month-headlines-arrow-left: url("../icon/month_headlines-left-arrow-dark-mode.svg");
  --month-headlines-arrow-right: url("../icon/month_headlines-right-arrow-dark-mode.svg");
  --month-headlines-arrow-left-hover: url("../icon/month_headlines-left-arrow-hover.svg");
  --month-headlines-arrow-right-hover: url("../icon/month_headlines-right-arrow-hover.svg");
  --month-headlines-text-color: #c1c6c9;
  --month-headlines-title-color: #ffffff;
  /* Month Headlines END */
  /* Error 404 BEGIN */
  --error-page-header-text-color: #2b4eff;
  --error-page-header-number-color: #0a2fea;
  --error-page-info-text-color: #c1c6c9;
  --error-page-content-bg-color: rgba(17, 20, 29, 0.7);
  --error-page-bg-image-website: url("../images/error_404bg_d.jpg");
  --error-page-bg-image-pad-pro: url("../images/error_404bg_d_pad.jpg");
  --error-page-bg-image-pad: url();
  --error-page-bg-image-mobile: url("../images/error_404bg_d_phone.jpg");
  /* Error 404 END */
  /* News Category List BEGIN */
  --category-news-list-title-text-color: #ffffff;
  --category-news-list-sm-title-text-color: #c1c6c9;
  --category-news-list-pagination-title-text-color: #ffffff;
  --category-news-list-pagination-border-top-color: rgba(126, 127, 128, 0.2);
  --category-news-list-theme-title-text-color: #ffffff;
  --category-news-list-show-arrow-icon: url("../icon/show_more_arrow-d.svg");
  /* News Category List END */
  /* Month Headlines List BEGIN */
  --month-headlines-list-title-text-color: #ffffff;
  --month-headlines-list-item-date-text-color: #c1c6c9;
  --month-headlines-list-item-title-text-color: #ffffff;
  /* Month Headlines List END */
}

body {
  width: 100vw;
  height: 100%;
  background-color: var(--body-color);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.container {
  width: 100%;
  height: max-content;
  overflow-x: hidden;
  position: relative;
}

/* google ads BEGIN */
.google_ads_728_x_90 {
  cursor: pointer;
  background-color: #ffffff;
  width: 728px;
  height: 90px;
  min-height: 90px;
  margin-right: auto;
}

.google_ads_300_x_250 {
  cursor: pointer;
  background-color: #ffffff;
  width: 300px;
  height: 250px;
  min-height: 250px;
  margin: 0 auto 60px;
}

.google_ads_300_x_600 {
  cursor: pointer;
  background-color: #ffffff;
  width: 300px;
  height: 600px;
  min-height: 600px;
  margin: 0 auto;
}

.google_ads_300_x_50 {
  cursor: pointer;
  background-color: #000000;
  width: 300px;
  height: 50px;
  min-height: 50px;
  margin: 0 auto;
}

.google_ads_300_x_200 {
  cursor: pointer;
  background-color: #ffffff;
  width: 300px;
  height: 200px;
  min-height: 200px;
  margin: 0 auto;
}

.mb_google_ads_300_x_200 {
  cursor: pointer;
  background-color: #ffffff;
  width: 300px;
  height: 200px;
  min-height: 200px;
  margin: 0 auto;
}

.mb_google_ads_970_x_90 {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 970px;
  height: 90px;
  min-height: 90px;
  margin: 0 auto;
}

.footer__google__ads_400_x_130 {
  cursor: pointer;
  background-color: #ffffff;
  width: 400px;
  height: 130px;
  min-height: 130px;
  margin: 0 auto;
}

.news_details_google_ads_300_x_250 {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 300px;
  height: 250px;
  min-height: 250px;
  margin: 0 auto;
}

.news_details_google_ads_300_x_600 {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 300px;
  height: 600px;
  min-height: 600px;
  margin: 0 auto;
}

.post_inner_google_ads_435_x_500 {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 435px;
  height: 500px;
  min-height: 500px;
  margin: 0 auto 30px 0;
}

.news_details_google_ads_728_x_90 {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 435px;
  height: 90px;
  min-height: 90px;
  margin: 0 auto 0px 0;
}

.mobile_post_inner_google_ads_300_x_100_top {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 300px;
  height: 100px;
  min-height: 100px;
  margin: 20px auto;
}

.mobile_post_inner_google_ads_300_x_100_bottom {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 300px;
  height: 100px;
  min-height: 100px;
  margin: 0 auto;
}

.mobile_news_details_google_ads_300_x_50 {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 300px;
  height: 50px;
  min-height: 50px;
  margin: 0 auto;
}

.mobile_post_inner_google_ads_310_x_356 {
  cursor: pointer;
  background-color: #5f5f5f;
  width: 310px;
  height: 356px;
  min-height: 356px;
  margin: 0 auto 20px;
}

.pad_pro_post_inner_google_ads_728_x_90_top {
  cursor: pointer;
  background-color: #ffffff;
  width: 728px;
  height: 90px;
  min-height: 90px;
  margin: 0 auto;
}

.pad_post_inner_google_ads_468_x_60_top {
  cursor: pointer;
  background-color: #ffffff;
  width: 468px;
  height: 60px;
  min-height: 60px;
  margin: 0 auto;
}

.mobile_post_inner_google_ads_300_x_50_top {
  cursor: pointer;
  background-color: #ffffff;
  width: 300px;
  height: 50px;
  min-height: 50px;
  margin: 0 auto;
}

.pad_pro_post_inner_google_ads_728_x_90_bottom {
  cursor: pointer;
  background-color: #ffffff;
  width: 728px;
  height: 90px;
  margin: 0 auto;
}

.pad_post_inner_google_ads_468_x_60_bottom {
  cursor: pointer;
  background-color: #ffffff;
  width: 468px;
  height: 60px;
  min-height: 60px;
  margin: 0 auto;
}

.mobile_post_inner_google_ads_300_x_50_bottom {
  cursor: pointer;
  background-color: #ffffff;
  width: 300px;
  height: 50px;
  min-height: 50px;
  margin: 0 auto;
}

.pad_pro_news_details_google_ads_970_x_90 {
  cursor: pointer;
  background-color: #ffffff;
  width: 970px;
  height: 90px;
  min-height: 90px;
  margin: 0 auto;
}

.pad_news_news_details_google_ads_728_x_90 {
  cursor: pointer;
  background-color: #ffffff;
  width: 728px;
  height: 90px;
  min-height: 90px;
  margin: 0 auto;
}

.mobile_news_details_google_ads_300_x_250 {
  cursor: pointer;
  background-color: #ffffff;
  width: 300px;
  height: 250px;
  margin: 0 auto;
}

.navbar__google__ads__300_x_50 {
  cursor: pointer;
  background-color: #000000;
  width: 300px;
  height: 50px;
  min-height: 50px;
  margin: 0 auto 105px;
}

.navbar__google__ads__468_x_60 {
  cursor: pointer;
  background-color: #000000;
  width: 468px;
  height: 60px;
  min-height: 60px;
  margin: 0 auto 30px;
}

/* google ads END */
/* Header CSS BEGIN */
header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
  position: fixed;
  z-index: 999;
  /* Because This is fixed at top */
  box-shadow: var(--navbar-box-shadow);
}
header .nav__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--header-background-color);
  position: relative;
}

.nav__social-left {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}
.nav__social-left > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav__social-left > ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 100%;
  height: 100%;
  margin: 0 8px;
}
.nav__social-left > ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--standard-text-color);
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.nav__social-left > ul li a.sport__teams:hover {
  transform: scale(1.5);
}
.nav__social-left > ul li a img {
  width: 25px;
  height: 25px;
}
.nav__social-left > ul .hot__sites {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: max-content;
  height: 100%;
  color: var(--standard-text-color);
  font-weight: bold;
}

.nav__social-right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.nav__social-right > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav__social-right > ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 100%;
  height: 100%;
  margin: 0 4px;
}
.nav__social-right > ul li:nth-child(5) {
  margin: 0 8px 0 4px;
}
.nav__social-right > ul li:nth-child(6) {
  margin: 0 8px;
}
.nav__social-right > ul li a:hover > .zalo {
  background: url("../icon/zalo_01_h.png") no-repeat center center;
}
.nav__social-right > ul li a:hover > .tik_tok {
  background: url("../icon/tiktik_01_h.png") no-repeat center center;
}
.nav__social-right > ul li a:hover > .rss {
  background: url("../icon/rss_01.png") no-repeat center center;
}
.nav__social-right > ul li a:hover > .telegram {
  background: url("../icon/tg_01.png") no-repeat center center;
}
.nav__social-right > ul li a:hover > .facebook {
  background: url("../icon/fb_01_h.png") no-repeat center center;
}
.nav__social-right > ul li a:hover > .youtube {
  background: url("../icon/yt_01_h.png") no-repeat center center;
}
.nav__social-right > ul li a:hover > .instagram {
  background: url("../icon/ig_h.png") no-repeat center center;
}

/* Header CSS END */
/* Responsive CSS BEGIN */
@media (max-width: 1024px) {
  header .nav__social {
    display: none;
  }
}
/* Responsive CSS END */
footer {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 280px;
  bottom: 0;
  background-color: #0f1119;
}
footer > .footer-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 994px;
  margin: 0 auto;
  padding: 30px 0 0;
}
footer > .footer-container a {
  text-decoration: none;
}
footer > .footer-container .title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #f2f2f2;
  margin-bottom: 10px;
}
footer > .footer-container .description {
  text-align: center;
  letter-spacing: 0.39px;
  color: #f2f2f2;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 46px;
}
footer > .footer-container .info {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 57px;
}
footer > .footer-container .info .info-item {
  text-align: center;
  letter-spacing: 0px;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}
footer > .footer-container .info .info-item:not(:last-child)::after {
  content: "|";
  margin: 0 66px;
  color: #707070;
}
footer > .footer-container .info .info-item:hover {
  color: var(--footer-link-text-hover);
}
footer > .footer-container .info .info-item .info-item-link {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
footer > .footer-container .copyright {
  text-align: center;
  letter-spacing: 0px;
  color: #f2f2f2;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
}

@media (max-width: 1023px) {
  footer {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
  }
  footer > .footer-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: calc(100% - 30px);
    margin: 0 15px;
    padding: 20px 0 105px;
  }
  footer > .footer-container a {
    text-decoration: none;
  }
  footer > .footer-container .title {
    text-align: center;
    margin: 20px 0 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
  }
  footer > .footer-container .description {
    text-align: center;
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  footer > .footer-container .copyright {
    text-align: center;
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  footer > .footer-container .info {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer > .footer-container .info .info-item {
    text-align: center;
    color: #707070;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  footer > .footer-container .info .info-item:not(:last-child)::after {
    content: "|";
    margin: 0 5px;
  }
  footer > .footer-container .info .info-item .info-item-link {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
.nav {
  display: flex;
  box-sizing: border-box;
  height: var(--menu-height);
  width: 100%;
  background-color: var(--navbar-background-color);
  position: relative;
}

.mobile__logo,
.nav > .mobile__logo,
.mobile-search,
.mobile-logo {
  display: none;
}

/* Hidden when website mode BEGIN */
.responsive-list,
.nav > #nav-check,
.nav > .menu-btn,
.nav .dropdown > span > i.right__arrow,
.nav .link > span > i.right__arrow,
.link.mb__social > .mb__social__link,
.link.google__ads > .navbar__google__ads__300_x_50,
.link.google__ads > .navbar__google__ads__468_x_60,
.nav > .nav__links > .nav__links__left > .navbar li.mb__hot__sites,
.nav > .nav__links > .nav__links__left > .navbar li.link.day-n-night,
.nav > .nav__links > .nav__links__left > .navbar li.link.fanpage {
  display: none;
}

/* Hidden when website mode END */
/* Big Logo BEGIN */
.big_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 223px;
  height: 130px;
  position: relative;
}

.big_logo > a {
  display: inline;
  width: 100%;
  height: 100%;
}

.biglogo {
  float: left;
  background-color: var(--header-background-color);
  background-size: cover;
  width: 300px;
  height: 130px;
  position: absolute;
}

.innerlogo {
  margin: 15px auto 15px 15px;
  background: url("../images/logo.svg") no-repeat center center;
  background-size: cover;
  width: 180px;
  height: 100px;
}

.logocurve {
  float: left;
  background: url("../images/curve.svg") no-repeat center center;
  background-size: cover;
  width: 45px;
  height: 90px;
  position: absolute;
  left: 180px;
  top: 40px;
}

.functional {
  display: flex;
  flex-direction: column;
  width: calc(100% - 223px);
  position: relative;
}

/* Big Logo END */
.nav .navbar {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__links {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  width: 100%;
  margin: 0 0.5rem;
  margin-right: 20px;
}

.nav > .nav__links > .nav__links__left > .navbar,
.nav > .nav__links > .nav__links__right > .navbar {
  display: flex;
  height: var(--menu-height);
  align-items: center;
  background-color: var(--navbar-background-color);
}

.nav > .nav__links > .nav__links__left > .navbar li,
.nav > .nav__links > .nav__links__right > .navbar li {
  position: relative;
  margin: 0;
  height: 100%;
}

.nav > .nav__links > .nav__links__right > .navbar li.user-icon {
  margin-top: 8px;
}

.nav > .nav__links > .nav__links__right > .navbar li.link.user-icon img {
  width: 30px;
  height: 30px;
  margin-bottom: 0px;
  border-radius: 50%;
}

.nav .navbar .link,
.nav .navbar .dropdown {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  color: var(--text-color-white);
  font-size: var(--std-font-size);
  font-weight: 500;
  padding: 8px 16px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.nav .navbar .link.user-icon {
  padding: 8px 16px 8px 3px;
}

.dropdown > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

li.link > span a.navbar__link {
  color: var(--text-color-white);
  text-decoration: none;
}

.dropdown > span > i.down__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 8px;
}

.dropdown:hover > span > i.down__arrow {
  transform: rotate(0.5turn);
  transition: ease 0.4s;
}

.dropdown:hover > span > i.down__arrow {
  background: url("../icon/ibongda_arrow_down_hover_24px.svg") no-repeat center center;
}

.link > .divider,
.dropdown > .divider {
  width: 100%;
  height: 3px;
  box-sizing: border-box;
  margin-top: 3px;
}

.dropdown:hover > .divider,
.link:hover > .divider {
  background-color: var(--navbar-active-text-color);
}

.nav .navbar .link:hover a {
  color: var(--navbar-active-text-color);
  background-color: var(--navbar-background-color);
}

.nav .navbar .dropdown:hover {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  cursor: pointer;
  font-size: var(--std-font-size);
  font-weight: 500;
  padding: 8px 16px;
  text-decoration: none;
  white-space: nowrap;
  color: var(--navbar-active-text-color);
  background-color: var(--navbar-background-color);
}

.nav > .nav__links > .nav__links__left > .navbar .dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav > .nav__links > .nav__links__left > .navbar .dropdown-menu > li.link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px 5px;
  margin: 0;
}

.dropdown-menu > .divider {
  height: 9px;
  background-color: inherit;
}

.navbar .dropdown-menu > li:nth-child(2) {
  padding-top: 9px !important;
}

.navbar .dropdown-menu > li:last-child {
  padding-bottom: 9px !important;
}

.dropdown-menu > li.link a {
  line-height: 30px;
}

.dropdown-menu > li.link a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-color: var(--navbar-active-text-color);
  height: 100%;
  width: 100%;
}

.nav .navbar li.dropdown a,
.nav .navbar li.dropdown a a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--text-color-white);
  font-size: 14px;
}

.nav__links__left > ul li ul {
  min-width: 15rem;
  opacity: 0;
  padding: 0;
  position: absolute;
  display: block;
  top: calc(var(--menu-height));
  visibility: hidden;
}

.nav__links__left > ul li:hover > ul,
.nav__links__right > ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu > li.link {
  background-color: var(--navbar-background-color);
}

.dropdown > .dropdown-menu > .dropdown-header {
  height: 5px;
  background-color: transparent;
}

.nav__links__left > ul li ul li.link:hover {
  background-color: var(--navbar-background-color);
}

.nav__links__left > .navbar li.dropdown li.link:hover a {
  background-color: var(--navbar-active-text-color);
  color: #ffffff;
}

.nav__links__right > .navbar > .link {
  padding-bottom: 20px;
}

.nav__links__right > .navbar > .link:hover {
  padding-bottom: 8px;
}

.nav__links__right > .navbar > .link.user-icon:hover > .userprofile {
  background: url("../icon/login_h.png") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  display: block;
  width: 22px;
  height: 22px;
}

/* custom multi column BEGIN */
.dropdown:hover > ul.dropdown-menus {
  display: block;
}

.nav > .nav__links > .nav__links__left > .navbar .dropdown-menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav > .nav__links > .nav__links__left > .navbar .dropdown-menus > li.link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px 5px;
  margin: 0;
}

.dropdown-menus > li.link {
  background-color: var(--navbar-background-color);
}

.dropdown > .dropdown-menus > .dropdown-header {
  height: 5px;
  background-color: rgba(0, 0, 0, 0);
}

.multi__column {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 7px;
  width: 460px;
  height: 100%;
  background-color: #0a2fea;
}

.multi__column > .column {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
  background-color: #0a2fea;
}

.nav .multi__column > .column a.column__item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 14px;
  color: var(--text-color-white);
  padding: 4px 11px 2px;
  margin-bottom: 5px;
}

.multi__column > .column a.column__item:last-child {
  margin-bottom: 0;
}

.multi__column > .column a.column__item span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: var(--text-color-white);
}
.multi__column > .column a.column__item span img {
  box-sizing: border-box;
  object-fit: cover;
  object-position: center center;
  width: 30px;
  height: 30px;
  margin-right: 6px;
}
.multi__column > .column a.column__item span .teams-name {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  color: #ffffff;
}

.multi__column > .column a.column__item:hover {
  background-color: var(--navbar-active-text-color);
}

.multi__column > .divider__horizontal {
  display: block;
  width: 2px;
  height: 300px;
  opacity: 0.3;
  background-color: #2d9afc;
  margin: 9.5px 6px;
}

/* custom multi column END */
/* Navbar Hot sites Change auto */
@media (max-width: 1399px) {
  header > .big_logo,
header .nav__social,
.dropdown > .dropdown-menu > .dropdown-header,
.nav > .nav__links > .nav__links__right,
.dropdown > span > i.down__arrow {
    display: none;
  }

  .nav > .nav__links > .nav__links__left > .navbar > .link.home {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .nav > .nav__links > .nav__links__left > .navbar li.link.fanpage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link.google__ads > .navbar__google__ads__300_x_50 {
    display: block;
  }

  .link.google__ads > .navbar__google__ads__468_x_60 {
    display: none;
  }

  .nav > .nav__links > .nav__links__left > .navbar li.link.day-n-night,
.nav > .mobile__logo,
.mobile-search,
.mobile-logo {
    display: block;
  }

  .responsive-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .responsive-list > .responsive-item {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    margin: 0 3px;
  }
  .responsive-list > .responsive-item > .userprofile {
    width: 24px;
    height: 24px;
  }
  .responsive-list > .responsive-item > img {
    width: 30px;
    height: 30px;
  }

  li.link > span {
    padding: 0 0 0 15px;
  }

  .nav > .nav__links > .nav__links__left > .navbar > .link span:first-child,
.nav > .nav__links > .nav__links__left > .navbar > .dropdown span:first-child {
    height: 48px;
  }

  .nav > .nav__links > .nav__links__left > .navbar > .dropdown span.divider__horizontal {
    display: none;
  }

  .nav > .nav__links > .nav__links__left > .navbar > .dropdown .column__item span {
    width: min-content;
  }

  .nav > .nav__links > .nav__links__left > .navbar > .link.google__ads {
    margin-top: 30px;
    padding: 0;
  }

  nav .navbar li .column__item a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
  }
  nav .navbar li .column__item a:hover span {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 55px;
  }
  .nav .nav__links__left {
    height: 100vh;
  }
  .nav .mobile-logo {
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 15px;
    height: 80px;
    background-color: var(--responsive-background-color);
  }
  .nav .mobile-logo img {
    width: 64px;
    height: 36px;
  }
  .nav .mobile-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
  }
  .nav > .mobile__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav > .mobile__logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .nav > .mobile__logo a img {
    width: 64px;
    height: 36px;
  }
  .nav > .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .nav > #nav-check {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .nav > #nav-check:checked ~ .nav__links {
    display: block;
    height: 100vh;
    width: 300px;
    overflow: hidden;
    left: 0;
    transition: left 0.5s ease-out;
  }
  .nav > #nav-check:checked ~ .menu-btn {
    position: absolute;
    left: 260px;
    z-index: 999;
    width: 20px;
    height: 20px;
    transition: left 0.5s ease-in-out;
  }
  .nav > #nav-check:checked ~ .mobile__logo {
    opacity: 0;
    visibility: hidden;
  }
  .nav > #nav-check:checked ~ .mobile-search {
    position: absolute;
    right: 0;
  }
  .nav > #nav-check ~ .nav__links {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    left: -999px;
  }
  .nav .dropdown .dropdown-menus .multi__column {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .nav .dropdown .dropdown-menus .multi__column .column {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  .nav .dropdown .dropdown-menus .multi__column .column:hover span {
    background-color: rgba(0, 0, 0, 0);
  }
  .nav .dropdown .dropdown-menus .multi__column .column__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: min-content;
    margin: 5px;
  }
  .nav .dropdown .dropdown-menus .multi__column .column__item span {
    width: min-content;
  }
  .nav .dropdown .dropdown-menus .multi__column .column__item img {
    box-sizing: border-box;
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    padding: 5px;
  }
  .nav .dropdown .dropdown-menus .multi__column .column__item .teams-name {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .nav__links ul.navbar li.link {
    display: block;
    width: 100%;
  }

  .nav__links > .nav__links__left > ul li:hover > ul {
    float: none;
    position: static;
    color: #ffffff;
  }

  .nav__links ul > li:hover ul li {
    display: block;
    width: 100%;
  }

  .nav__links ul ul ul li {
    position: static;
  }

  .dropdown > .divider,
.link > .divider {
    height: 1px;
    width: 100%;
    opacity: 0.3;
    background-color: var(--navbar-active-text-color);
    margin-top: 0px;
  }

  .nav .navbar .link:hover a {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav > .nav__links > .nav__links__left > .navbar {
    box-sizing: border-box;
    display: block;
    background-color: var(--responsive-background-color);
    width: 300px;
    padding: 0;
    overflow-y: auto;
    margin: 0;
    height: calc(100% - 80px);
  }

  .nav > .nav__links > .nav__links__left > .navbar > .link,
.nav > .nav__links > .nav__links__left > .navbar > .dropdown {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
    padding: 0 16px;
  }

  .nav .navbar .link:hover,
.nav .navbar .dropdown:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav .navbar .dropdown:hover > span > i.right__arrow {
    background: url("../icon/ibongda_arrow_right_hover_24px.svg") no-repeat center center;
    background-size: cover;
    object-fit: contain;
    display: block;
    width: 8px;
    height: 14px;
    transform: rotate(0.25turn);
    transition: all 0.5s ease;
  }

  .nav .link > span > i.right__arrow {
    display: none;
  }

  .nav .dropdown > span > i.right__arrow {
    display: block;
  }

  .nav > .nav__links > .nav__links__left > .navbar > .link span,
.nav > .nav__links > .nav__links__left > .navbar > .dropdown span {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 0 15px;
  }

  .nav__links__left > ul.navbar li.dropdown ul.dropdown-menu {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    left: 0;
    top: 45px;
  }

  .nav .navbar li.dropdown a,
.nav .navbar li.dropdown a a {
    box-sizing: border-box;
    font-size: 14px;
    color: var(--navbar-active-text-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4px 9px;
    font-size: 14px;
  }

  .nav .navbar li a:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav__links > ul li ul li {
    background-color: rgba(0, 0, 0, 0);
  }

  .dropdown-menu > li.link {
    background-color: var(--responsive-background-color);
  }

  .link.mb__social > .mb__social__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 50px 0 10px;
  }

  .link.mb__social > .mb__social__link > a {
    margin: 0 8px;
  }

  .nav > .nav__links > .nav__links__left > .navbar li.mb__hot__sites {
    display: block;
  }

  .nav > .nav__links > .nav__links__left > .navbar .dropdown-menu {
    border-bottom: 1px solid rgb(45, 154, 252);
  }
}
@media (max-width: 1024px) {
  /* Hidden when mobile mode BEGIN */
  header > .big_logo,
.dropdown > .dropdown-menu > .dropdown-header,
.nav > .nav__links > .nav__links__right,
.dropdown > span > i.down__arrow {
    display: none;
  }

  .link:hover > .text-animation + .divider {
    opacity: 0;
    background-color: var(--navbar-active-text-color);
  }

  .responsive-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .responsive-list > .responsive-item > .userprofile {
    width: 24px;
    height: 24px;
  }

  .responsive-list > .responsive-item > img {
    width: 30px;
    height: 30px;
  }

  li.link > span {
    padding: 0 0 0 15px;
  }

  .nav__links ul.navbar li.link {
    display: block;
    width: 100%;
  }

  .nav__links > .nav__links__left > ul li:hover > ul {
    float: none;
    position: static;
    color: #ffffff;
  }

  .nav__links ul > li:hover ul li {
    display: block;
    width: 100%;
  }

  .nav__links ul ul ul li {
    position: static;
  }

  .dropdown > .divider,
.link > .divider {
    height: 1px;
    width: 100%;
    opacity: 0.3;
    background-color: var(--navbar-active-text-color);
    margin-top: 0px;
  }

  .nav .navbar .link:hover a {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav > .nav__links > .nav__links__left > .navbar > .link,
.nav > .nav__links > .nav__links__left > .navbar > .dropdown {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
  }

  .nav > .nav__links > .nav__links__left > .navbar > .link span,
.nav > .nav__links > .nav__links__left > .navbar > .dropdown span {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 0 15px;
  }

  .nav__links__left > ul.navbar li.dropdown ul.dropdown-menu {
    background-color: transparent;
    width: 100%;
    left: 0;
    top: 45px;
  }

  .nav .navbar li.dropdown a,
.nav .navbar li.dropdown a a {
    box-sizing: border-box;
    font-size: 14px;
    color: var(--navbar-active-text-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4px 9px;
    font-size: 14px;
  }

  .nav .navbar li a:hover {
    background-color: transparent;
  }

  .nav__links > ul li ul li {
    background-color: transparent;
  }

  .dropdown-menu > li.link {
    background-color: var(--responsive-background-color);
  }

  .link.mb__social > .mb__social__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 50px 0 10px;
  }

  .link.mb__social > .mb__social__link > a {
    margin: 0 8px;
  }
}
@media (max-width: 767px) {
  .link.google__ads > .navbar__google__ads__300_x_50 {
    display: block;
  }

  .link.google__ads > .navbar__google__ads__468_x_60 {
    display: none;
  }
}
@media (max-width: 414px) {
  .mobile__logo {
    display: block;
  }

  .big_logo {
    display: none;
  }

  .responsive-list > .responsive-item > img {
    width: 30px;
    height: 30px;
  }

  .nav {
    height: 55px;
    width: 100vw;
  }

  .nav > .menu-btn {
    height: 55px;
  }

  .nav > .nav__links {
    top: 55px;
  }

  .link.mb__social > .mb__social__link {
    margin: 50px 0 10px;
  }
}
.mb-search-container {
  display: none;
}

.search-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 85px;
  right: 0;
  background-color: var(--competition-sixth);
  width: 375px;
}
.search-container.active {
  display: flex;
}
.search-container .search-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: var(--search-bar-background);
}
.search-container .search-bar .search-icon-20 {
  margin-right: 32px;
}
.search-container .search-bar .cross-icon {
  margin-left: 71px;
}
.search-container .search-bar input {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  width: calc(100% - 133px);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.search-container .search-bar input::-moz-placeholder {
  color: #ffffff;
}
.search-container .search-bar input:-ms-input-placeholder {
  color: #ffffff;
}
.search-container .search-bar input::placeholder {
  color: #ffffff;
}
.search-container .search-bar input:invalid {
  box-shadow: none;
}
.search-container .search-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-container .search-result .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1019607843);
}
.search-container .search-result .content:nth-last-child(2) {
  box-shadow: none;
}
.search-container .search-result .content .title {
  box-sizing: border-box;
  width: 100%;
  color: var(--competition-fourth);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  padding: 10px 15px;
}
.search-container .search-result .content .result-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.search-container .search-result .content .result-list-item {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 15px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.search-container .search-result .content .result-list-item:hover .news-title {
  text-decoration: underline;
}
.search-container .search-result .content .result-list-item .images {
  box-sizing: border-box;
  padding: 9px;
  background-image: url("../icon/search_result_img_bg.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.search-container .search-result .content .result-list-item .image-wrapper {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  padding: 9px;
  background-color: #efefef;
  margin-right: 10px;
}
.search-container .search-result .content .result-list-item img {
  position: relative;
  width: 22px;
  height: 22px;
}
.search-container .search-result .content .result-list-item .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.search-container .search-result .content .result-list-item .info p {
  display: flex;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.search-container .search-result .content .result-list-item .info-name {
  color: var(--competition-primary);
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 2px;
}
.search-container .search-result .content .result-list-item .info-small {
  display: inline-flex;
  color: var(--competition-sonicsilver);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.search-container .search-result .content .result-list-item .news-title {
  color: var(--competition-primary);
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  width: 100%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.search-container .search-result .btn-more {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #efefef;
  width: calc(100% - 30px);
  padding: 10px;
  margin: 9px 15px 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: var(--competition-primary);
  cursor: pointer;
}
.search-container .search-result .btn-more:hover {
  background-color: var(--search-btn-background);
}

@media (max-width: 1399px) {
  .mb-search-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--search-result-background);
    width: 100vw;
    height: 100vh;
  }
  .mb-search-container.active {
    display: block;
  }
  .mb-search-container .search-box {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding: 15px;
    background-color: var(--search-bar-background);
  }
  .mb-search-container .search-box .mobile-search-icon {
    margin-right: 32px;
  }
  .mb-search-container .search-box .mobile-cross-icon {
    margin-left: 71px;
  }
  .mb-search-container .search-box input {
    width: calc(100% - 133px);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .mb-search-container .search-box input::-moz-placeholder {
    color: #ffffff;
  }
  .mb-search-container .search-box input:-ms-input-placeholder {
    color: #ffffff;
  }
  .mb-search-container .search-box input::placeholder {
    color: #ffffff;
  }
  .mb-search-container .search-box input:invalid {
    box-shadow: none;
  }
  .mb-search-container .search-box input:focus {
    outline: none;
    border: none;
  }
  .mb-search-container .search-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .mb-search-container .search-result .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1019607843);
  }
  .mb-search-container .search-result .content:nth-last-child(2) {
    box-shadow: none;
  }
  .mb-search-container .search-result .content .title {
    box-sizing: border-box;
    color: var(--search-title-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding: 10px 15px;
    width: 100%;
  }
  .mb-search-container .search-result .content .result-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mb-search-container .search-result .content .result-list-item {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 9px 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  .mb-search-container .search-result .content .result-list-item:hover .news-title {
    text-decoration: underline;
  }
  .mb-search-container .search-result .content .result-list-item .image {
    box-sizing: border-box;
    padding: 9px;
    background-image: url("../icon/search_result_img_bg.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .mb-search-container .search-result .content .result-list-item .image-wrapper {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 9px;
    background-color: #efefef;
    margin-right: 10px;
  }
  .mb-search-container .search-result .content .result-list-item img {
    width: 22px;
    height: 22px;
    margin-right: 15px;
  }
  .mb-search-container .search-result .content .result-list-item .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .mb-search-container .search-result .content .result-list-item .info p {
    display: flex;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .mb-search-container .search-result .content .result-list-item .info-name {
    color: var(--competition-primary);
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
  }
  .mb-search-container .search-result .content .result-list-item .info-small {
    color: var(--competition-sonicsilver);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .mb-search-container .search-result .content .result-list-item .news-title {
    color: var(--competition-primary);
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    width: 100%;
  }
  .mb-search-container .search-result .btn-more {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #efefef;
    padding: 10px;
    margin: 9px 15px 10px;
    width: calc(100% - 30px);
    background-color: rgba(0, 0, 0, 0);
    color: var(--competition-primary);
    cursor: pointer;
  }
  .mb-search-container .search-result .btn-more:hover {
    background-color: var(--search-btn-background);
  }
}
/* Day Night Toggle CSS BEGIN */
.toggle-only {
  cursor: pointer;
  display: inline-block;
}

.btn-toggle {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.btn-toggle:focus-visible {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.toggle-switch-only {
  display: inline-block;
  background: var(--toogle-background-color);
  border-radius: 16px;
  width: 60px;
  height: 30px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch-only:after {
  content: "";
}
.toggle-switch-only:before {
  content: "";
  display: block;
  background: var(--toggle-switch-color) url("../icon/sun.svg") no-repeat center center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: left 0.25s;
}

.toggle-checkbox-only {
  position: absolute;
  visibility: hidden;
}
.toggle-checkbox-only:checked + .toggle-switch-only {
  background: rgba(193, 198, 201, 0.1);
}
.toggle-checkbox-only:checked + .toggle-switch-only:before {
  background: #ffffff url("../icon/moon.svg") no-repeat center center;
}
.toggle-checkbox-only:checked + .toggle-switch-only:before {
  left: 32px;
}

#responsive-dn-toggle-input ~ img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

#responsive-dn-toggle-input ~ .responsive-dn-toggle-status {
  display: inline;
  color: var(--competition-dodger-blue);
  padding-left: 10px;
}

/* Day Night Toggle CSS END */
/* Responsive CSS BEGIN */
@media (max-width: 1499px) {
  .toggle-switch-only {
    background: rgba(193, 198, 201, 0.2);
  }
  .toggle-switch-only:checked + .toggle-switch-only {
    background: rgba(193, 198, 201, 0.2);
  }
}
/* Responsive CSS END */
.text-animation {
  position: relative;
}

.content {
  top: 0;
  left: 0;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.content__container {
  font-weight: 500;
  overflow: hidden;
  height: 48px;
}
.content__container:before, .content__container:after {
  position: absolute;
  top: 0;
  color: rgba(0, 0, 0, 0);
  font-size: 42px;
  line-height: 48px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content__container__list {
  margin-top: 0;
  padding-left: 0px;
  text-align: center;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
.content__container__list:hover {
  color: var(--navbar-active-text-color);
  -webkit-animation-name: none;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: none;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  position: relative;
}
.content__container__list:hover::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--navbar-active-text-color);
  top: 37px;
  left: 0;
  text-align: center;
}

.content__container__list__item {
  line-height: 48px;
  margin: 0;
  line-height: 48px;
  cursor: pointer;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
/* Pure CSS For Hambuger BEGIN */
.nav > .menu-btn > label > .menu-btn__burger {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.nav > .menu-btn > label > .menu-btn__burger::before, .nav > .menu-btn > label > .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.nav > .menu-btn > label > .menu-btn__burger::before {
  transform: translateY(-10px);
}
.nav > .menu-btn > label > .menu-btn__burger::after {
  transform: translateY(10px);
}

/* Hambuger Menu Effect BEGIN */
#nav-check:checked ~ .menu-btn > label > .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
#nav-check:checked ~ .menu-btn > label > .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
#nav-check:checked ~ .menu-btn > label > .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* Hambuger Menu Effect END */
/* Pure CSS For Hambuger END */
.share-icon {
  display: block;
  background: url("../icon/site02.svg") no-repeat center center;
  background-size: contain;
  width: var(--small-icon);
  height: var(--small-icon);
  margin-left: 8px;
}

.team__icon,
.social__icon {
  display: block;
  width: var(--medium-icon);
  height: var(--medium-icon);
}

.euro_foot {
  background: var(--icon-background-color) url("../icon/euro_foot.png") no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}

.p_l {
  background: var(--icon-background-color) url("../icon/p_l.png") no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}

.yijia {
  background: var(--icon-background-color) url("../icon/Yijia.png") no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}

.bundesliga {
  background: var(--icon-background-color) url("../icon/bundesliga.png") no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}

.UEFA_C_L {
  background: var(--icon-background-color) url("../icon/UEFA_C_L.png") no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}

.zalo {
  background: url("../icon/zalo_01.png") no-repeat center center;
  background-size: cover;
}

.tik_tok {
  background: url("../icon/tiktik_01.png") no-repeat center center;
  background-size: cover;
}

.rss {
  background: url("../icon/rss_01_h.png") no-repeat center center;
  background-size: cover;
}

.telegram {
  background: url("../icon/tg_01_h.png") no-repeat center center;
  background-size: cover;
}

.facebook {
  background: url("../icon/fb_01.png") no-repeat center center;
  background-size: cover;
}

.youtube {
  background: url("../icon/yt_0.png") no-repeat center center;
  background-size: cover;
}

.instagram {
  background: url("../icon/ig_01.png") no-repeat center center;
  background-size: cover;
}

.day {
  background: var(--icon-background-color) url("../icon/sun.svg") no-repeat center center;
  background-size: cover;
  object-fit: contain;
}

.night {
  background: var(--icon-background-color) url("../icon/moon.svg") no-repeat center center;
  background-size: cover;
  object-fit: contain;
}

.userprofile {
  background: url("../icon/login.png") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  display: block;
  width: 22px;
  height: 22px;
}

.right__arrow {
  background: url("../icon/ibongda_arrow_right_24px.svg") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  display: block;
  width: 8px;
  height: 14px;
}

.down__arrow {
  background: url("../icon/ibongda_arrow_down_24px.svg") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  display: block;
  width: 12px;
  height: 8px;
}

.more {
  background: url("../icon/more_icon.svg") no-repeat center center;
  background-size: contain;
  display: block;
  width: 13px;
  height: 13px;
  margin: auto 0;
}

.message {
  background: url("../icon/message_icon.png") no-repeat center center;
  background-size: cover;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.aside__column-premier_icon {
  background: url("../icon/aside-column_premier_icon.svg") no-repeat center center;
  background-size: cover;
  display: block;
  width: 30px;
  height: 30px;
}

.rank_boost {
  background: url();
  background-size: cover;
  display: block;
  width: 10px;
  height: 10px;
}

.rank_down {
  background: url();
  background-size: cover;
  display: block;
  width: 10px;
  height: 10px;
}

.rank__no-change {
  background: url();
  background-size: cover;
  display: block;
  width: 10px;
  height: 10px;
}

.close {
  display: block;
  background: url("../icon/mem/close.png") no-repeat center center;
  background-size: cover;
  width: 18px;
  height: 18px;
}

.bind-facebook {
  display: block;
  background: url("../icon/mem/fb.png") no-repeat center center;
  background-size: cover;
  width: 34px;
  height: 34px;
  margin: 0 0 0 6px;
}

.bind-zalo {
  display: block;
  background: url("../icon/mem/zalo.png") no-repeat center center;
  background-size: cover;
  width: 34px;
  height: 34px;
  margin: 0 6px;
}

.bind-telegram {
  display: block;
  background: url("../icon/mem/tg.png") no-repeat center center;
  background-size: cover;
  width: 34px;
  height: 34px;
  margin: 0 6px 0 0;
}

.login__close {
  display: block;
  background: url("../icon/login/close.png") no-repeat center center;
  background-size: cover;
  width: 18px;
  height: 18px;
}

.showpassword {
  display: block;
  background: url("../icon/login/eye.png") no-repeat center center;
  background-size: cover;
  width: 22px;
  height: 15px;
  cursor: pointer;
}

.hidepassword {
  display: none;
  background: url("../icon/login/eye01.png") no-repeat center center;
  background-size: cover;
  width: 22px;
  height: 15px;
  cursor: pointer;
}

.login__facebook {
  display: block;
  background: url("../icon/login/fb.png") no-repeat center center;
  background-size: cover;
  width: 46px;
  height: 46px;
}

.login__zalo {
  display: block;
  background: url("../icon/login/zalo.png") no-repeat center center;
  background-size: cover;
  width: 46px;
  height: 46px;
}

.login__telegram {
  display: block;
  background: url("../icon/login/tg.png") no-repeat center center;
  background-size: cover;
  width: 46px;
  height: 46px;
}

.login__phone {
  display: block;
  background: url("../icon/login/phone.png") no-repeat center center;
  background-size: cover;
  width: 46px;
  height: 46px;
}

.login__google {
  display: block;
  background: url("../icon/login/g.png") no-repeat center center;
  background-size: cover;
  width: 46px;
  height: 46px;
}

.viewers-icon {
  display: block;
  background: url("../icon/details/read.svg") no-repeat center center;
  background-size: cover;
  width: 22px;
  height: 15px;
  margin-right: 7px;
}

i.thumb {
  display: inline-flex;
  background: url("../icon/details/good.svg") no-repeat center center;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

i.post-facebook {
  display: block;
  background: url("../icon/details/fb.svg") no-repeat center center;
  background-size: cover;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

i.post-fb-messager {
  display: block;
  background: url("../icon/details/messenger.svg") no-repeat center center;
  background-size: cover;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

i.post-zalo {
  display: block;
  background: url("../icon/details/zalo.svg") no-repeat center center;
  background-size: cover;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

i.post-telegram {
  display: block;
  background: url("../icon/details/tg.svg") no-repeat center center;
  background-size: cover;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

i.post-url-link {
  display: block;
  background: url("../icon/details/copy.svg") no-repeat center center;
  background-size: cover;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

i.post-comment {
  display: block;
  background: url("../icon/details/leave_a_message.svg") no-repeat center center;
  background-size: cover;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

i.post-share {
  display: block;
  background: url("../icon/details/share.png") no-repeat center center;
  background-size: cover;
  width: 16px;
  height: 18px;
}

.mobile-search-icon {
  display: block;
  background: url("../icon/ic_search.png") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.mobile-cross-icon {
  display: inline-block;
  background: url("../icon/ic_close_24px.svg") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.news-icon {
  display: inline-block;
  width: 22px;
  height: 18px;
  background-image: url("../icon/ic_footermenu_news.svg");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.news-icon.active {
  background-image: url("../icon/ic_footermenu_news_active.svg");
}

.matches-icon {
  display: block;
  width: 25px;
  height: 18px;
  background-image: url("../icon/ic_footermenu_matches.svg");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.matches-icon.active {
  background-image: url("../icon/ic_footermenu_matches_active.svg");
}

.mb-favorites-icon {
  display: block;
  width: 19px;
  height: 18px;
  background-image: url("../icon/ic_footermenu_fav.svg");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.mb-favorites-icon.active {
  background-image: url("../icon/ic_footermenu_fav_active.svg");
}

.favorites-icon-md {
  display: block;
  min-width: 65px;
  min-height: 70px;
  background-image: var(--favorites-empty-icon);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.favorites-icon-lg {
  display: block;
  min-width: 150px;
  min-height: 150px;
  background-image: var(--favorites-empty-icon);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.favorites-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../icon/fav_staricon-inactive.svg");
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center center;
  margin: 0 auto;
  cursor: pointer;
}
.favorites-icon:hover {
  background-image: var(--fav-star-icon-hover);
}
.favorites-icon.active {
  background-image: url("../icon/fav_staricon-active.svg");
}
.favorites-icon.dark.active {
  background-image: var(--fav-star-icon-dark);
}

.favorites-icon-10 {
  display: block;
  width: 10px;
  height: 10px;
  background-image: var(--fav-star-icon-10);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.member-icon {
  display: block;
  width: 17px;
  height: 17px;
  background-image: url("../icon/ic_footermenu_member.svg");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.member-icon.active {
  background-image: url("../icon/ic_footermenu_member_active.svg");
}

.arrow-right-icon {
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("../icon/arrow-icon-right-sonicsilver.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.calendar-icon {
  display: block;
  width: 30px;
  height: 19px;
  background-image: var(--calendar-icon);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sorting-icon {
  display: block;
  opacity: 1;
  visibility: visible;
  width: 14px;
  height: 16px;
  background-image: url("../icon/ic_changelist.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.search-icon {
  display: block;
  background: url("../icon/ic_search.svg") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  width: 24px;
  height: 24px;
}

.search-icon-20 {
  display: block;
  background: url("../icon/ic_search.svg") no-repeat center center;
  background-size: contain;
  object-fit: contain;
  width: 20px;
  height: 20px;
}

.cross-icon {
  display: block;
  background: url("../icon/ic_close_24px.svg") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  width: 20px;
  height: 20px;
}

.agg-icon {
  display: block;
  background-image: url("../icon/ic_agg.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 38px;
  height: 13px;
}

.pen-icon {
  display: block;
  background-image: url("../icon/ic_pen.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  width: 38px;
  height: 13px;
}

.world-icon {
  display: block;
  background-image: var(--league-competition-icon);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 19px;
  height: 19px;
}

.mb-rotate-icon {
  display: block;
  background-image: var(--rotate-phone-icon);
  background-size: cover;
  background-position: center center;
  background-clip: border-box;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.matches-arrow-right-icon {
  display: block;
  background: url("../icon/ic_chevron_right_7x12.svg") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  width: 7px;
  height: 12px;
}

.matches-calendar-icon {
  display: block;
  background-image: var(--matches-calendars-icon);
  background-repeat: no-repeat;
  object-position: center center;
  object-fit: cover;
  width: 19px;
  height: 19px;
}

.matches-location-icon {
  display: block;
  background-image: var(--matches-location-icon);
  background-repeat: no-repeat;
  object-position: center center;
  object-fit: cover;
  width: 19px;
  height: 19px;
}

.matches-trophy-icon {
  display: block;
  background-image: var(--matches-trophy-icon);
  background-repeat: no-repeat;
  object-position: center center;
  object-fit: cover;
  width: 19px;
  height: 19px;
}

.matches-referee-icon {
  display: block;
  background-image: var(--matches-referee-icon);
  background-repeat: no-repeat;
  object-position: center center;
  object-fit: cover;
  width: 19px;
  height: 19px;
}

.fav-add-icon {
  display: block;
  background: url("../icon/ic_fav_add.svg") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  width: 22px;
  height: 22px;
}

.fav-setting-icon {
  display: block;
  background: url("../icon/ic_fav_set.png") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  width: 22px;
  height: 22px;
}

.fav-close-icon {
  display: block;
  background: url("../icon/ic_close.svg") no-repeat center center;
  background-size: cover;
  object-fit: contain;
  width: 40px;
  height: 16px;
}

.fav-search-icon {
  display: block;
  background: var(--fav-search-icon);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
  width: 20px;
  height: 20px;
}

.redcard-icon {
  display: block;
  background: url("../icon/ic_redcard.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
  width: 13px;
  height: 13px;
}

.yellowcard-icon {
  display: block;
  background: url("../icon/ic_yellowcard.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
  width: 13px;
  height: 13px;
}

.goalball-icon {
  display: block;
  background: var(--matches-goalball-icon);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
  width: 13px;
  height: 13px;
}

.penball-icon {
  display: block;
  background: var(--matches-penball-icon);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
  width: 13px;
  height: 13px;
}

.penballsuccess-icon {
  display: block;
  background: var(--matches-penballsuccess-icon);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
  width: 13px;
  height: 13px;
}

.penballfail-icon {
  display: block;
  background: var(--matches-penballfail-icon);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
  width: 13px;
  height: 13px;
}

@media (max-width: 1023px) {
  .favorites-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../icon/fav_staricon-inactive.svg");
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  .favorites-icon:hover {
    background-image: url("../icon/fav_staricon-inactive.svg");
  }
  .favorites-icon.active {
    background-image: url("../icon/fav_staricon-active.svg");
  }
}
.mb-footer {
  display: none;
}

@media (max-width: 1399px) {
  .mb-footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 99;
    background-color: #f2f2f2;
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1607843137);
  }
  .mb-footer ul {
    list-style: none;
  }
  .mb-footer a {
    text-decoration: none;
  }
  .mb-footer .footer-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 66px;
  }
  .mb-footer .footer-list-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 93px;
    height: 100%;
    color: rgba(112, 112, 112, 0.6);
  }
  .mb-footer .footer-list-item.active {
    color: var(--competition-dodger-blue);
  }
  .mb-footer .footer-list-item .footer-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: inherit;
  }
  .mb-footer .footer-list-item .footer-btn .text {
    color: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 7px;
  }
}
.error__container {
  width: 100%;
  height: calc(100vh - 525px);
  height: max-content;
  overflow-x: hidden;
}
.error__container-bg {
  display: block;
  background-image: var(--error-page-bg-image-website);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 37vw;
  margin-top: 130px;
  position: relative;
}
.error__container-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: 520px;
  background-color: var(--error-page-content-bg-color);
}
.error__container-content-header {
  width: 100%;
  text-align: center;
  color: var(--error-page-header-text-color);
  font-size: 25px;
  font-weight: 300;
  line-height: 68px;
  margin-bottom: 30px;
}
.error__container-content-body {
  width: 100%;
  text-align: center;
  color: var(--error-page-header-number-color);
  font-size: 96px;
  font-weight: bold;
  line-height: 88px;
  margin-bottom: 40px;
}
.error__container-content-footer {
  width: 100%;
  text-align: center;
  color: var(--error-page-info-text-color);
  font-size: 16px;
  font-weight: bold;
  line-height: 54px;
  margin-bottom: 40px;
}

@media (max-width: 1499px) {
  .error__container {
    width: 100%;
    height: calc(100vh - 525px);
    height: max-content;
    overflow-x: hidden;
  }
  .error__container-bg {
    display: block;
    background-image: var(--error-page-bg-image-website);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 37vw;
    margin-top: 80px;
    position: relative;
  }
  .error__container-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 520px;
    background-color: var(--error-page-content-bg-color);
  }
  .error__container-content-header {
    width: 100%;
    text-align: center;
    color: var(--error-page-header-text-color);
    font-size: 25px;
    font-weight: 300;
    line-height: 68px;
    margin-bottom: 8px;
  }
  .error__container-content-body {
    width: 100%;
    text-align: center;
    color: var(--error-page-header-number-color);
    font-size: 96px;
    font-weight: bold;
    line-height: 88px;
    margin-bottom: 15px;
  }
  .error__container-content-footer {
    width: 100%;
    text-align: center;
    color: var(--error-page-info-text-color);
    font-size: 16px;
    font-weight: bold;
    line-height: 54px;
  }
}
@media (max-width: 1099px) {
  .error__container {
    width: 100%;
    height: calc(100vh - 525px);
    height: max-content;
    overflow-x: hidden;
  }
  .error__container-bg {
    display: block;
    background-image: var(--error-page-bg-image-pad-pro);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 82vw;
    margin-top: 80px;
    position: relative;
  }
  .error__container-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 520px;
    background-color: var(--error-page-content-bg-color);
  }
  .error__container-content-header {
    width: 100%;
    text-align: center;
    color: var(--error-page-header-text-color);
    font-size: 25px;
    font-weight: 300;
    line-height: 68px;
    margin-bottom: 8px;
  }
  .error__container-content-body {
    width: 100%;
    text-align: center;
    color: var(--error-page-header-number-color);
    font-size: 96px;
    font-weight: bold;
    line-height: 88px;
    margin-bottom: 15px;
  }
  .error__container-content-footer {
    width: 100%;
    text-align: center;
    color: var(--error-page-info-text-color);
    font-size: 16px;
    font-weight: bold;
    line-height: 54px;
  }
}
@media (max-width: 767px) {
  .error__container {
    width: 100%;
    height: calc(100vh - 525px);
    height: max-content;
    overflow-x: hidden;
  }
  .error__container-bg {
    display: block;
    background-image: var(--error-page-bg-image-mobile);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 123vw;
    margin-top: 80px;
    position: relative;
  }
  .error__container-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 296px;
    background-color: var(--error-page-content-bg-color);
  }
  .error__container-content-header {
    width: 214px;
    text-align: center;
    color: var(--error-page-header-text-color);
    font-size: 14px;
    font-weight: 200;
    line-height: 38px;
    margin-bottom: 5px;
  }
  .error__container-content-body {
    width: 214px;
    text-align: center;
    color: var(--error-page-header-number-color);
    font-size: 54px;
    font-weight: bold;
    line-height: 49px;
    margin-bottom: 10px;
  }
  .error__container-content-footer {
    width: 214px;
    text-align: center;
    color: var(--error-page-info-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 0;
  }
}