@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #292929;
  max-width: 720px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

ul {
  list-style-type: none;
}

.goto-top {
  position: fixed;
  bottom: 96px;
  right: 24px;
  background-image: url("../images/ui_kit/ic_up.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.ads-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  max-width: 720px;
  height: 80px;
  background-color: #000000;
  z-index: 99;
}
.ads-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

.title {
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 46px;
  margin-top: 64px;
}

.p-0 {
  padding: 0 !important;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-11 {
  margin-bottom: 11px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-64 {
  margin-bottom: 64px;
}

.l-height-36 {
  line-height: 36px !important;
}

.height-42 {
  height: 42px !important;
}

.height-524 {
  height: 524px !important;
}

.height-730 {
  height: 730px !important;
}

@media (min-width: 720px) {
  .goto-top {
    position: fixed;
    bottom: 96px;
    right: 24px;
    background-image: url("../images/ui_kit/ic_up.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    right: calc(50vw - 336px);
  }
}
.swiper-button-next {
  background-image: url("../images/ui_kit/ic_up.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
  top: calc(50% - 32px);
}
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev {
  background-image: url("../images/ui_kit/ic_up.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  transform: rotate(270deg);
  top: calc(50% - 32px);
}
.swiper-button-prev::after {
  content: "";
}

.swiper-pagination-bullet {
  background-color: #b8b8b8;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #fec310;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #cacaca;
  width: 100%;
  height: 80px;
  max-width: 720px;
  z-index: 99;
}
nav .mobile-logo {
  width: 100px;
  height: 56px;
  margin-top: 16px;
  margin-left: 24px;
}
nav .mobile-logo img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
nav .navbar {
  display: flex;
  margin-top: 32px;
  margin-right: 24px;
}
nav .navbar-item {
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.16px;
  color: #56042c;
}
nav .navbar-item:first-child {
  margin-right: 24px;
}

.icon-facebook {
  display: block;
  width: 42px;
  height: 42px;
  background-image: url("../images/ui_kit/b_facebook.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-zalo {
  display: block;
  width: 42px;
  height: 42px;
  background-image: url("../images/ui_kit/b_zalo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-telegram {
  display: block;
  width: 42px;
  height: 42px;
  background-image: url("../images/ui_kit/b_tg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-close {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../images/ui_kit/ic_close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.container .banner {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.18);
  position: relative;
}
.container .banner::before {
  content: "";
  background-color: #cacaca;
  height: 80px;
  width: 100%;
  max-width: 720px;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}
.container .banner::after {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -3;
}
.container .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  position: relative;
}
.container .worldcup-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../images/bg_m03.png");
  z-index: 0;
  border-bottom: 3px solid #ffffff;
}
.container .worldcup-news .worldcup-news-content {
  margin-top: 64px;
  position: relative;
}
.container .worldcup-news .worldcup-news-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: calc(100% - 31px);
  background-color: #ffffff;
  margin-top: 31px;
  z-index: -1;
}
.container .worldcup-news .worldcup-news-content .worldcup-news-btn {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.container .worldcup-news .worldcup-news-content .news-category {
  display: inline;
  box-sizing: border-box;
  color: #ffffff;
  width: 50vw;
  position: absolute;
  left: calc(50% - 13px);
}
.container .worldcup-news .worldcup-news-content .news-category:first-child {
  margin-top: 24px;
}
.container .worldcup-news .worldcup-news-content .news-category span {
  display: flex;
  align-items: center;
  margin-left: 33px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  width: max-content;
}
.container .worldcup-news .worldcup-news-content .news-category span::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  left: 6px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.container .worldcup-news .worldcup-news-content img {
  width: 100%;
  height: auto;
  z-index: 99;
}
.container .worldcup-round-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-image: url("../images/bg4.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-attachment: scroll;
  z-index: -2;
}
.container .worldcup-round-table .round-table-logo {
  width: max(15.38vw, 60px);
  height: max(33.07vw, 129px);
  object-fit: cover;
  object-position: center;
  margin-top: 64px;
}
.container .worldcup-round-table .round-table-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc(100% - 48px);
  margin: 64px 24px 0;
}
.container .worldcup-round-table .round-table-list .group-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(50% - 12px);
  background-color: #56042c;
  margin-bottom: 47px;
  position: relative;
  z-index: -1;
}
.container .worldcup-round-table .round-table-list .group-content:nth-child(odd) {
  margin-right: 12px;
}
.container .worldcup-round-table .round-table-list .group-content:nth-child(even) {
  margin-left: 12px;
}
.container .worldcup-round-table .round-table-list .group-content:nth-last-child(1), .container .worldcup-round-table .round-table-list .group-content:nth-last-child(2) {
  margin-bottom: 0;
}
.container .worldcup-round-table .round-table-list .group-content .group-tag-image {
  width: 107px;
  height: 40px;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: -20px;
  left: 8px;
}
.container .worldcup-round-table .round-table-list .group-content .teams-info-list {
  margin-top: 28px;
}
.container .worldcup-round-table .round-table-list .group-content .teams-info-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #b8b8b8;
  padding: 5px 8px;
  margin: 0 0 10px 8px;
  width: 100%;
  max-width: 321px;
  min-width: min(39vw, 323px);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5019607843);
}
.container .worldcup-round-table .round-table-list .group-content .teams-info-item img {
  width: 24px;
  height: 16px;
  object-fit: cover;
  object-position: center;
}
.container .worldcup-round-table .round-table-list .group-content .teams-info-item span {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #ffffff;
  margin-left: 8px;
}
.container .worldcup-schedule {
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #000000;
}
.container .worldcup-schedule .swiper.mySwiper {
  width: 100%;
  height: min(100vw + 96px, 696px);
  position: relative;
}
.container .worldcup-schedule .swiper.mySwiper .swiper-wrapper {
  width: 100%;
  height: min(100vw, 600px);
}
.container .worldcup-schedule .swiper.mySwiper .swiper-wrapper img {
  width: 100%;
  height: 100%;
}
.container .worldcup-schedule .swiper.mySwiper .swiper-pagination {
  margin-top: 24px;
  margin-bottom: 64px;
  position: absolute;
  bottom: 0;
}
.container .worldcup-hightlights-videos {
  width: 100%;
  height: 100%;
  background-image: url("../images/bg_m05.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .worldcup-hightlights-videos .yt-iframe {
  width: calc(100% - 46px);
  height: min(64.35vw, 400px);
  margin: 105px 22px 220px 24px;
}
.container .worldcup-hightlights-videos .yt-iframe iframe {
  width: 100%;
  height: 100%;
}
.container .worldcup-event-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000000;
  z-index: -11;
}
.container .worldcup-event-info .event-info-content {
  width: 100%;
  max-width: 720px;
  height: 800px;
  position: relative;
}
.container .worldcup-event-info .event-info-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 720px;
  z-index: -10;
  background-color: #000000;
  height: 100%;
}
.container .worldcup-event-info .event-info-content::after {
  content: "";
  background: transparent linear-gradient(180deg, #000000 0%, #56042c 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  max-width: 720px;
  height: 387px;
  position: absolute;
  bottom: 0;
  z-index: -10;
}
.container .worldcup-event-info .event-info-content .event-info-image {
  margin-top: 64px;
  width: 100%;
  height: 456px;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.container .worldcup-event-info .event-info-content .card-bg {
  box-sizing: border-box;
  background-color: #56042c;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7450980392);
  margin: 0 24px;
  padding-bottom: 20px;
  width: calc(100% - 48px);
  position: absolute;
  top: 355px;
  z-index: 1;
}
.container .worldcup-event-info .event-info-content .card-bg .card {
  box-sizing: border-box;
  background-color: #b8b8b8;
  width: calc(100% - 42px);
  margin: 0 21px;
  padding: 86px 9px 9px;
  height: 421px;
}
.container .worldcup-event-info .event-info-content .card-bg .card::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: calc(100% - 42px);
  height: 16px;
  background-color: #b8b8b8;
  margin: 0 21px;
}
.container .worldcup-event-info .event-info-content .card-bg .card-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  color: #56042c;
  text-align: center;
}
.container .worldcup-event-info .event-info-content .card-bg .card-info {
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}
.container .worldcup-event-info .event-gift-list {
  position: relative;
  width: 100%;
  height: 100%;
}
.container .worldcup-event-info .event-gift-list::before {
  content: "";
  background: transparent linear-gradient(0deg, #000000 0%, #56042c 100%) 0% 0% no-repeat padding-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 533px;
  z-index: -1;
}
.container .worldcup-event-info .event-gift-list .event-gift-item {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto 25px;
  width: 342px;
}
.container .worldcup-event-info .event-gift-list .event-gift-item:first-child {
  margin-top: 39px;
}
.container .worldcup-event-info .event-gift-list .event-gift-item:last-child {
  margin: 0 auto;
}
.container .worldcup-event-info .event-gift-list .event-gift-item:not(:first-child) span {
  color: #ffffff;
}
.container .worldcup-event-info .event-gift-list .event-gift-item img {
  width: 123px;
  height: 88px;
  object-fit: cover;
  object-position: center center;
  margin-right: 7px;
}
.container .worldcup-event-info .event-gift-list .event-gift-item span {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #fec310;
}
.container .worldcup-event-info .more {
  box-sizing: border-box;
  background-color: #000000;
  width: 100%;
  padding: 42px 44px 64px;
}
.container .worldcup-event-info .more a {
  display: block;
  width: 100%;
  height: 100%;
}
.container .worldcup-event-info .more a img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

.worldcup-modal {
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  padding: 33px 24px 97px;
}
.worldcup-modal.active {
  display: flex;
}
.worldcup-modal .btn-close {
  display: block;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 40px;
  height: 44px;
}
.worldcup-modal .modal-body {
  box-sizing: border-box;
  display: block;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  margin-top: 24px;
  padding: 16px 16px 0;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3019607843);
  overflow-y: scroll;
}
.worldcup-modal .modal-body::after {
  content: "";
  position: absolute;
  bottom: 81px;
  left: 24px;
  background-color: #56042c;
  width: calc(100% - 48px);
  height: 16px;
}
.worldcup-modal .modal-body .category-type {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: #56042c;
  text-align: center;
  position: relative;
  width: max-content;
  margin: 0 auto;
}
.worldcup-modal .modal-body .category-type::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -29px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: #56042c;
}
.worldcup-modal .modal-body .news-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.worldcup-modal .modal-body .news-list-item {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}
.worldcup-modal .modal-body .news-list-item img {
  width: min(31.8vw, 248px);
  height: min(20vw, 156px);
  object-fit: cover;
  object-position: center center;
  margin-right: 1rem;
}
.worldcup-modal .modal-body .news-list-item .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.worldcup-modal .modal-body .news-list-item .info-title {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  max-height: 36px;
  color: #56042c;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.worldcup-modal .modal-body .news-list-item .info .see-more {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #56042c;
  margin-top: auto;
  padding: 2px 0px 3px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #56042c;
}

.event-modal {
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  padding: 33px 24px 44px;
}
.event-modal.active {
  display: flex;
}
.event-modal .btn-close {
  display: block;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 40px;
  height: 44px;
}
.event-modal .modal-body {
  display: block;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  margin-top: 24px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3019607843);
}
.event-modal .modal-body .card-header {
  box-sizing: border-box;
  background-color: #56042c;
  padding: 18px 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  width: 100%;
}
.event-modal .modal-body .card-header span {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: #ffffff;
  position: relative;
}
.event-modal .modal-body .card-header span::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -29px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: #ffffff;
}
.event-modal .modal-body .card-body {
  width: 100%;
  height: calc(100% - 62px);
  overflow-y: scroll;
  position: relative;
}
.event-modal .modal-body .card-body img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
.event-modal .modal-body .card-body .content {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 24px 0;
}
.event-modal .modal-body .card-body .text {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #56042c;
}
.event-modal .modal-body .card-body .step-content {
  display: flex;
}
.event-modal .modal-body .card-body .step-content .step {
  text-align: left;
  color: #56042c;
  margin-right: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  min-width: 80px;
}
.event-modal .modal-body .card-body .step-content .step span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 22px;
  height: 22px;
  color: #ffffff;
  z-index: 1;
  text-align: center;
}
.event-modal .modal-body .card-body .step-content .step span::before {
  content: "";
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  top: 0;
  left: 0;
  border-radius: 21px;
  background-color: #56042c;
  z-index: -1;
}
.event-modal .modal-body .card-body .rule-title {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 18px;
  color: #fec310;
  margin: 24px 0 8px;
}
.event-modal .modal-body .card-body .rule-paragraph {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #56042c;
}

.soon-modal {
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  padding: 33px 24px 81px;
}
.soon-modal.active {
  display: flex;
}
.soon-modal .btn-close {
  display: block;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 40px;
  height: 44px;
}
.soon-modal .card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  margin-top: 24px;
  padding-top: 24px;
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3019607843);
}
.soon-modal .card::after {
  content: "";
  position: absolute;
  bottom: 81px;
  left: 24px;
  background-color: #56042c;
  width: calc(100% - 48px);
  max-width: 672px;
  height: 16px;
}
.soon-modal .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  color: #56042c;
  position: relative;
  margin-bottom: 8px;
}
.soon-modal .card-header::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -29px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: #56042c;
}
.soon-modal .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.soon-modal .card-body img {
  width: 100%;
  height: 334px;
  height: clamp(334px, 85.64vw, 500px);
  object-fit: cover;
  object-position: center center;
}
.soon-modal .card-body p {
  font-size: 24px;
  font-weight: bold;
  line-height: 18px;
  color: #fec310;
  opacity: 1;
}

.result-modal {
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(100vh + 42px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  padding: 33px 24px 81px;
  overflow: hidden;
  overflow-y: scroll;
}
.result-modal.active {
  display: flex;
}
.result-modal .btn-close {
  position: fixed;
  display: block;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 40px;
  width: 40px;
  min-height: 40px;
  height: auto;
}
.result-modal .card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 672px;
  height: 500px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 43%, #56042c 43%, #56042c 44%, #56042c 45%, #56042c 46%, #56042c 47%, #56042c 48%, #56042c 49%, #56042c 50%, #56042c 60%, #56042c 70%, #56042c 80%, #56042c 90%, #56042c 100%);
}
.result-modal .card.between {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 30%, #56042c 30%, #56042c 40%, #56042c 50%, #56042c 60%, #56042c 70%, #56042c 80%, #56042c 90%, #56042c 100%);
}
.result-modal .card.end {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 23%, #56042c 23%, #56042c 24%, #56042c 25%, #56042c 26%, #56042c 27%, #56042c 28%, #56042c 29%, #56042c 30%, #56042c 40%, #56042c 50%, #56042c 60%, #56042c 70%, #56042c 80%, #56042c 90%, #56042c 100%);
}
.result-modal .card-header {
  box-sizing: border-box;
  display: flex;
  padding-top: 60px;
}
.result-modal .card-header img {
  object-fit: cover;
  object-position: center center;
  width: 343px;
  height: 334px;
}
.result-modal .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3019607843);
  background-color: #ffffff;
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
}
.result-modal .card-body:before {
  content: "";
  background-color: #56042c;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 9px solid #ffffff;
  border-right: 9px solid #ffffff;
  border-top: 15px solid #56042c;
}
.result-modal .card-body .text {
  width: calc(100% - 56px);
  font-size: 24px;
  font-weight: bold;
  line-height: 18px;
  color: #56042c;
  margin: 47px 28px 31px;
}
.result-modal .card-body .text .fb-link {
  text-decoration: underline;
  color: #fec310;
  cursor: pointer;
}

@media (min-width: 720px) {
  .worldcup-modal {
    max-width: 720px;
    margin: 0 auto;
  }
  .worldcup-modal .modal-body .news-list-item .info .see-more:hover {
    border: 1px solid #fec310;
    color: #fec310;
  }
  .event-modal {
    max-width: 720px;
    margin: 0 auto;
  }
  .soon-modal {
    max-width: 720px;
    margin: 0 auto;
  }
  .soon-modal .card::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: #56042c;
    width: 100%;
    max-width: 672px;
    height: 16px;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(180deg, #000000 0%, #56042c 100%) 0% 0% no-repeat padding-box;
}
.footer-container img {
  width: 148px;
  height: 83px;
  object-fit: cover;
  object-position: center center;
  margin-top: 40px;
}
.footer-container .text {
  margin-top: 32px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #c1c6c9;
}
.footer-container .social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 22px;
}
.footer-container .social-list-item {
  margin-right: 31px;
}
.footer-container .social-list-item:last-child {
  margin-right: 0;
}
.footer-container .copyright {
  margin: 32px 0 53px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #c1c6c9;
}